<div class="rp-page-title"> {{'modeType.MACA21'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.LB0087'|translate}} :</label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" formControlName="stuCode" placeholder="{{'placeholder.P00001'|translate}}" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField text-right">{{'psms.DT0004'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="firstnameTh" placeholder="{{'placeholder.P00001'|translate}}" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.DT0005'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="lastnameTh" placeholder="{{'placeholder.P00001'|translate}}" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0083'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option>ป.1 - ป.3</option>
                    <option>ป.4 - ป.6</option>
                    <option>ม.1 - ม.3</option>
                    <option>ม.4 - ม.6</option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-card>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()"><i
                class="fa fa-print"> {{'psms.B0028'|translate}}
              </i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="check">
            <mat-header-cell *matHeaderCellDef fxFlex="15"><input type="checkbox"
                [(ngModel)]="headerSelected" (change)="checkAll()"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15"><input type="checkbox"
                [(ngModel)]="element.isSelected" (change)="isAllSelected()"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0001'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{i + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.stu_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left"> {{element.fullname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <button *ngIf="element.recordStatus != 'D'" title="{{'buttonTitle.BTT005'|translate}}" class="btn btn-bordered waves-effect waves-light btn-primary"
                (click)="onPrint(element.stu_code)">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>