<div class="rp-page-title">{{'modeType.MGRA03'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br />
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            
            <div class="row"> 
              <div class="col-sm-2"></div>
              <div class="col-sm-3 text-right">
                <label class="labelyear ">{{'psms.LB0047'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="yearId">
                  <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of yearList" [value]="ele.yearId">{{ele.yearCode}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 text-right">
                <label class="labelField ">{{'psms.LB0083'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classId" >
                <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classSnameTh}}</option>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                <i class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i>
              </button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()">
                <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
          <div class="row">
              <div class="col-lg-6">
                  <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
                  <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009'|translate}}</i></button>
                  <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010'|translate}}</i></button>
              </div>
          </div>
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">{{ i + 1 }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuCode">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0115'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.seq_no}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.fullname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="classRoom">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0034'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.dob}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="setNo">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0116'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element" class="mat-cell-center">
                {{element.transcript_date}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="remark">
                <mat-header-cell *matHeaderCellDef>{{'psms.DT0075'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-cell-center">
                  {{element.remark}}
                </mat-cell>
              </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'table.notFound'|translate}}</div>
          <mat-paginator [pageSizeOptions]="[10] " [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
      
      </mat-card>
    </div>
  </div>
</div>