<div class="mat-card-popup" style="width: 750px;">
  <div class="portlet light bordered">
      <div class="portlet-title">
          <div class="row">
              <div class="col-sm-6">
                  <h4 mat-dialog-title>{{'psms.LB0216'|translate}}</h4>
              </div>
              <div class="col-sm-6 text-right">
                <a style="float: right;cursor: pointer" (click)="close()"> <mat-icon class="mt-2">clear</mat-icon></a>
              </div>
          </div><br/>
          <form [formGroup]="printform" autocomplete="off">
              <div class="row text-right">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-3">
                      <label class="labelField">{{'psms.LB0217'|translate}} :</label>
                  </div>
                  <div class="col-sm-7">
                      <select class="form-control" formControlName="Scale" required >
                          <option  selected value="1" >1 นิ้ว(2.5 * 3.25 cm)</option>
                          <option *ngIf="class !='1'"  value="2">1.5 นิ้ว(3 * 4 cm)</option>
                          <option *ngIf="class !='1'" value="3">2 นิ้ว(4 * 5.2 cm)</option>
                          <option *ngIf="class !='1'" value="4">ปพ(3.3 * 2.5 cm)</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-3 text-right">
                      <label class="labelField">{{'psms.LB0218'|translate}} :</label>
                  </div>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" formControlName="picNum" pattern="[0-9]{1,2,3,4,5,6,7,8,9}" maxlength="2" size="50" onKeyUp="if(isNaN(this.value)){ Swal.fire('กรุณากรอกตัวเลข','','error'); this.value='';}" />
                  </div>
              </div>
              <div class="text-center" style="padding: 10px;">
                  <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info" (click)="onPrint()"><i class="fa fa-print"></i> {{'psms.DL0018'|translate}}</button>

                  <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" [mat-dialog-close]="true">{{'button.closeWindow'|translate}}</button>
              </div>
          </form><br/>
      </div>
  </div>
</div>