<div class="rp-page-title"> {{'modeType.MACA13'|translate}}</div>
<div class="container-fluid">
  <div class="row"> 
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.DT0015' | translate}} :</label>
                </div>
                <div class="col-sm-4"> 
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0232' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.class_id">
                      {{ele.class_sname_th}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.DT0008' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.class_room_id">
                      {{ele.class_room}}
                    </option>
                  </select>
                </div>  
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'button.search' | translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="subjectCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0022' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.subject_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="subjectName">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0023' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.subject_name_th}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="subjectStatus">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button *ngIf="element.recordStatus != 'D'" type="button"
                class="btn btn-success btn-bordered waves-effect waves-light" 
                (click)="onForm(element.year_group_id,element.class_room_subject_id)"><i class="fa fa-address-book-o"></i>
                {{'psms.DT0092' | translate}}</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <mat-paginator [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div> 