<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MACA13'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onSave()"><i
          class="fa fa-save"> {{'button.save' | translate}}</i></button>
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <div class="row">
          <div class="col-sm-2">
            <label class="labelField">{{'psms.DT0022' | translate}} : {{subjectCode}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.DT0023' | translate}}: {{subjectName}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0232' | translate}} : {{classRoomSnameTh}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.DT0015' | translate}} : {{yearGroupName}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0170' | translate}} : {{term}}</label>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-4 text-right">
            <label class="labelField"> <samp class="text-danger">*
              {{'psms.LB0263' | translate}}</samp></label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"  (change)="onChoose($event)">
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
              <option value="0" selected>0</option> 
            </select>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'table.no' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{i + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.stuCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left"> {{element.fullname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score1">
            <mat-header-cell *matHeaderCellDef>1.รักชาติ ศาสน์ กษัตริย์ </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score1">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score2">
            <mat-header-cell *matHeaderCellDef>2.ซื่อสัตย์ สุจริต</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score2">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score3">
            <mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;3.มีวินัย&nbsp;&nbsp;&nbsp;</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score3">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score4">
            <mat-header-cell *matHeaderCellDef>4.ใฝ่เรียนรู้ </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score4">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score5">
            <mat-header-cell *matHeaderCellDef>5.อยู่อย่างพอเพียง </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score5">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score6">
            <mat-header-cell *matHeaderCellDef>6.มุ่งมั่นในการทำงาน </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score6">

                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score7">
            <mat-header-cell *matHeaderCellDef>7.รักความเป็นไทย </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score7">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score8">
            <mat-header-cell *matHeaderCellDef>8.มีจิตสาธารณะ </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score8">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score9">
            <mat-header-cell *matHeaderCellDef>9.รักและรับใช้ </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <select class="form-control" [(ngModel)]="element.score9">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
              </select> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card>
    </div>
  </div>
</div>
