<div class="rp-page-title">{{'modeType.MMST06'|translate}}</div>
<div class="container-fluid"> 
    <div class="row m-2">
        <div class="col-lg-12">
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header><br>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0099'|translate}} :</label>
                                </div>
                                <div class="col-lg-4">
                                    <select class="form-control" formControlName="lnameTh" (change)="ddlTbMstClass()">
                                        <option value="" selected>--- {{'psms.LB0099'|translate}} ---</option>
                                        <option *ngFor="let ele of catClassList" [value]="ele.lnameTh">{{ele.lnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0106'|translate}} :</label>
                                </div>
                                <div class="col-lg-4">
                                    <select class="form-control" formControlName="classLnameTh">
                                        <option value="" selected>--- {{'psms.LB0106'|translate}} ---</option>
                                        <option *ngFor="let ele of classList" [value]="ele.classLnameTh">
                                            {{ele.classSnameTh}}</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i
                                        class="fa fa-search"> {{'psms.B0004'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger"
                                    (click)="onClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-lg-12">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReport()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009'|translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010'|translate}}</i></button>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success"
                            (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023'|translate}}</i></button>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource"
                    class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="lnameTh">
                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0019'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="20"> {{element.catclass.lnameTh}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="classLnameTh">
                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0029'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="20"> {{element.classLnameTh}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="classLnameEn">
                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0030'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="20"> {{element.classLnameEn}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <mat-header-cell *matHeaderCellDef fxFlex="6">{{'psms.DT0031'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="6"> {{element.age}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedUser">
                        <mat-header-cell *matHeaderCellDef fxFlex="14">{{'psms.DT0013'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="14"> {{element.updatedUser}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedDate">
                        <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0014'|translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                            {{util.transform(element.updatedDate,'')}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recordStatus">
                        <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0007'|translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002' | translate}}"
                                (click)="onForm(element.classId)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                (click)="onDelete(element)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)"
                    showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>