<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6"> 
      <span style="font-size:34px ">บันทึกใบ ปพ.1</span>
    </div>
    <div class="col-lg-6 text-right mt-1">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon class="mt-2">clear</mat-icon>
      </a>
    </div>
  </div>
</div>
<form [formGroup]="formStuTranscript" (ngSubmit)="onSave_StuTranscript()">
<div mat-dialog-content class="text20">
  <div class="portlet light bordered">
      <!-- <form [formGroup]="formStuTranscript" (ngSubmit)="onSave_StuTranscript()"> -->
        <div class="row">
          <div class="col-sm-2">
            <label> <b>รหัสนักเรียน :</b> </label>
          </div>
          <div class="col-sm-3">
            <label class="">
              <b>{{stu_code}}</b>
            </label>
          </div>
          <div class="col-sm-2">
            <label ><b>ชุดที่</b> <samp class="lbrequire" *ngIf="formStuTranscript.value.setNo == ''">*</samp> :</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" formControlName="setNo" pattern="[0-9]{1,2,3,4,5,6,7,8,9}" maxlength="5" onKeyUp="if(isNaN(this.value)){ Swal.fire('กรุณากรอกตัวเลข','','error').then(() => {this.close();}); this.value='';}" (change)="onCheck()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label ><b>ชื่อ-นามสกุล :</b></label>
          </div>
          <div class="col-sm-3">
            <label class="">
              <b>{{fullname}}</b>
            </label>
          </div>
          <div class="col-sm-2">
            <label ><b>เลขที่</b> <samp class="lbrequire" *ngIf="formStuTranscript.value.seqNo == ''">*</samp> :</label>
          </div>
          <div class="col-sm-2">
            <input type="text" pattern="[0-9]{1,2,3,4,5,6,7,8,9}" class="form-control"  formControlName="seqNo" maxlength="7" onKeyUp="if(isNaN(this.value)){ Swal.fire('กรุณากรอกตัวเลข','','error').then(() => {this.close();}); this.value='';}" (change)="onCheck()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class=""><b>ห้องเรียน :</b></label>
          </div>
          <div class="col-sm-3" >
            <label class="">
              <b>{{class_room}}</b>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 ">
            <label class="labelField "><b>วันที่ออกใบ ปพ.1 :</b></label>
          </div>

          <div style="width: 215px;padding: 0 15px;">
            <div class="input-group">
              <input [matDatepicker]="picker" class="form-control" formControlName="transcriptDate" readonly />
              <div class="input-group-btn">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 ">
            <label class="labelField "><b>วันอนุมัติการจบ :</b></label>
          </div>

          <div style="width: 215px;padding: 0 15px;">
            <div class="input-group">
              <input [matDatepicker]="picker1" class="form-control" readonly />
              <div class="input-group-btn">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 ">
            <label class="labelField "><b>วันออกจากโรงเรียน :</b></label>
          </div>

          <div style="width: 215px;padding: 0 15px;">
            <div class="input-group">
              <input [matDatepicker]="picker2" class="form-control"  readonly />
              <div class="input-group-btn">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div style="width: 189px;padding: 0 0 0 15px;">
            <label class="labelField "><b>สาเหตุที่ออกจากโรงเรียน :</b></label>
          </div>

          <label class="labelField "><input class="form-control" style="width: 230px;height: 25px;" type="text" value="จบการศึกษา"/></label>
        </div>
        
      <!-- </form> -->
  </div>

  <div class="portlet light bordered">
    <div class="btwLine" style="width:55px ;" ><b>O-NET</b></div>
      <form [formGroup]="formONET">
        <div class="row">
          <p style="padding-left: 35px;">61</p><p style="padding-left: 15px;">ภาษาไทย</p><p style="padding-left: 100px;">คะแนนเต็ม&nbsp;100&nbsp;ได้&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;" formControlName="thaiScore" type="text"/>
          <p style="padding-left: 35px;">65</p><p style="padding-left: 15px;">วิทยาศาสตร์</p><p style="padding-left: 100px;">คะแนนเต็ม&nbsp;100&nbsp;ได้&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;" formControlName="thaiScore" type="text"/>
        </div>
        <div class="row">
          <p style="padding-left: 35px;">64</p><p style="padding-left: 15px;">คณิตศสาตร์</p><p style="padding-left: 85px;">คะแนนเต็ม&nbsp;100&nbsp;ได้&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;" formControlName="thaiScore" type="text"/>
          <p style="padding-left: 35px;">63</p><p style="padding-left: 15px;">ภาษาอังกฤษ</p><p style="padding-left: 100px;">คะแนนเต็ม&nbsp;100&nbsp;ได้&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;" formControlName="thaiScore" type="text"/>
        </div>
      </form>
  </div>

  <div class="portlet light bordered">
    <div class="btwLine" style="width:340px;"><b>สัดส่วนนผลการเรียนและผลการทดสสอบระดับชาติ</b></div>
      <form [formGroup]="formScore">
        <div class="row">
          <p style="padding-left: 35px;">1.ร้อยละ&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;"  type="text" value="70"/><p>&nbsp;ของผลการเรียนเฉลี่ยตลอด 3 ปี</p><p style="padding-left: 134px;">=&nbsp;</p><input class="form-control" formControlName="10070" type="text"style="width: 55px;height: 25px;"/>
        </div>
        <div class="row">
          <p style="padding-left: 35px;">2.ร้อยละ&nbsp;</p><input class="form-control" style="width: 55px;height: 25px;"  type="text" value="30"/><p>&nbsp;ของผลการทดสอบทางการศึกษาระดับชาติพื้นฐาน</p><p style="padding-left: 15px;">=&nbsp;</p><input class="form-control" formControlName="10070" type="text"style="width: 55px;height: 25px;"/>
        </div>
        <div class="row">
          <p style="padding-left: 35px;">3.ผลการเรียนฌแลี่ยรวม</p><p style="padding-left: 298px;">=&nbsp;</p><input class="form-control" formControlName="10070" type="text"style="width: 55px;height: 25px;"/>
        </div>
      </form>
  </div>

  <div class="portlet light bordered">
    <div class="btwLine" style="width: 150px;"><b>เกณฑ์การประเมิน</b></div>
      <form [formGroup]="formCriteria">
        <textarea class="col-12" id="Graduation" name="Graduation" style=" height: 300px;padding: 20px 20px;">
                                      เกณฑ์การประเมินของสถานศึกษา
              1.ผู้เรียนต้องเรียนรู้ทุกวิชาพื้นฐานและมีผลการเรียนระดับ 1.0 ขึ้นไป จึงจะถือว่าผ่านการประเมินรายวิชาพื้นฐาน
              2.ผู้เรียนต้องมีผลการประเมินการอ่าน คิดวิเคราะห์และเขียน ได้รับดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน
              3.ผู้เรียนต้องมีผลการประเมินคุณลักษณะอันพึงประสงค์ ได้รับระดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน
              4.ผู้เรียนต้องปฎิบัติกิจกรรมพัฒนาผู้เรียนและมีผลการประเมินกิจกรรม "ผ" ในทุกกิจกรรมพัฒนาผู้เรียน
              คำอธิบายเกณฑ์ ผลการเรียนรายวิชา
                        4      หมายถึง   ดีเยี่ยม       2            หมายถึง ปานกลาง
                        3.5    หมายถึง   ดีมาก        1.5          หมายถึง พอใช้
                        3      หมายถึง   ดี           1            หมายถึง ผ่านเกณฑ์ขั้นต่ำ
                        2.5    หมายถึง   ค่อนข้างดี     0            หมายถึง ต่ำกว่าเกณฑ์

        </textarea>
      </form>
  </div>

  <div class="portlet light bordered">
    <div class="btwLine" style="width: 75px;"><b>หมายเหตุ</b></div>
      <form [formGroup]="formAnnotation">
        <textarea class="col-12" id="Annotation" name="Annotation" style=" height: 150px;padding: 20px 20px;">
        หมายเหตุ
        ดำเนินการตามสั่งกระทรวงศึกษาที่่ ศธ04010/ว1239 เรื่องแนวปฏิบัติการวัดและประเมินผลการเรียนในระยะต่อเนื่อง ระหว่างหลักสูตรการศึกษาขั้นพื้นฐาน พุทธศักราช 2544 และหลักสูตรแกนกลางการศึกษาขั้นพื้นฐานพุทธศักราช 2551 ลงวันที่ 1 กันยายน 2557
        </textarea>
      </form>
  </div>
</div>

<div class="text-center" style="padding: 10px;">
  <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"><i
      class="fa fa-save"></i> บันทึก</button>
  <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
      class="fa fa-remove"></i> ยกเลิก</button>
  <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
    [mat-dialog-close]="true">ปิดหน้าต่าง</button>
</div>
</form>