<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6">
            {{headerType}} {{'modeType.MMST04'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack()"><i
                    class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <mat-card>
                <form [formGroup]="form" (ngSubmit)="onSave()">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br />
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0022'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="subjectCode"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.subjectCode == null || validateValue == true && form.value.subjectCode == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0023'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="nameTh"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.nameTh == null || validateValue == true && form.value.nameTh == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.LB0099'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <select class="form-control" formControlName="catClassId" (change)="ddlDepartment()"
                                        [ngClass]="{'error': validateValue == true &&  form.value.catClassId == null || validateValue == true && form.value.catClassId == ''}">
                                        <option value="" selected>-- {{'psms.LB0099'|translate}} --</option>
                                        <option *ngFor="let ele of catclassList" [value]="ele.catClassId">
                                            {{ele.lnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.LB0101'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <select class="form-control" formControlName="departmentId"
                                        [ngClass]="{'error': validateValue == true &&  form.value.departmentId == null || validateValue == true && form.value.departmentId == ''}">
                                        <option value="" selected>-- {{'psms.LB0101'|translate}} --</option>
                                        <option *ngFor="let ele of departmentList" [value]="ele.department_id">
                                            {{ele.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0017'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <select class="form-control" formControlName="subjectType"
                                        [ngClass]="{'error': validateValue == true &&  form.value.subjectType == null || validateValue == true && form.value.subjectType == ''}">
                                        <option value="" selected>-- {{'psms.DT0017'|translate}} --</option>
                                        <option *ngFor="let ele of subjecttypeList" [value]="ele.subjectTypeId">
                                            {{ele.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0025'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="credit"
                                        placeholder="{{'placeholder.P00001' | translate}}" (keypress)="onNumber($event)" maxlength="3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0026'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="lesson"
                                        placeholder="{{'placeholder.P00001' | translate}}" (keypress)="onNumber($event)"
                                        maxlength="3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0027'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <select class="form-control" formControlName="scale">
                                        <option value="" selected>-- {{'psms.DT0027'|translate}} --</option>
                                        <option *ngFor="let ele of scaleList" [value]="ele.scaleId">
                                            {{ele.scaleName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0013'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="updatedUser" value="{{updatedUser}}"
                                        readonly>
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0013'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="updatedDate"
                                        value="{{updatedDate}} {{updatedDateTime | date :'HH:mm:ss' :'+700' :'en-US'}}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-floppy-o"> {{'psms.B0005'|translate}}</i></button>
                        <button type="button" (click)="onCancel()"class="btn btn-bordered waves-effect waves-light btn-danger"><i class="fa fa-remove">{{'psms.B0006'|translate}}</i></button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>