<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6"> 
      <span style="font-size:34px ">Transcript</span>
    </div>
    <div class="col-lg-6 text-right mt-1">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon class="mt-2">clear</mat-icon>
      </a>
    </div>
  </div>
</div>

<div mat-dialog-content class="text20">
  <div class="portlet light bordered">
    <form [formGroup]="formStuTranscript">

      <div class="row">
        <div class="col-sm-2">
          <label> <b>Student Code :</b> </label>
        </div>
        <div class="col-sm-3">
          <label class="">
            <b>{{stu_code}}</b>
          </label>
        </div>
        <div class="col-sm-2">
          <label ><b>Student Name :</b></label>
        </div>
        <div class="col-sm-3">
          <label class="">
            <b>{{fullnameEn}}</b>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label class=""><b>Class Room :</b></label>
        </div>
        <div class="col-sm-3" >
          <label class="">
            <b>{{class_room}}</b>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 ">
          <label class="labelField "><b>Transcript Date</b></label>
        </div>

        <div style="width: 215px;padding: 0 15px;">
          <div class="input-group">
            <input [matDatepicker]="picker" class="form-control" formControlName="transcriptDate" readonly />
            <div class="input-group-btn">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 ">
          <label class="labelField "><b>Date of Education :</b></label>
        </div>

        <div style="width: 215px;padding: 0 15px;">
          <div class="input-group">
            <input [matDatepicker]="picker1" class="form-control" readonly />
            <div class="input-group-btn">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 ">
          <label class="labelField "><b>Date of Leaving :</b></label>
        </div>

        <div style="width: 215px;padding: 0 15px;">
          <div class="input-group">
            <input [matDatepicker]="picker2" class="form-control"  readonly />
            <div class="input-group-btn">
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div style="width: 205px;padding: 0 0 0 15px;">
          <label class="labelField "><b>the reason leaving school :</b></label>
        </div>

        <label class="labelField "><input class="form-control" style="width: 230px;height: 25px;" type="text" value="จบการศึกษา"/></label>
      </div>

    </form>
  </div>

  <div class="portlet light bordered">
    <div class="btwLine" style="width: 190px;"><b>Graduation Requirements</b></div>
      <form [formGroup]="formCriteria">
        <textarea class="col-12" id="Graduation" name="Graduation" style=" height: 300px;padding: 20px 20px;">
          Graduation Requirements</b></p>
          1.Meet the reauirsment for credits enrolled in accordance wiht the curriculum structure of 84 credits.</p>
          2.Earn the total 84 credits of which 66 credits are courses and 18 credits are selective courses.</p>
          3.Meet the passing criteria for reading.analytical thinking and writing skill:desired characterristics:and learner development activities.</p>
          Graduation System
          4=Exceilent     3.5=Very good     3=Good      2.5=Rather good     2=Satisfactory      1.5=Fairly satisfactory
          1=Pass          0=Fail   
        </textarea>
      </form>
  </div>

</div>

<div class="text-center" style="padding: 10px;">
  <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"><i
      class="fa fa-save"></i> บันทึก</button>
  <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
      class="fa fa-remove"></i> ยกเลิก</button>
  <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
    [mat-dialog-close]="true">ปิดหน้าต่าง</button>
</div>