<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'modeType.MTEC03'|translate}}
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>  
  </div>  
</div>
<div mat-dialog-content>
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                <div class="portlet light bordered">
                    <div class="portlet-title"><br>
                        <div class="row">
                            <div class="col-lg-3"></div> 
                            <div class="col-lg-2"> 
                                <label class="labelField">{{'psms.DT0004' | translate}} :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="firstnameTh" placeholder="{{'placeholder.P00001' | translate}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-2">
                                <label class="labelField">{{'psms.DT0005' | translate}} :</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="lastnameTh" placeholder="{{'placeholder.P00001' | translate}}"> 
                            </div> 
                        </div><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i class="fa fa-search"> {{'button.search' | translate}}</i></button>
                            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger" (click)="onCancel()" ><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-2"> 
        <div class="col-lg-12"> 
            <div class="row">
                <div class="col-lg-3"> 
                    <select class="form-control" name="cat_class_id" [(ngModel)]="cat_class_id" (change)="ddlClass()">
                    <option [value]="undefined" disabled selected>-- {{'psms.LB0243' | translate}} --</option>
                    <option *ngFor="let ele of catClassList" [value]="ele.catClassId">{{ele.lnameTh}}</option>                   
                    </select>
                </div>
                <div class="col-lg-3"> 
                    <select class="form-control" name="class_name" [(ngModel)]="class_name"> 
                    <option [value]="undefined" disabled selected>-- {{'psms.LB0244' | translate}}--</option>
                    <option *ngFor="let ele of classList" [value]="ele.classLnameTh">{{ele.classLnameTh}}</option>                   
                    </select>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-2 text-right" *ngIf="cat_class_id != undefined && class_name != undefined">
                    <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onSave()"  [disabled]="selectTeacher == false"><i class="fa fa-save"> {{'button.save' | translate}}</i></button>
                </div> 
            </div>  
            <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                <ng-container matColumnDef="no">
                    <mat-header-cell *matHeaderCellDef fxFlex="8"><input type="checkbox" [disabled]="cat_class_id == undefined && class_name == undefined" [(ngModel)]="headerSelected" name="list_header" (change)="checkAll()" /></mat-header-cell>
                    <mat-cell  *matCellDef="let element" class="mat-cell-center" fxFlex="8"><input type="checkbox" [disabled]="cat_class_id == undefined && class_name == undefined" [(ngModel)]="element.isSelected" name="list_column" (change)="isAllSelected()" /></mat-cell> 
                </ng-container>
                <ng-container matColumnDef="titleId"> 
                    <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DT0003' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15"> {{element.titleId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstnameTh">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}}</mat-header-cell> 
                    <mat-cell *matCellDef="let element"> {{element.firstnameTh}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastnameTh">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0005' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastnameTh}} </mat-cell> 
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
            </mat-table>
            <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
            <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
