<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MACA15'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-card>
        <div class="row">
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0087'|translate}}</b> : {{stuCode}}</label>
          </div>
          <div class="col-sm-4">
            <label class="labelField"><b>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</b> : {{fullname}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0050'|translate}}</b> : {{classRoom}}</label>
          </div>
          <div class="col-sm-3">
            <label class="labelField"><b>{{'psms.LB0170'|translate}}/{{'psms.DT0015'|translate}}</b> : {{year}}</label>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="subjectName">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0023'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.subject_code}}
            </mat-cell>
          </ng-container>z
          <ng-container matColumnDef="scoreFinal">
            <mat-header-cell *matHeaderCellDef>คะแนน</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.score_final}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card>
    </div>
  </div>
</div>