<div class="rp-page-title">
    {{'modeType.MMST07'|translate}} 
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 19px;">
            <mat-expansion-panel class="color-1">
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br />
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0106'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="classId" (change)="ddlTbMstClass()">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classLnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0048'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="activityGroupId"
                                        (change)="ddlActivityGroup()">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of activityGroupList" [value]="ele.activityGroupId">
                                            {{ele.activityGroup}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0112'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                        formControlName="activityName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0049'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                        formControlName="location">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i
                                        class="fa fa-search" aria-hidden="true">
                                        {{'psms.B0004' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger"><i
                                        class="fa fa-remove" (click)="onClear()" aria-hidden="true">
                                        {{'psms.B0006' | translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReport()"><i class="fa fa-print" aria-hidden="true">
                                {{'psms.B0011' | translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true">
                                {{'psms.B0009' | translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true">
                                {{'psms.B0010' | translate}}</i></button>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success"
                            (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023' | translate}}</i></button>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource"
                    class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="activityGroupId">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0048' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.activity_group}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="activityName">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0033' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.activity_name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="classLnameTh">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0029' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.class_sname_th}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0049' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.location}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedUser">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0013' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.updated_user}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedDate">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0014' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center">
                            {{util.transform(element.updated_date,'')}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recordStatus">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0007' | translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element">
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-warning"
                                (click)="onForm(element.activity_id)"  title="{{'buttonTitle.BTT002' | translate}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(element)"
                                title="{{'buttonTitle.BTT003' | translate}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128' | translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)"
                    showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>