<div class="rp-page-title">ทักษะชีวิตของผู้เรียน</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> ค้นหาข้อมูล </i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
        <div class="portlet light bordered"><br>
            <div class="portlet-title">
          <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-2">
              <label class="labelField "> ภาคเรียน/ปีการศึกษา :</label>
            </div>
            <div class="col-sm-4">
                <select class="form-control" formControlName ="yearGroupId">
                <option selected value="" >-- เลือกรายการ --</option>
                <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                  {{ele.name}}
              </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
            <label class="labelField "> ระดับชั้น :</label>
          </div>
          <div class="col-sm-4">
              <select class="form-control" formControlName ="classId" (change)="ddlClassroom()">
              <option selected value="" >-- เลือกรายการ --</option>
              <option *ngFor="let ele of classList" [value]="ele.classId">
                {{ele.classSnameTh}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
          <label class="labelField "> ห้องเรียน :</label>
        </div>
        <div class="col-sm-4">
            <select class="form-control" formControlName ="classRoomId">
            <option selected value="" >-- เลือกรายการ --</option>
            <option *ngFor="let ele of roomList" [value]="ele.classRoomId">
              {{ele.classRoom}}
            </option>
          </select>
        </div>
      </div>
        <br>
          <div class="text-center">
            <button type='button' class="btn btn-bordered waves-effect waves-light m-r-15 btn-info" 
            (click)="onReport3('')" ><i class="fa fa-search"> รายงานสรุป</i></button>
            <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                class="fa fa-search"> ค้นหา</i></button>
            <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)="onCancel()"><i
                class="fa fa-remove"> ยกเลิก</i></button>
          </div>
            </div>
        </div>
      </form>
      </mat-expansion-panel>
      <mat-card>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
              (click)="onReport2('')"><i class="fa fa-print"> พิมพ์ข้อมูล</i></button>
          </div>
        </div><br>
         <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>ลำดับที่</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{i + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>รหัสนักเรียน</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.stu_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>ชื่อจริง-นามสกุล</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">{{element.fullname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>ชั้นปี/ห้อง </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.class_room}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>การกระทำ</mat-header-cell>
              <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.action}}
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onReport1(element.stu_profile_id)"><i
                  class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
              </mat-cell>
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">ไม่พบข้อมูล</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>