<div class="rp-page-title">{{'modeType.MADP07'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.B0004'|translate}} </i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>

        <!-- <form> -->
          <div class="portlet light bordered"><br>
            <div class="portlet-title">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}
                    :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="1">1/2563<option>
                    <option value="2">2/2563</option>
                    <option value="3">1/2562</option>
                    <option value="4">2/2562</option>
                    <option value="5">1/2561</option>
                    <option value="6">2/2561</option>
                    <option value="7">1/2560</option>
                    <option value="8">2/2560</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.LB0232'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="1">ป.1<option>
                    <option value="2">ป.2</option>
                    <option value="3">ป.3</option>
                    <option value="4">ป.4</option>
                    <option value="5">ป.5</option>

                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="1">1<option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.LB0251'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="1">ไทย<option>
                    <option value="2">คณิต</option>
                    <option value="3">วิทย์</option>
                    <option value="4">สังคม</option>
                    <option value="5">ประวัติศาสตร์</option>
                    <option value="6">ภาษาอังกฤษ</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </div>
          </div>
        <!-- </form> -->
      </mat-expansion-panel>

      <br>
      <div class="portlet light bordered">
        <div class="text-right">
          <button type="button" (click)="printComponent('print-area')" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
              class="fa fa-print"></i> {{'psms.B0011'|translate}}</button>
        </div>

        <div class="portlet-title" id="print-area">
          <div class="row">
            <div class="col-lg-12" style="margin-top:30px;">
              <p class="text-center">ตารางแสดงผลการสอบกลางภาคเรียนที่ 1 ปีการศึกษา 2561</p>
              <p class="text-center">ระดับชั้นประถมศึกษาปีที่ 1</p>
             
            </div>
            <div class="col-md-12" style="margin-bottom:30px;">
              <div class="table-responsive  p-t-30">
                <table border="1" cellspacing="1" cellpadding="1" style="width: 100%;">
                  <tbody>
                      <tr class="text-center">
                          <td rowspan="2" colspan="1">ระดับชั้น</td>
                          <td rowspan="1" colspan="6">คะแนนเฉลี่ย ( X )</td>
                      </tr>
                      <tr class="text-center">
                          <td style="width: 14.2%;">ไทย</td>
                          <td style="width: 14.2%;">คณิต</td>
                          <td style="width: 14.2%;">วิทย์</td>
                          <td style="width: 14.2%;">สังคม</td>
                          <td style="width: 14.2%;">ประวัติศาสตร์</td>
                          <td style="width: 14.2%;">ภาษาอังกฤษ</td>
                      </tr>
                      <tr class="text-center">
                          <td>ป.1</td>
                          <td>
                              16.38
                          </td>
                          <td>
                              16.67
                          </td>
                          <td>
                              15.72
                          </td>
                          <td>
                              13.73
                          </td>
                          <td>
                              14.04
                          </td>
                          <td>
                              11.50
                          </td> 
                      </tr>
                  </tbody>
              </table>
            </div>
            </div>
            <div class="col-md-12" style="border: 3px solid #dddddd;margin-bottom: 20px; padding: 40px;" fxLayout="row" fxLayoutAlign="center center" >
              <ngx-charts-bar-vertical  [view]="view"  [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [legendTitle]="legendTitle" [yScaleMax]="yScaleMax" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [barPadding]="barPadding">
              </ngx-charts-bar-vertical>
            </div>
              
            <div class="col-md-12" style="border: 3px solid #dddddd;padding: 40px 20px;">
          
              <textarea  class="col-12" rows="5" style="border: none;">จากตารางพบว่า คะแนนวิชาคณิตศาสตร์ มีคะแนนเฉลี่ยสูงสุด คือ 16.67 รองลงมาเป็นวิชาภาษาไทยมี คะแนนเฉลี่ย 16.36 รองลงมาวิทยาศาสตร์ คะแนนเฉลี่ย 15.72 รองลงมาวิชาประวัติศาสตร์ 14.04 รองลงมาวิชาสังคมศึกษาคะแนนเฉลี่ย 13.73 คะแนนเฉลี่ยน้อยสุดคือวิชาภาษาอังกฤษ มีคะแนนเฉลี่ย 11.50</textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>