<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6">
      {{headerType}} {{'modeType.MMST12'|translate}}
    </div>
    <div class="col-lg-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBackPage()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br>
          <div class="portlet light bordered">
            <div class="portlet-title"><br>

              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.LB0161'|translate}}<span class="lbrequire">*</span> :</label>
                </div>
                <div class="col-lg-5">
                  <select class="form-control" formControlName="divisionId"
                    [ngClass]="{'error': validateValue == true &&  form.value.divisionId == null || validateValue == true && form.value.divisionId == ''}">
                    <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                    <option *ngFor="let ele of divisionList" [value]="ele.divisionId">
                      {{ ele.divisionNameTh }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="subDivisionNameTh" class="labelField">{{'psms.LB0159'|translate}}<span class="lbrequire">*</span>
                    :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" formControlName="subDivisionNameTh"
                    placeholder="{{'placeholder.P00001' | translate}}"
                    [ngClass]="{'error': validateValue == true &&  form.value.subDivisionNameTh == null || validateValue == true && form.value.subDivisionNameTh == ''}">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="subDivisionNameEn" class="labelField">{{'psms.LB0160'|translate}}
                    :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" formControlName="subDivisionNameEn"
                    placeholder="{{'placeholder.P00001' | translate}}">
                </div>
              </div>

              <div class="row" *ngIf="form.value.subDivisionId != ''">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="name" class="labelField">{{'psms.DT0013'|translate}} :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" value="{{updatedUser}}" disabled>
                </div>
              </div>

              <div class="row" *ngIf="form.value.subDivisionId != ''">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="name" class="labelField">{{'psms.DT0014'|translate}} :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control"
                    value="{{util.transform(updatedDate,'')}} {{updatedDate | date: 'HH:mm': '+07:00': 'en-US'}}"
                    disabled>
                </div>
              </div>

              <div class="col-lg-12 text-center" *ngIf="form.value.subDivisionId == ''">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
              <div class="col-lg-12 text-center" *ngIf="form.value.subDivisionId != ''">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="loadData()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>