<div class="rp-page-title">{{'modeType.MACA18'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}} </i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered"><br>
            <div class="portlet-title">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField "> {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}  :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupName">
                    <option value="" selected>-- {{'psms.LB0130'|translate}}  --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.name">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField "> {{'psms.LB0232'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId">
                    <option [value]="undefined" disabled selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classSnameTh}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField ">{{'psms.LB0171'|translate}} :</label>
                </div>
                <div class="col-sm-4" style="padding-top:10px">
                  <div class="Lang">
                    <input type="radio" name="langCode" value="1" formControlName="langCode" /> &nbsp; TH &nbsp;
                    <input type="radio" name="langCode" value="2" formControlName="langCode" /> &nbsp; EN &nbsp;
                  </div>
                </div>
              </div>

              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()"><i
                class="fa fa-print"> {{'psms.B0028'|translate}}
              </i></button>
          </div>
        </div>

        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">

          <ng-container matColumnDef="check">
            <mat-header-cell *matHeaderCellDef fxFlex="15"><input type="checkbox"
                [disabled]="searchForm.value.classId == undefined" [(ngModel)]="headerSelected" (change)="checkAll()">
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15"><input type="checkbox"
                [(ngModel)]="element.isSelected" (change)="isAllSelected()"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DT0001'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="15">
              {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0232'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.lname_th}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.class_room_sname_th}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>