<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MMST10'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col-lg-12">
      <form [formGroup]="paramForm" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br>
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3  mt-2 text-right">
                  <label class="labelyear ">{{'psms.DT0057'|translate}} <samp class="lbrequire"
                      *ngIf="paramForm.value.position == ''">*</samp>:</label>
                </div>
                <div class="col-sm-5">
                  <select class="form-control" formControlName="position"
                    [ngClass]="{'error': validateValue == true &&  paramForm.value.position == null || validateValue == true && paramForm.value.position == ''}">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of pList" [value]="ele.positionNameTh">
                      {{ ele.positionNameTh}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 text-right">
                  <label class="labelField"> {{'psms.DT0003'|translate}}-{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}} (TH) <samp class="lbrequire"
                      *ngIf="paramForm.value.fullnameTh == ''">*</samp>:</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                    formControlName="fullnameTh"
                    [ngClass]="{'error': validateValue == true &&  paramForm.value.fullnameTh == null || validateValue == true && paramForm.value.fullnameTh == ''}">
                </div>
                <div>
                  <button type="button" (click)="onFrom()" class=" btn btn-bordered waves-effect waves-light
                    btn-primary">{{'psms.B0027'|translate}}</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 text-right">
                  <label class="labelField"> {{'psms.DT0003'|translate}}-{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}} (EN) :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                    formControlName="fullnameEn">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 text-right">
                  <label class="labelField"> {{'psms.LB0155'|translate}} :</label>
                </div>
                <div class="col-lg-5">
                  <div class="input-group">
                    <input type="file" style="display: none;" (change)="onImage($event)" #fileInput1>
                    <input type="text" class="form-control" formControlName="_sig"
                    placeholder="{{'placeholder.P00002' | translate}}" disabled>
                    <div class="input-group-btn">
                      <span (click)="fileInput1.click()"><button type="button"
                          class="btn btn-primary btn-bordered waves-effect waves-light btn-md"><i
                            class="fa fa-folder-open"></i></button></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField">
                    {{'psms.DT0050'|translate}} : </label>
                </div>
                <div>
                  <div class="input-group">
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="labelField">
                    <input type="checkbox" formControlName="iscurrent">
                  </label>
                  ({{'psms.LB0156'|translate}})
                </div>
              </div><br>
              <div class=" col-lg-12 text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-save">
                    {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onCancle()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>