<div class="rp-page-title">{{'modeType.MSTU10'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br /> 

        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="row">
              <div class="col-sm-4">
                <select class="form-control" formControlName="yearGroupId" hidden>
                  <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                  <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                    {{ ele.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField ">{{'psms.LB0083' | translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                  <option value="" required selected>-- {{'psms.LB0130' | translate}} --</option>
                  <option *ngFor="let ele of classList" [value]="ele.classId">
                    {{ ele.classLnameTh }}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField">{{'psms.LB0084' | translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classRoomId">
                  <option value="" required selected>-- {{'psms.LB0130' | translate}} --</option>
                  <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                    {{ ele.classRoom }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField ">{{'psms.LB0202' | translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="condition" (click)="onSearch(0)" >
                  <option value="" required selected>-- {{'psms.LB0130' | translate}} --</option>
                  <option [ngValue]="2">ดูเฉพาะ first/ Last</option>
                  <option [ngValue]="1">ดูทุก transection</option>

                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class=""><br />{{'psms.LB0203' | translate}} :</label>
              </div>
              <div class="col-sm-4">

                <div class="input-group">
                  <input [matDatepicker]="picker1" class="form-control" formControlName="startDate" readonly>
                  <div class="input-group-btn">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                      <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class=""><br />{{'psms.LB0204' | translate}} :</label>
              </div>
              <div class="col-sm-4">

                <div class="input-group">
                  <input type="text" [matDatepicker]="picker2" class="form-control" formControlName="endDate" readonly>
                  <div class="input-group-btn">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                      <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                </div>

              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                <i class="fa fa-search"> {{'button.search' | translate}}</i>
              </button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)=onCancel()
                aria-hidden="true">
                <i class="fa fa-remove"> {{'button.cancel' | translate}}</i>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()">
              <i class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i>
            </button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onExportPDF()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009' | translate}}</i>
            </button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onExportXLS()">
              <i class=" fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010' | translate}}</i>
            </button>
          </div>
        </div>

        <mat-table [dataSource]="dataSource" *ngIf="searchForm.value.condition == '1' "
          class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0001' | translate}}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">{{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.stucode1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstNameTh">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.fullname1 }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0061' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ utilService.transform(element.check_time,'')}} {{ element.time }}

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>


        <!-- 2 -->
        <mat-table [dataSource]="dataSourceAll"
          *ngIf=" searchForm.value.condition == '' || searchForm.value.condition == '2'"
          class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0001' | translate}}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">{{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.stu_code }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstNameTh">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.full_name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstTime">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0062' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ utilService.transform(element.firsttime,'')}} {{element.ftime}}

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastTime">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0063' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ utilService.transform(element.lasttime,'')}} {{element.ltime}}

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsAll"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsAll"></mat-row>
        </mat-table>

        <div *ngIf="pageSize == 0 || pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize || pageSizeAll" (page)="onSearch($event)"
          showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
