<div class="rp-page-title">{{'modeType.MACA08'|translate}}</div>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-lg-12">
            <mat-expansion-panel> 
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                      <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header><br>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                            <div class="row"> 
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label>
                                </div>
                                <div class="col-lg-3">
                                  <select class="form-control" formControlName="yearGroupId"> 
                                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">{{ele.name}}</option>                   
                                  </select>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div> 
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.LB0083' | translate}} :</label>
                                </div>
                                <div class="col-lg-3">
                                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                    <option *ngFor="let ele of classList" [value]="ele.class_id">{{ele.class_sname_th}}</option>                   
                                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.LB0084' | translate}} :</label>
                                </div> 
                                <div class="col-lg-3">
                                  <select class="form-control" formControlName="classRoomId">
                                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                    <option *ngFor="let ele of classroomList" [value]="ele.class_room_id">{{ele.class_room}}</option>                   
                                  </select>
                                </div>
                            </div><br> 
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onClear()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
                            </div>
                        </form>
                    </div>  
                </div> 
            </mat-expansion-panel> 
            <mat-card>
                <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="no.">
                        <mat-header-cell *matHeaderCellDef fxFlex="8">{{'table.no' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="8">{{(i + 1)+(paginator.pageIndex * paginator.pageSize)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="yearGroupName">
                      <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                      <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15">{{element.yearGroupJoin.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="departmentName">
                      <mat-header-cell *matHeaderCellDef>{{'psms.LB0101' | translate}}</mat-header-cell> 
                      <mat-cell *matCellDef="let element">{{element.departmentJoin.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="subjectCode"> 
                        <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0022' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"> {{element.subjectCode}} </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="subjectName">
                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0023' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-left" fxFlex="20"> {{element.subjectNameTh}} </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="classRoomLnameTh">
                      <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.LB0084' | translate}}</mat-header-cell>
                      <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"> {{element.classRoomJoin.classRoomSnameTh}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef fxFlex="10">{{'table.actions' | translate}}</mat-header-cell>
                      <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                          <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT009' | translate}}" (click)="onFormScore(element.classRoomSubjectId, element.subjectCode, element.subjectNameTh, element.yearGroupJoin.name, element.classRoomJoin.classRoomSnameTh)">
                              <i class="fa fa-save" aria-hidden="true"></i>
                          </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div> 
    </div>
</div>
