<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MACA14'|translate}}
    </div> 
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onSave()"><i
          class="fa fa-save"> {{'button.save' | translate}}</i></button>
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <div class="row">
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0087' | translate}} : {{stuCode}}</b></label>
          </div>
          <div class="col-sm-4">
            <label class="labelField"><b>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}} : {{fullname}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.DT0015' | translate}} : {{yearGroupName}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0170' | translate}} : {{term}}</b></label>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-4 text-right">
            <label class="labelField"> <samp class="text-danger">*
              {{'psms.LB0263' | translate}}</samp></label>
          </div>
          <div class="col-sm-2">
            <select class="form-control" (change)="onChoose($event)">
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
        </div> 
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'table.no' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{i + 1}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Head">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0096' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">{{element.itemDesc}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="desc">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0097' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">{{element.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score1">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0098' | translate}} 1</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> <input type="text" class="form-control mt-2"
                (keypress)="numberOnly($event)" onKeyUp="if(this.value>3){this.value='';}" [(ngModel)]="element.score1">
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score2">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0098' | translate}} 2</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> <input type="text" class="form-control mt-2"
                (keypress)="numberOnly($event)" onKeyUp="if(this.value>3){this.value='';}" [(ngModel)]="element.score2">
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="sumScore">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0099' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ceilNum(parseNum(element.score1)+parseNum(element.score2))}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
      </mat-card>
    </div>
  </div>
</div>