<div class="rp-page-title">
    <div class="row"> 
        <div class="col-lg-12"> 
            {{'psms.STU046'|translate}}
        </div>  
    </div>
</div> 
<div class="container-fluid">
    <div class="portlet light bordered"> 
        <div class="row m-2">  
            <div class="col-lg-12">
                <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                 
                        <div class="portlet-title">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"></div> 
                                    <div class="col-lg-3">
                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3 center-block" width="180">
                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <input type="file" style="display: none;" (change)="onImage($event)" #fileInput1>
                                            <input type="text" class="form-control" value="{{show_image}}" disabled>
                                            <div class="input-group-btn">
                                                <span (click)="fileInput1.click()"><button type="button"  class="btn btn-primary btn-bordered waves-effect waves-light btn-md"><i class="fa fa-folder-open"></i></button></span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div> 
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0008'|translate}} :</label>
                                    </div> 
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" formControlName="citizenId" placeholder="{{'placeholder.P00001' | translate}}" maxlength="13" (keypress)="numberOnly($event)" readonly>
                                    </div> 
                                </div>
                                <div class="row"> 
                                    <div class="col-lg-2"></div>
                                    <div class="col-sm-2 text-right">
                                        <label class="labelField">{{'psms.LB0010'|translate}} : </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" formControlName="title">
                                            <option  value="" selected>--- {{'psms.LB0011'|translate}} ---</option>
                                            <option *ngFor="let ele of titleList" [value]="ele.descTh">{{ele.descTh}}</option> 
                                        </select>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.DT0004'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" formControlName="firstName" placeholder="{{'placeholder.P00001' | translate}}">
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.DT0005'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" formControlName="lastName" placeholder="{{'placeholder.P00001' | translate}}">
                                    </div> 
                                </div> 
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0114'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" formControlName="phoneNo" placeholder="{{'placeholder.P00001' | translate}}" maxlength="10" (keypress)="numberOnly($event)">
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0043'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" formControlName="email" placeholder="{{'placeholder.P00001' | translate}}" readonly>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div> 
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0177'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" formControlName="usrName" readonly>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0167'|translate}} :</label>
                                    </div> 
                                    <div class="col-lg-5"> 
                                        <input type="password" class="form-control" formControlName="newpw" placeholder="{{'placeholder.P00001' | translate}}" maxlength="8" (change)="onCheckpw()" autocomplete="off" required>
                                    </div>  
                                </div> 
                                <div class="row">
                                    <div class="col-lg-2"></div> 
                                    <div class="col-lg-2 text-right">
                                        <label for="subjectTypeCode" class="labelField">{{'psms.LB0168'|translate}} :</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" formControlName="confirmpw" placeholder="{{'placeholder.P00001' | translate}}" maxlength="8" (change)="onCheckpw()" autocomplete="off" required>
                                    </div> 
                                </div>
                                
                            </div> 
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save"> {{'button.save' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="loadUser()"><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
                            </div>
                        </div>
             
                </form>
            </div>
        </div>
    </div>  
</div>


