<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MMST05'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="backPage()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
        <mat-card>
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right"><label class="labelField">{{'psms.DT0028'|translate}}<samp class="text-danger">*</samp>
                    :</label></div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}" formControlName="lnameTh"
                    [ngClass]="{'error': validateValue == true &&  form.value.lnameTh == null || validateValue == true && form.value.lnameTh == ''}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right" *ngIf="Status == 'แก้ไขข้อมูล'">
                  <label class="labelField">{{'psms.DT0013'|translate}} :</label>
                </div>
                <div class="col-sm-5" *ngIf="Status == 'แก้ไขข้อมูล'">
                  <input type="text" class="form-control" formControlName="updatedUser" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right" *ngIf="Status == 'แก้ไขข้อมูล'">
                  <label class="labelField">{{'psms.DT0014'|translate}} :</label>
                </div>
                <div class="col-sm-5" *ngIf="Status == 'แก้ไขข้อมูล'">
                  <input type="text" class="form-control" value="{{utilService.transform(updatedDate)}}" disabled />
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save">
                    {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i
                    class="fa fa-remove">
                    {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>