<div class="rp-page-title">
  {{'modeType.MADP03'|translate}}
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.B0004'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            <div class="portlet-title"><br />
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} : </label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupId" (change)="onCheckYearGroup()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0099'|translate}} : </label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="catClassId" (change)="onCheckCatClass()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of catclassList" [value]="ele.catClassId">
                      {{ele.lnameTh}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                    aria-hidden="true"> {{'button.search'|translate}}</i></button>
                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                    (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
                (click)="printComponent('print-area')"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>

              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <br>

      <div class="portlet light bordered">
        <div class="portlet-title"  id="print-area">
          <div class="row" *ngIf="checkdata">
            <div class="col-md-12 text-center">
              <div class="portlet light bordered rp-page-title">
                {{'psms.DT0110'|translate}} {{show_cat_class}} {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} {{show_year_group}}
              </div>
              <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single"
                [gradient]="gradient" (select)="onSelect($event)" [label]="label">
              </ngx-charts-advanced-pie-chart>
            </div>
            <div class="col-md-12 text-center">
              <ngx-charts-bar-vertical-2d [view]="view2" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [legendTitle]="legendTitle"
                [yAxisLabel]="yAxisLabel"  (select)="onSelect($event)">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>