<div class="rp-page-title"> {{'modeType.MMST01' | translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.DT0015' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearCode">
                    <option value="" selected>-- {{'psms.DT0015' | translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearCode">
                      {{ele.yearCode}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info">
                  <i class="fa fa-search"> {{'button.search' | translate}} </i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006' | translate}} </i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <!-- ส่วนตาราง -->
      <mat-card>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()"><i
                class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true">
                {{'psms.B0009' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true">
                {{'psms.B0010' | translate}}</i></button>
          </div>
          <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
              (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023' | translate}}</i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef fxFlex="14"> {{'psms.DT0015' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="14"> {{element.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="firstday">
            <mat-header-cell *matHeaderCellDef fxFlex="18"> {{'psms.DL0050' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="18">
              {{utilService.formatDateSQLToString(element.firstday,true,'/')}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastday">
            <mat-header-cell *matHeaderCellDef fxFlex="20"> {{'psms.DL0051' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20">
              {{utilService.formatDateSQLToString(element.lastday,true,'/')}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="yearCurrent">
            <mat-header-cell *matHeaderCellDef fxFlex="14"> {{'psms.DT0016' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="14"> <i class="material-icons"
                *ngIf="element.iscurrent == true">done</i>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="updatedUser">
            <mat-header-cell *matHeaderCellDef fxFlex="14"> {{'psms.DT0013' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="14"> {{element.updatedUser}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="updatedDate">
            <mat-header-cell *matHeaderCellDef fxFlex="10"> {{'psms.DT0014' | translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
              {{utilService.formatDateSQLToString(element.updatedDate,true,'/')}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="yearStatus">
            <mat-header-cell *matHeaderCellDef fxFlex="10"> {{'psms.DT0007' | translate}} </mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
              <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning"
                (click)="onForm(element.yearGroupId)"  title="{{'buttonTitle.BTT002' | translate}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-danger"
                (click)="onDelete(element)" title="{{'buttonTitle.BTT003' | translate}}"> 
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>