<div class="portlet light bordered">
    <div class="portlet-title">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-subtitle>
                <h3>ประจำภาคเรียน/ปีการศึกษา {{year_group_name}}</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="table-responsive  p-t-30">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of numberStu; let i = index;">
                            <td>{{i+1}}</td>
                            <td>จำนวนนักเรียน {{item.lname_th}}</td>
                            <td>{{item.student}} คน</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </div>
</div>