<div class="rp-page-title">
    {{'modeType.MACA11'|translate}}
</div>
 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <mat-expansion-panel class="color-1"><br />
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br />
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} : </label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="yearGroupId">
                                              <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                              <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                                                {{ele.name}}
                                            </option>                    
                                              </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0083' | translate}} :</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="classId" (change)="ddlClassRoomNo()">
                                  <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                  <option *ngFor="let ele of classList" [value]="ele.class_id">
                                              {{ele.class_sname_th}}
                                          </option>                 
                                  </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0084' | translate}} :</label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" formControlName="classRoomId">
                                  <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                  <option *ngFor="let ele of classroomnoList" [value]="ele.class_room_id">
                                              {{ele.class_room}}
                                          </option>                 
                                  </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i
                  class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i
                  class="fa fa-remove" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>

            <mat-card>
                <div style=" margin:25px 5px 5px 5px;">
                    <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="classRoomNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'table.no' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">{{element.class_room_no}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="stuCode">
                            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0087' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15"> {{element.stu_code}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef fxFlex="50">{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxFlex="50">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="memberStatus">
                            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'table.actions' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">
                                <button type="button" class="btn btn-success btn-bordered waves-effect waves-light" (click)="onForm(element.class_room_member_id)"><i class="fa fa-address-book-o"></i> {{'psms.DT0092' | translate}}</button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="checkdata" class="text-center ">{{'table.notFound' | translate}}</div>
                </div>
            </mat-card>
        </div>
    </div>
</div>