<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-10" style="font-size:34px">
      {{'psms.B0040'|translate}} {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} {{year_group_name}} {{'psms.LB0092'|translate}} {{class_room_name}}
    </div>
    <div class="col-lg-2 text-right mt-3">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</div> 
<div class="portlet light bordered">
  <div mat-dialog-content>
    <div class="row m-2">
      <div class="col-lg-12">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.LB0087'|translate}} :</label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" formControlName="stuCode" placeholder="{{'placeholder.P00001'|translate}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.DT0004'|translate}} :</label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" formControlName="firstnameTh" placeholder="{{'placeholder.P00001'|translate}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.DT0005'|translate}} :</label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" formControlName="lastnameTh" placeholder="{{'placeholder.P00001'|translate}}">
                </div>
              </div><br>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i
                    class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 text-right"> 
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onSave()" [disabled]="checkStu == false"><i
                class="fa fa-save"> {{'button.save'|translate}}</i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef ><input type="checkbox" [(ngModel)]="headerSelected"
                name="list_header" (change)="checkAll()" /></mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"><input type="checkbox"
                [(ngModel)]="element.isSelected" name="list_column" (change)="isAllSelected()" /></mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15"> {{element.stu_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef fxFlex="85">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="85"> {{element.fullname}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons> 
        </mat-paginator>
      </div>
    </div>
  </div>
</div>