<div class="portlet light bordered">
    <div class="portlet-title">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-subtitle>
                <h3>สถิตินักเรียน</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around">
                <mat-checkbox color="primary" class="example-margin" [checked]="explodeSlices"
                    (change)="explodeSlices = !explodeSlices">Explode Slices</mat-checkbox>
                <mat-checkbox color="primary" class="example-margin" [checked]="showLabels"
                    (change)="showLabels = !showLabels">Show Labels</mat-checkbox>
            </div>
            <div class="w-100 h-300p" #resizedDiv>
                <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" [legend]="showLegend"
                    [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
                </ngx-charts-pie-chart>
            </div>
        </mat-card-content>
    </div>
</div>
