<div class="rp-page-title">
    {{'modeType.MACA05'|translate}}
</div>
 
<div class="container-fluid">
    <div class="row"> 
        <div class="col-lg-12">
            <mat-expansion-panel class="color-1" expanded><br />
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 mt-2 text-right">
                                    <label>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="yearGroupId"
                                        (change)="ddlClassRoomSubject()">
                                        <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                        <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                                            {{ele.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 mt-2 text-right">
                                    <label>{{'psms.LB0083' | translate}} :</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="classId"
                                        (change)="ddlClassRoomSubject()" (change)="onCheckClass()">
                                        <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                        <option *ngFor="let ele of classList" [value]="ele.classId">
                                            {{ele.classSnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 mt-2 text-right">
                                    <label>{{'psms.LB0241' | translate}} :</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="subjectCode"
                                        (change)="onCheckClassRoomSubject()" *ngIf="checkvalue2">
                                        <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                        <option *ngFor="let ele of classRoomSubjectList" [value]="ele.subject_code">
                                            {{ele.subject_code}} - {{ele.subject_name_th}}
                                        </option>
                                    </select>
                                    <select class="form-control" formControlName="subjectCode"
                                        (change)="onCheckClassRoomSubject()" *ngIf="checkvalue1">
                                        <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                        <option *ngFor="let ele of classRoomSubjectList" [value]="ele.subject_code">
                                            {{ele.subject_code}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i
                                        class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                                    (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
                            </div>

                        </form>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-card>
                <!-- <div class="portlet light bordered">
                    <div class="portlet-title"> -->
                        <div class="portlet light bordered rp-page-title text-center" *ngIf="checkvalue2">
                            {{'psms.LB0251' | translate}} {{subject_name}}
                        </div>
                        <div class="portlet light bordered rp-page-title text-center" *ngIf="checkvalue1">
                            {{'psms.LB0251' | translate}} {{searchForm.value.subjectCode}}
                        </div>
                        <div style=" margin:25px 5px 5px 5px;">
                            <mat-table [dataSource]="dataSource" class="table table-bordered table-striped">
                                <ng-container matColumnDef="classRoom">
                                    <mat-header-cell *matHeaderCellDef fxFlex="10"> {{'psms.DT0008' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.class_room_sname_th}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="teacher1">
                                    <mat-header-cell *matHeaderCellDef fxFlex="27"> {{'psms.LB0247' | translate}} 1 </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxFlex="27"> {{element.teacher_fullname1}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage1">
                                    <mat-header-cell *matHeaderCellDef fxFlex="18"> {{'table.actions' | translate}} {{'psms.LB0247' | translate}} 1
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="18">
                                        <button type="button"
                                            class="btn btn-success btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT001' | translate}}"
                                            (click)="onAddForm(element,1)"><i class="fa fa-plus-circle"
                                                aria-hidden="true"></i></button>
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                            (click)="onDelete(element,1)"><i class="fa fa-trash"
                                                aria-hidden="true "></i></button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="teacher2">
                                    <mat-header-cell *matHeaderCellDef fxFlex="27"> {{'psms.LB0247' | translate}} 2</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxFlex="27"> {{element.teacher_fullname2}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage2">
                                    <mat-header-cell *matHeaderCellDef fxFlex="18"> {{'table.actions' | translate}} {{'psms.LB0247' | translate}} 2
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="18">
                                        <button type="button"
                                            class="btn btn-success btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT001' | translate}}"
                                            (click)="onAddForm(element,2)"><i class="fa fa-plus-circle"
                                                aria-hidden="true"></i></button>
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                            (click)="onDelete(element,2)"><i class="fa fa-trash"
                                                aria-hidden="true "></i></button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <div *ngIf="checkdata" class="text-center ">{{'table.notFound' | translate}}</div>
                        </div>
                    <!-- </div>
                </div> -->
            </mat-card>
        </div>
    </div>
</div>