<div class="rp-page-title">
    {{'modeType.MACA02'|translate}}
</div>
 
<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-3">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}</label>
                        </div>
                        <select class="form-control" formControlName="yearGroupId" (change)="onCheckYearGroup()">
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                            <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                                {{ele.name}}
                            </option>
                        </select><br>
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0084'|translate}}</label>
                        </div>
                        <select class="form-control" style="height:300px" formControlName="classRoom" multiple
                            (change)="onCheckClassRoom()">
                            <option *ngFor="let ele of classroomlistList" [value]="ele.class_room_id">
                                {{ele.class_room_sname_th}}
                            </option>
                        </select>
                        <br />
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i
                                    class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <ng-template matStepLabel>{{'psms.LB0252'|translate}}</ng-template>

                            <div style=" margin:25px 5px 5px 5px;">
                                <div class="portlet light bordered rp-page-title" style=" margin-bottom: -21px;">
                                    <div class="row">
                                        <div class="col-lg-7 mt-2">
                                            {{'psms.DT0078'|translate}} {{show_class_room}} {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}
                                            {{show_year_group}}
                                        </div>
                                        <div class="col-lg-5 text-right"
                                            *ngIf="searchForm.value.yearGroupId != '' && searchForm.value.classRoom !=''">
                                            <button [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-warning"
                                                (click)="onSearchteacher()"><i class="fa fa-plus-circle">
                                                    {{'psms.B0033'|translate}}</i></button>
                                        </div>
                                    </div>
                                </div>
                                <mat-table [dataSource]="dataTeacher"
                                    class="table-responsive table table-bordered table-striped table-hover">
                                    <ng-container matColumnDef="fullname">
                                        <mat-header-cell *matHeaderCellDef fxFlex="80">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxFlex="80">{{element.fullname}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'table.actions'|translate}}</mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxFlex="20"> <button
                                                [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button" class="btn btn-bordered waves-effect waves-light btn-info"
                                                title="{{'buttonTitle.BTT010'|translate}}"
                                                (click)="onDialogUpdateClassRoom(element)">{{'psms.B0038'|translate}}</button>
                                            <button title="{{'buttonTitle.BTT003'|translate}}" [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-danger"
                                                (click)="onDelete(element)"><i class="fa fa-trash"
                                                    aria-hidden="true "></i></button> </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumnsTeacher "></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsTeacher; "></mat-row>
                                </mat-table>
                                <div *ngIf="checkteacher" class="text-center ">{{'table.notFound'|translate}}</div>

                            </div>

                            <div style=" margin:25px 5px 5px 5px;">
                                <div class="portlet light bordered rp-page-title" style=" margin-bottom: -21px;">
                                    <div class="row">
                                        <div class="col-lg-8 mt-2">
                                            {{'psms.DT0079'|translate}} {{show_class_room}} {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}
                                            {{show_year_group}}
                                        </div>
                                        <div class="col-lg-2 text-right"
                                            *ngIf="searchForm.value.yearGroupId != '' && searchForm.value.classRoom !=''">
                                            <button [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-success"
                                                (click)="onSave()"><i class="fa fa-floppy-o"> {{'psms.B0039'|translate}}</i></button>
                                        </div>
                                        <div class="col-lg-2 text-right"
                                            *ngIf="searchForm.value.yearGroupId != '' && searchForm.value.classRoom !=''">
                                            <button [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-warning"
                                                (click)="onDialogAddStudent(classRoomId, classRoomName, yearGroupId, yearGroupName)"><i
                                                    class="fa fa-plus-circle">
                                                    {{'psms.B0040'|translate}}</i></button>
                                        </div>
                                    </div>
                                </div>
                                <mat-table [dataSource]="dataSource"
                                    class="table-responsive table table-bordered table-striped table-hover">
                                    <ng-container matColumnDef="classRoomNo">
                                        <mat-header-cell *matHeaderCellDef fxFlex="15">{{'table.no'|translate}}</mat-header-cell>
                                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                            <input [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="text" class="form-control" [(ngModel)]="element.class_room_no">
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="stuCode">
                                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0087'|translate}}</mat-header-cell>
                                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">
                                            {{element.stu_code}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fullname">
                                        <mat-header-cell *matHeaderCellDef fxFlex="40">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}} </mat-header-cell>
                                        <mat-cell *matCellDef="let element" fxFlex="40">
                                            <span *ngIf="element.is_ep==true">{{element.fullname_en}}</span>
                                            <span *ngIf="element.is_ep==false">{{element.fullname}}</span>
                                            <span
                                                *ngIf="element.is_ep==true && element.fullname_en==null">{{element.fullname}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef fxFlex="25">{{'table.actions'|translate}}</mat-header-cell>
                                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="25">
                                            <button type="button"
                                            title="{{'buttonTitle.BTT011'|translate}}"
                                                class="btn btn-bordered waves-effect waves-light btn-primary"
                                                (click)="onForm(element.class_room_member_id)"><i class="fa fa-eye"
                                                    aria-hidden="true"></i></button>
                                            <button title="{{'buttonTitle.BTT010'|translate}}" [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button" class="btn btn-bordered waves-effect waves-light btn-info" 
                                                (click)="onDialogUpdateClassRoom(element)">{{'psms.B0038'|translate}}</button>
                                            <button title="{{'buttonTitle.BTT003'|translate}}" [disabled]="role != 1 && role != 2 && role != 3 && role !=15"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-danger"
                                                (click)="onDelete(element)"><i class="fa fa-trash"
                                                    aria-hidden="true "></i></button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                                </mat-table>
                                <div *ngIf="checkdata" class="text-center ">{{'table.notFound'|translate}}</div>

                            </div>

                        </mat-step>

                        <mat-step [stepControl]="secondFormGroup">
                            <ng-template matStepLabel>{{'psms.LB0241'|translate}}</ng-template>
                            <div class="portlet light bordered rp-page-title text-center">
                                {{'psms.DT0080'|translate}} {{show_class_room}} {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} {{show_year_group}}
                            </div>
                            <div style="margin:25px 5px 5px 5px;"
                                *ngFor="let itemDepartment of dataDepartment; let i = index;">
                                <div *ngIf="_catClassId == 1">
                                    <div class="rp-page-title" style="margin-bottom:-20px;">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                {{itemDepartment.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table [dataSource]="dataSubject.data[i]"
                                        class="table table-bordered table-striped">
                                        <ng-container matColumnDef="subjectCode">
                                            <mat-header-cell *matHeaderCellDef> {{'psms.DT0022'|translate}} </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.subject_code}} </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsKid"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsKid;"></mat-row>
                                    </mat-table>
                                    <div *ngIf="dataSubject.data[i] == 0" class="text-center ">{{'table.notFound'|translate}}</div>

                                </div>
                                <div *ngIf="_catClassId == 2 || _catClassId == 3 || _catClassId == 4">
                                    <div class="rp-page-title" style="margin-bottom:-20px;">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                {{itemDepartment.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table [dataSource]="dataSubject.data[i]"
                                        class="table table-bordered table-striped">
                                        <ng-container matColumnDef="subjectCode">
                                            <mat-header-cell *matHeaderCellDef> {{'psms.DT0022'|translate}} </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.subject_code}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="subjectNameTh">
                                            <mat-header-cell *matHeaderCellDef> {{'psms.DT0023'|translate}} </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.subject_name_th}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="credit">
                                            <mat-header-cell *matHeaderCellDef> {{'psms.DT0025'|translate}} </mat-header-cell>
                                            <mat-cell *matCellDef="let element" class="mat-cell-center">
                                                {{_util.formatFloat(element.credit,1)}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsSubject"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsSubject;"></mat-row>
                                    </mat-table>
                                    <div *ngIf="dataSubject.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</div>