<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MTEC10'|translate}}
    </div>
  </div>
</div>
  <div class="container-fluid">
    <form [formGroup]="formTecProfile">
      <div class="main-div ">
        <mat-card  style="width: 500px;height: 290px; margin: 0 auto;border: 2px solid #0089ffb8"  >
          <div class="panel-default" *ngIf="code != '2' " >
            <div class="row">
              <div class="col-md-8">
                <div class="col-12" style="line-height: 30px;">ชื่อ {{ firstname_th }}</div>
                <div class="col-12" style="line-height: 30px;">สกุล {{ lastname_th }}</div>
                <div class="col-12" style="line-height: 30px;">รหัสประจำตัว {{ teacher_card_id }}</div>
                <div class="col-12" style="line-height: 30px;">วันเกิด {{ formatDateSQLToString(dob, true, "/") }}</div>
                <div class="col-12" style="line-height: 30px;">รหัสบัตรประชาชน {{ citizen_id }}</div>
              </div>
              <div class="col-md-4"><img *ngFor="let url of urls"[src]="url"style="height: 150px;"/></div>
            </div>
            <div class="row col-12" style="line-height: 30px;">
              <div class="col-4">SmartpurseId</div>
              <input type="text"class="col-sm-6"id="smartPurseId"maxlength="8"formControlName="smartPurseId" onkeyup="this.value = this.value.toUpperCase();"  />
            </div>
            <div class="row col-12">
              <div class="col-4" style="margin-bottom:0px;margin-top: 5px;">{{ formatDateSQLToString(open_card, true, "/") }}</div>
                <input [matDatepicker]="picker"class="col-sm-6"formControlName="expiredDate"/>
                <div>
                  <mat-datepicker-toggle matSuffix [for]="picker"><img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="col-12 row">
              <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">วันที่ออกบัตร</div>
              <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">วันที่หมดอายุ</div>
            </div>
          </div>
          <!---->
          <div class="panel-default" *ngIf="code != '1' " > 
            <div class="row">
              <div class="col-md-8">
                <div class="col-12" style="line-height: 30px;">{{ firstname_th }}</div>
                <div class="col-12" style="line-height: 30px;">{{ lastname_th }}</div>
                <div class="col-12" style="line-height: 30px;">NUMBER  {{ teacher_card_id }}</div>
                <div class="col-12" style="line-height: 30px;">DATE OF BIRTH  {{ formatDateSQLToString(dob, true, "/") }}</div>
                <div class="col-12" style="line-height: 30px;">PASSPORT NO.  {{ citizen_id }}</div>
              </div>
              <div class="col-md-4"><img *ngFor="let url of urls"[src]="url"style="height: 150px;"/></div>
            </div>
            <div class="row col-12" style="line-height: 30px;">
              <div class="col-4">SmartpurseId</div>
              <input type="text"class="col-sm-6"id="smartPurseId"maxlength="8"formControlName="smartPurseId" onkeyup="this.value = this.value.toUpperCase();"  />
            </div>
            <div class="row col-12">
              <div class="col-4" style="margin-bottom:0px;margin-top: 5px;">{{ formatDateSQLToString(open_card, true, "/") }}</div>
                <input [matDatepicker]="picker"class="col-sm-6"formControlName="expiredDate"/>
                <div>
                  <mat-datepicker-toggle matSuffix [for]="picker"><img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="col-12 row">
              <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">ISSUE DATE</div>
              <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">EXPIRE DATE</div>
            </div>
          </div>
        </mat-card>
      </div>
  
      <div class="text-center" style="margin-top: 15px;">
        <button type="button"class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" title="Back" (click)="onBack()"><i class="fa fa-arrow-circle-left"> {{'button.back'|translate}}</i></button>
        <button type="submit"class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" title="Save"(click)="onSaveSmartPurseId()"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"title="PDF File" (click)="onReportPDF()"><i class="fa fa-print" aria-hidden="true"> {{'button.printPdf'|translate}}</i></button>
        <button type="button"class="btn btn-bordered waves-effect waves-light m-r-15  btn-info"title="Print Card" (click)="tecCodeCheck()"><i class="fa fa-print" aria-hidden="true"></i> {{'psms.B0011'|translate}}
        </button>
      </div>
    </form>
  </div>