<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 19px;">
            <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="text-danger">* {{'psms.STU029' | translate}}</div>
                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
                                        <div class="input-group mb-3">
                                            <input class="form-control " value="{{show_name_file}}" readonly />
                                            <input type="file" multiple style="display: none"
                                                (change)="detectFiles($event)" #fileInput>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-warning"
                                                    (click)="fileInput.click()">
                                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4>{{fullname}}</h4> {{'psms.LB0175' | translate}} {{class_room}}
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    {{'psms.LB0087' | translate}} {{stu_code}}
                                </div>
                                <div class="col-lg-12 text-center">
                                    Smart Purse Id : {{smart_purse_id}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="rp-page-title">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{'modeType.MT0008'|translate}} {{'modeType.MSTU04'|translate}}
                                </div>
                                <div class="col-lg-6 text-right">
                                    <button type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
                                        (click)="onBack()"><i class="fa fa-arrow-circle-left" aria-hidden="true">
                                            {{'button.back' | translate}}</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="portlet light bordered">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0010' | translate}}<samp class="text-danger">*</samp>
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" formControlName="title"
                                                (change)="onCheckTitle()">
                                                <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                                <option *ngFor="let ele of titleList" [value]="ele.name">{{ele.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.DT0004' | translate}}<samp class="text-danger">*</samp>
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                                formControlName="firstnameTh" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.DT0005' | translate}}<samp class="text-danger">*</samp>
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                                formControlName="lastnameTh" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0028' | translate}}<samp class="text-danger">*</samp>
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                                formControlName="nickname" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0012' | translate}}<samp class="text-danger">*</samp> :</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <select disabled class="form-control" formControlName="genderId">
                                                <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                                <option *ngFor="let ele of genderList" [value]="ele.genderId">
                                                    {{ele.genderDescTh}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0034' | translate}}<samp class="text-danger">*</samp>
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input [matDatepicker]="picker" class="form-control"
                                                    formControlName="dob" (dateChange)="countDob(form.value.dob)" />
                                                <div class="input-group-btn">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                        <img matDatepickerToggleIcon
                                                            src="../assets/img/icon/Calendar2.png">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input disabled type="text" class="form-control" value={{count_dob}} />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0067' | translate}}
                                                :</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                                formControlName="pob" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0060' | translate}}
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" formControlName="pobProvince"
                                                (change)="ddlPobDistrict()">
                                                <option value="" selected>--- {{'psms.LB0130' | translate}} ---
                                                </option>
                                                <option *ngFor="let ele of provinceList" [value]="ele.provinceTh">
                                                    {{ele.provinceTh}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0061' | translate}}
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" formControlName="pobDistrict"
                                                (change)="ddlPobSubDistrict()">
                                                <option value="" selected>--- {{'psms.LB0130' | translate}} ---
                                                </option>
                                                <option *ngFor="let ele of pobdistrictList" [value]="ele.districtTh">
                                                    {{ele.districtTh}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.LB0062' | translate}}
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" formControlName="pobSubDistrict">
                                                <option value="" selected>--- {{'psms.LB0130' | translate}} ---
                                                </option>
                                                <option *ngFor="let ele of pobsubdistrictList"
                                                    [value]="ele.subDistrictTh">{{ele.subDistrictTh}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.DT0002' | translate}}<samp
                                                    class="text-danger">*</samp> :</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                                formControlName="citizenId" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="labelField">{{'psms.DT0010' | translate}}
                                                :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" formControlName="stuStatusId">
                                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                                <option *ngFor="let ele of stustatusList" [value]="ele.stuStatusId">
                                                    {{ele.statusDesc}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <!----->
                                <div class="col-lg-12 text-right">
                                    <button type="submit"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"><i
                                            class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
                                    <button type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                                        (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true">
                                        {{'button.cancel' | translate}}</i></button>
                                    <button *ngIf="is_left==false" type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                                        (click)="onIsLeftDialog(form.value.stuProfileId)">
                                        {{'button.isleft' | translate}}</button>
                                    <button *ngIf="is_left==true" type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                                        (click)="onCancelIsLeft(form.value.stuProfileId)">
                                        {{'button.isleft_cancel' | translate}}</button>
                                    <button type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
                                        (click)="onReport()"><i class="fa fa-print" aria-hidden="true">
                                        {{'button.print_stu' | translate}}</i></button>
                                    <button type="button"
                                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
                                        (click)="onForm(form.value.stuProfileId)"><i class="fa fa-eye"
                                            aria-hidden="true"> {{'button.view' | translate}}</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>