<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6">
      {{headerType}} {{'modeType.MMST13'|translate}}
    </div>
    <div class="col-lg-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBackPage()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br>
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="divisionNameTh" class="labelField">{{'psms.LB0157'|translate}}<span class="lbrequire">*</span>
                    :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" formControlName="divisionNameTh"
                    placeholder="{{'placeholder.P00001' | translate}}"
                    [ngClass]="{'error': validateValue == true &&  form.value.divisionNameTh == null || validateValue == true && form.value.divisionNameTh == ''}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="divisionNameEn" class="labelField">{{'psms.LB0158'|translate}}<span class="lbrequire">*</span>
                    :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" formControlName="divisionNameEn"
                    placeholder="{{'placeholder.P00001' | translate}}"
                    [ngClass]="{'error': validateValue == true &&  form.value.divisionNameEn == null || validateValue == true && form.value.divisionNameEn == ''}">
                </div>
              </div>
              <div class="row" *ngIf="form.value.divisionId != ''">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="name" class="labelField">{{'psms.DT0013'|translate}} :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" value="{{updatedUser}}" disabled>
                </div>
              </div>
              <div class="row" *ngIf="form.value.divisionId != ''">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right">
                  <label for="name" class="labelField">{{'psms.DT0014'|translate}} :</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control"
                    value="{{util.transform(updatedDate,'')}} {{updatedDate | date: 'HH:mm': '+07:00': 'en-US'}}"
                    disabled>
                </div>
              </div>
              <div class="col-lg-12 text-center" *ngIf="form.value.divisionId == ''">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
              <div class="col-lg-12 text-center" *ngIf="form.value.divisionId != ''">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="loadData()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>