<div class="rp-page-title">
    <div class="row">
        <div class="col-lg-6">
            {{'modeType.MACA08'|translate} 
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onBackPage()"><i class="fa fa-arrow-circle-left" aria-hidden="true"> {{'button.back' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-lg-12"> 
            <mat-card> 
                <div class="row" style="margin:25px 5px 5px 5px;">
                    <div class="col-lg-8 mt-2"> 
                        <label><b>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</b> {{yearGroupName}} &nbsp;</label> 
                        <label><b>{{'psms.LB0102' | translate}} :</b> {{subjectCode}} &nbsp;</label>
                        <label><b>{{'psms.LB0103' | translate}} :</b> {{subjectNameTh}} &nbsp;</label> 
                        <label><b>{{'psms.LB0083' | translate}} :</b> {{classRoomSnameTh}} &nbsp;</label> 
                    </div>
                    <div class="col-lg-2 text-right">
                        <label class="labelField"><font color="red">* {{'psms.LB0262' | translate}} :</font></label>
                    </div>
                    <div class="col-lg-2 text-left">
                        <select class="form-control" (change)="selectedAll($event.target.value)">              
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                            <option value="0" selected>0</option>           
                        </select>
                    </div>  
                </div> 
                <div style="margin:25px 5px 5px 5px;"> 
                    <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                          <mat-header-cell *matHeaderCellDef>{{'psms.LB0056' | translate}}</mat-header-cell>
                          <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index;"> {{element.classRoomNo}}</mat-cell>
                      </ng-container>
                        <ng-container matColumnDef="stuCode">
                            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.stuCode}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}}-{{'psms.DT0005' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="score1">
                            <mat-header-cell *matHeaderCellDef>สามารถอ่านและหาประสบการณ์<br>จากสื่อที่หลากหลาย</mat-header-cell>
                            <mat-cell class="mat-cell-center mt-2" *matCellDef="let element">
                                <select class="form-control mt-2" [(ngModel)]="element.score1" (change)="selectedHeader()">             
                                    <option value="0">0 </option>               
                                    <option value="1">1</option>               
                                    <option value="2">2</option>               
                                    <option value="3">3</option>               
                                </select>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="score2">
                            <mat-header-cell *matHeaderCellDef>สามารถจับประเด็นสำคัญ<br>ข้อเท็จจริง ความคิดเห็นเรื่องที่อ่าน</mat-header-cell>
                            <mat-cell class="mat-cell-center mt-2" *matCellDef="let element">
                                <select class="form-control mt-2" [(ngModel)]="element.score2" (change)="selectedHeader()">             
                                    <option value="0">0 </option>               
                                    <option value="1">1</option>               
                                    <option value="2">2</option>               
                                    <option value="3">3</option>               
                                </select>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="score3"> 
                            <mat-header-cell *matHeaderCellDef>สามารถเปรียบเทียบแง่มุมต่างๆ เช่น ข้อดี ข้อเสีย <br> ประโยชน์ โทษ ความเหมาะสม ไม่เหมาะสม</mat-header-cell>
                            <mat-cell class="mat-cell-center mt-2" *matCellDef="let element">
                                <select class="form-control mt-2" [(ngModel)]="element.score3" (change)="selectedHeader()">             
                                    <option value="0">0 </option>               
                                    <option value="1">1</option>               
                                    <option value="2">2</option>               
                                    <option value="3">3</option>               
                                </select>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="score4">
                            <mat-header-cell *matHeaderCellDef>สามารถแสดงความคิดต่อเรื่องที่อ่าน<br>โดยมีเหตุผลประกอบ</mat-header-cell>
                            <mat-cell class="mat-cell-center mt-2" *matCellDef="let element">
                                <select class="form-control mt-2" [(ngModel)]="element.score4" (change)="selectedHeader()">             
                                    <option value="0">0 </option>               
                                    <option value="1">1</option>               
                                    <option value="2">2</option>               
                                    <option value="3">3</option>               
                                </select>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="score5">
                            <mat-header-cell *matHeaderCellDef>สามารถถ่ายทอดความคิดเห็น<br>ความรู้สึกจากเรื่องที่อ่านโดยการเขียน</mat-header-cell>
                            <mat-cell class="mat-cell-center mt-2" *matCellDef="let element">
                                <select class="form-control mt-2" [(ngModel)]="element.score5" (change)="selectedHeader()">             
                                    <option value="0">0 </option>               
                                    <option value="1">1</option>               
                                    <option value="2">2</option>               
                                    <option value="3">3</option>               
                                </select>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSource.data.length == 0 " class="text-center ">{{'table.notFound' | translate}}</div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

