<div class="rp-page-title">
    <div class="row">
        <div class="col-lg-10" style="font-size:20px">
            {{'modeType.MACA17'|translate}}
        </div>
    </div>
</div> 
<div class="container-fluid" > 
    <div class="panel panel-default">
        <div class="row ">
            <div class="col-lg-12">
                <form >
                    <div class="portlet light bordered"><br>
                        <div class="row">
                            <div class="col-lg-3"></div>    
                            <div class="col-lg-6">
                                <div class="input-group" >
                                    <input type="text" class="form-control" name="excelPath" id="excelPath" [(ngModel)]="excelPath" #excelPathObject="ngModel" required readonly/>
                                    <input type="file" name="excelFile" id="excelFile" style="display: none;" (change)="onFileChange($event)"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-bordered waves-effect waves-light btn-md" name="btnBrowse" id="btnBrowse" onClick="excelFile.click();">
                                            <i class="fa fa-folder-open"></i>
                                        </button>  
                                    </div>          
                                </div>
                            </div> 
                        </div><br>
                        <div class="text-center">
                          <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-success" [disabled]="dataOnet.length == 0" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'psms.B0042' | translate}}</i></button>
                          <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" [disabled]="dataOnet.length == 0" (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
                        </div> 
                    </div>
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="row">      
                                <table class="table-responsive table table-bordered table-striped table-hover"  style="margin:0px 5px 5px 5px;" >
                                    <tr>
                                        <th>{{'onetTable.OTB001'|translate}}</th>
                                        <th>{{'onetTable.OTB002'|translate}}</th>
                                        <th>{{'onetTable.OTB003'|translate}}</th>
                                        <th>{{'onetTable.OTB004'|translate}}</th>
                                        <th>{{'onetTable.OTB005'|translate}}</th>
                                        <th>{{'onetTable.OTB006'|translate}}</th>
                                        <th>{{'onetTable.OTB007'|translate}}</th>
                                        <th>{{'onetTable.OTB008'|translate}}</th>
                                        <th>{{'onetTable.OTB009'|translate}}</th>
                                        <th>{{'onetTable.OTB010'|translate}}</th>
                                        <th>{{'onetTable.OTB011'|translate}}</th>
                                        <th>{{'onetTable.OTB012'|translate}}</th>
                                        <th>{{'onetTable.OTB013'|translate}}</th>
                                        <th>{{'onetTable.OTB014'|translate}}</th>
                                        <th>{{'onetTable.OTB015'|translate}}</th>
                                    </tr>
                                    <tr  *ngFor="let row of dataOnet">
                                        <td  *ngFor="let onet of row"> {{onet}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>