<div class="rp-page-title">{{'modeType.MACA20'|translate}}</div>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}  :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupId"><!--yearGroupName-->
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                      {{ ele.name }}
                    </option>
                  </select>
                </div> 
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0232'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId"><!--className-->
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="4" selected>ป.1</option>
                    <option value="5" selected>ป.2</option>
                    <option value="6" selected>ป.3</option>
                    <option value="7" selected>ป.4</option>
                    <option value="8" selected>ป.5</option>
                    <option value="9" selected>ป.6</option>
                    <option value="10" selected>ม.1</option>
                    <option value="11" selected>ม.2</option>
                    <option value="12" selected>ม.3</option>
                    <option value="13" selected>ม.4</option>
                    <option value="14" selected>ม.5</option>
                    <option value="15" selected>ม.6</option>
                  </select>
                </div>
              </div>

              <div class="row"> 
                <div class="col-sm-2"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0254'|translate}} :</label>
                </div>
                <div class="col-sm-4" style="padding-top:10px">
                  <div class="col-12">
                    <input type="radio" name="type" value="1" formControlName="type"/> &nbsp; {{'psms.LB0255'|translate}} &nbsp; 
                  </div>
                  <div class="col-12" style="padding-top: 15px;">
                    <input type="radio" name="type" value="2" formControlName="type"/> &nbsp; {{'psms.LB0264'|translate}} &nbsp;
                  </div>
                </div>
              </div>

              <div class="text-center" style="padding-top: 15px;">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)=onCancel()><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onForm()"><i class="fa fa-print"> {{'psms.B0028'|translate}}</i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">

          <ng-container matColumnDef="check">
            <mat-header-cell *matHeaderCellDef fxFlex="15"><input type="checkbox" [disabled]="classId == undefined"
                [(ngModel)]="headerSelected" (change)="checkAll()"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15"><input type="checkbox"
                [(ngModel)]="element.isSelected" (change)="isAllSelected()"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DT0001'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="15">{{i + 1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0232'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.classLnameTh}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="btn">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button type="button"  class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="onForm()" title="{{'buttonTitle.BTT005'|translate}}" >
                <i class="fa fa-print" aria-hidden="true" ></i>
               </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>