<button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <img src="assets/img/flags/{{langcode}}.png" alt="english"> 
</button>
<app-fullscreen _ngcontent-aju-c1="" class="ng-tns-c1-0">
    <button class="full-screen mat-icon-button" mat-icon-button="" title="full-screen">
        <span class="mat-button-wrapper">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted" role="img" aria-hidden="true">fullscreen</mat-icon>
        </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
</app-fullscreen>
<mat-menu #flagsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu flags">
    <span (mouseleave)="flagsMenuTrigger.closeMenu()">  
        <button mat-menu-item (click)="language('en')">
            <img src="assets/img/flags/en.png" alt="english"> 
            English
        </button>
        <button mat-menu-item (click)="language('th')"> 
            <img src="assets/img/flags/th.png" alt="thailand"> 
            Thailand
        </button> 
    </span>
</mat-menu>