<div class="rp-page-title">{{'modeType.MREP03'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0170' | translate}}/{{'psms.LB0047'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                      {{ ele.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0106'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">
                      {{ ele.classSnameTh }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                      {{ ele.classRoom }} {{ ele.classRoomLnameTh }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0171'|translate}} :</label>
                </div>
                <div class="col-sm-4" style="padding-top:10px">
                  <div class="Lang">
                    <input type="radio" name="langCode" value="1" formControlName="langCode"/> &nbsp; TH &nbsp; 
                    <input type="radio" name="langCode" value="2" formControlName="langCode"/> &nbsp; EN &nbsp;
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info">
                  <i class="fa fa-search"> {{'psms.B0004'|translate}}</i>
                </button>
                <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger">
                  <i class="fa fa-remove"> {{'psms.B0006'|translate}}</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card>
        <form [formGroup]="termForm" >
          <div class="row">
            <div class="col-lg-10" style="padding-top: 20px;">
              <div class="semester">
                <input type="radio" name="termCode" value="1" formControlName = "termCode" /> &nbsp; {{'psms.LB0172'|translate}} &nbsp;
                <input type="radio" name="termCode" value="2" formControlName = "termCode"/> &nbsp; {{'psms.LB0173'|translate}} &nbsp; 
                <input type="radio" name="termCode" value="3" formControlName = "termCode"/> &nbsp; {{'psms.LB0174'|translate}} &nbsp;
              </div>
            </div>
                <div class="col-lg-2 text-right" style="padding-top: 20px;">
                  <input type="radio" name="page" value="1" formControlName = "page" /> &nbsp; A4 &nbsp;
                  <input type="radio" name="page" value="2" formControlName = "page" /> &nbsp; A3 &nbsp;
                </div>
          </div>
        </form>
        <br />
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="yearGroupName">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.LB0047'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.year_group_name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="className">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0083'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.class_name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0084'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.class_room }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="yearStatus">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0007'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" title="{{'buttonTitle.BTT004' | translate}}" (click)="onReport(element.year_group_id,element.class_id,element.class_room_id)" >
                <i class="fa fa-file-pdf-o" aria-hidden="true" ></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>