<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-6">{{'psms.LB0178'|translate}}</div>   
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2"> 
      <div class="col-lg-12">
          <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off" >
                  <div class="portlet light bordered">
                      <div class="portlet-title"><br>
                        <!---------------------------------------------------- <ใส่ข้อมูล> ---------------------------------------------------------->
                        <div class="row-1">
                          <div class="col-lg-12">
                            <label class="labelField"><h4>{{'psms.LB0178'|translate}}</h4></label>
                          </div><br>
                        </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0180'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" maxlength="10" class="form-control" name="scCode" formControlName="scCode" placeholder="{{'placeholder.P00001'|translate}}" readonly>
                              </div> 
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0179'|translate}}<span class="lbrequire" *ngIf="form.value.scName == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scName" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.scName == '' || Validata == true && form.value.scName == null}">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0181'|translate}}<span class="lbrequire" *ngIf="form.value.scNameEn == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scNameEn" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.scNameEn == '' || Validata == true && form.value.scNameEn == null}">
                              </div> 
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0183'|translate}}<span class="lbrequire" *ngIf="form.value.scType == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scType" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.scType == '' || Validata == true && form.value.scType == null}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0184'|translate}}<span class="lbrequire" *ngIf="form.value.scRegisterNo == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" maxlength="50" class="form-control" formControlName="scRegisterNo" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.scRegisterNo == '' || Validata == true && form.value.scRegisterNo == null}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0185'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" maxlength="50" class="form-control" formControlName="scRegisterAuthorized" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0186'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scDoe" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0187'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scMotto" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0188'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scVision" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0189'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scMission" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0190'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scAbout" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0191'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scLogo" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0192'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scAnnounce" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0193'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scAnnounceStaff" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0194'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scAnnounceStudent" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0195'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="scBankAccount" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div><br>
                          <div class="row-1">
                            <div class="col-lg-12 text-left">
                              <label class="labelField"><h4>{{'psms.STU003'|translate}}</h4></label>
                            </div><br>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.STU003'|translate}}<span class="lbrequire" *ngIf="form.value.addrNo == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" maxlength="10" class="form-control" formControlName="addrNo" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.addrNo == '' || Validata == true && form.value.addrNo == null}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0054'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="village" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0057'|translate}}<span class="lbrequire" *ngIf="form.value.villageNo == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" maxlength="5" class="form-control" formControlName="villageNo" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.villageNo == '' || Validata == true && form.value.villageNo == null}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0143'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text"  class="form-control" formControlName="alley" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0058'|translate}}<span class="lbrequire" *ngIf="form.value.road == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="road" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.road == '' || Validata == true && form.value.road == null}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0059'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <select  class="form-control" formControlName="country" readonly>
                                  <option *ngFor="let ele of countryList" [value]="ele.countryCode">{{ ele.countryEn }}</option>
                                </select>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0060'|translate}}<span class="lbrequire" *ngIf="form.value.province == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <select class="form-control" formControlName="province" (change)="ddlDistrict()">
                                  <option *ngFor="let ele of provinceList" [value]="ele.provinceTh">{{ele.provinceTh}}</option> 
                                </select>
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0061'|translate}}<span class="lbrequire" *ngIf="form.value.district == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <select class="form-control" formControlName="district" (change)="ddlSubDistrict()">
                                  <option *ngFor="let ele of districtList" [value]="ele.districtTh">{{ele.districtTh}}</option> 
                                </select>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0062'|translate}}<span class="lbrequire" *ngIf="form.value.subDistrict == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <select class="form-control" formControlName="subDistrict">
                                  <option *ngFor="let ele of subDistrictList" [value]="ele.subDistrictTh">{{ele.subDistrictTh}}</option> 
                                </select>
                              </div> 
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0063'|translate}}<span class="lbrequire" *ngIf="form.value.postCode == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="postCode" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.postCode == '' || Validata == true && form.value.postCode == null}">
                              </div> 
                          </div><br>
                          <div class="row-1">
                            <div class="col-lg-12">
                              <label class="labelField"><h4>{{'psms.LB0196'|translate}}</h4></label>
                            </div><br>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0197'|translate}}<span class="lbrequire" *ngIf="form.value.tel == ''">*</span> :</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="tel" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': Validata == true && form.value.tel == '' || Validata == true && form.value.tel == null}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0197'|translate}}2:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="tel2" placeholder="{{'placeholder.P00001'|translate}}">
                              </div> 
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0197'|translate}}3:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="tel3" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0198'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="fax" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.DT0034'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="email" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.DT0034'|translate}}2:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="email2" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                          </div>
                          <div class="row"> 
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.DT0034'|translate}}3:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="email3" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2 text-left">
                                <label class="labelField">{{'psms.LB0199'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="website" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-2 ">
                                <label class="labelField">{{'psms.LB0200'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="facebook" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                              <div class="col-lg-2">
                                <label class="labelField">{{'psms.LB0182'|translate}}:</label>
                              </div>
                              <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="twitter" placeholder="{{'placeholder.P00001'|translate}}">
                              </div>
                          </div><br>
                          <!--------------------------------------------------- </ใส่ข้อมูล> --------------------------------------------------------->
                          <div class="col-lg-12 text-center">
                              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
                              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="loadData()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
                          </div>
                      </div>
                  </div>
          </form>
      </div>
  </div>
</div>