<div class="rp-page-title">
  {{'modeType.MSTU06'|translate}}
</div> 


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1" expanded><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="portlet light bordered">
          <div class="portlet-title"><br /> 
            <div class="row">
              <div class="col-sm-6">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                  <div class="card">
                    <div class="card-header">{{'psms.LB0208'|translate}}</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} : </label>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" formControlName="yearGroupId">
                            <option value="" selected>{{'psms.LB0130'|translate}}</option>
                            <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                              {{ele.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0083'|translate}} :</label>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" formControlName="classId" (change)="ddlClassRoomNo()">
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                            <option *ngFor="let ele of classList" [value]="ele.classId">
                              {{ele.classSnameTh}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0090'|translate}} :</label>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" formControlName="classRoomId">
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                            <option *ngFor="let ele of classroomnoList" [value]="ele.class_room_id">
                              {{ele.class_room}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i
                          class="fa fa-search" aria-hidden="true"> {{'psms.B0030'|translate}}</i></button>
                    </div>
                    <br>
                  </div>
                </form>
              </div>

              <div class="col-sm-6">
                <form [formGroup]="graduateForm">
                  <div class="card">
                    <div class="card-header">{{'psms.LB0212'|translate}}</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0213'|translate}} : </label>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" formControlName="graduateReason">
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                            <option *ngFor="let ele of graduateReasonList" [value]="ele.graduateReason">
                              {{ele.graduateReason}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0214'|translate}} :</label>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control" formControlName="classOf">
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                          </select>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom: 8px;">
                        <div class="col-sm-5 text-right">
                          <label class="labelField">{{'psms.LB0215'|translate}} :</label>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input [matDatepicker]="picker" class="form-control" formControlName="graduateDate" [ngModel] ="graduate_date"/>
                            <div class="input-group-btn">
                              <mat-datepicker-toggle matSuffix [for]="picker">
                                <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
                        (click)="onSave2()"><i class="fa fa-check" aria-hidden="true"> {{'button.approve'|translate}}</i></button>
                    </div>
                    <br>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </mat-expansion-panel>


      <mat-card>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef fxFlex="10">{{'table.no'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10"> {{element.numberstu}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuCode">
              <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0087'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15"> {{element.stuCode}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef fxFlex="70">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="70"> {{element.fullname}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="choose">
              <mat-header-cell *matHeaderCellDef fxFlex="15">
                <div class="col-sm-4"><input type="checkbox" [(ngModel)]="headerSelected" (change)="checkAll()"></div>
              </mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                <input type="checkbox" [(ngModel)]="element.isSelected" (change)="isAllSelected()">
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="checkdata" class="text-center ">{{'table.notFound'|translate}}</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>