<div class="rp-page-title">
  {{'modeType.MACA19'|translate}}
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <div class="portlet light bordered">
        <div class="portlet-title">

          <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
            <div class="col-sm-12 text-center">
              <label>{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </label>
            </div>
            <select class="form-control" formControlName="yearGroupId">
              <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
              <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                {{ele.name}}
              </option>
            </select><br>
            <div class="col-sm-12 text-center">
              <label>{{'psms.DT0008'|translate}}</label>
            </div>
            <select class="form-control" style="height:300px" formControlName="classRoom" multiple>
              <option *ngFor="let ele of classRoomList" [value]="ele.class_room_id">
                {{ele.class_room_sname_th}}
              </option>
            </select>
            <br />
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                  aria-hidden="true"> {{'button.search'|translate}}</i></button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div style=" margin:25px 5px 5px 5px;">

            <div class="row">
              <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                  (click)="onReport()"><i class="fa fa-print"> {{'psms.B0028'|translate}}
                  </i></button>
              </div>
            </div>

            <mat-table [dataSource]="dataSource"
              class="table-responsive table table-bordered table-striped table-hover">

              <ng-container matColumnDef="check">
                <mat-header-cell *matHeaderCellDef fxFlex="13"><input type="checkbox" [disabled]="checkData == true"
                    [(ngModel)]="headerSelected" (change)="checkAll()">
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="13"><input type="checkbox"
                    [(ngModel)]="element.isSelected" (change)="isAllSelected()"></mat-cell>
              </ng-container>

              <ng-container matColumnDef="classRoomNo">
                <mat-header-cell *matHeaderCellDef fxFlex="13">{{'psms.LB0056'|translate}}</mat-header-cell>
                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="13">
                  {{ element.class_room_no }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="stuCode">
                <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0087'|translate}}</mat-header-cell>
                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">
                  {{element.stu_code}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fullname}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
            </mat-table>
            <div *ngIf="checkData" class="text-center ">{{'table.notFound'|translate}}</div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>