<div class="rp-page-title">{{'modeType.MREP04'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>

        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered"><br>
            <div class="portlet-title">
              <div class="row"> 
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} :</label>
                </div> 

                <div class="col-sm-3">
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">{{ele.name}}</option>
                  </select>
                </div>
              </div>  

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField"> {{'psms.LB0106' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classId" (change)="ddlClassroom()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classLnameTh}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField "> {{'psms.DT0008' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of roomList" [value]="ele.classRoomId">{{ele.classRoom}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField"> {{'psms.LB0087' | translate}} : </label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="stuCode" placeholder="{{'placeholder.P00001'|translate}}">
                </div>

                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0201'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input [matDatepicker]="picker" class="form-control" formControlName="sendDate" readonly />
                    <div class="input-group-btn">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.DT0004' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="firstnameTh" placeholder="{{'placeholder.P00001'|translate}}">
                </div>

                <div class="col-sm-2 text-right">
                  <label class="labelField"> {{'psms.DT0005' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="lastnameTh" placeholder="{{'placeholder.P00001'|translate}}">
                </div>
              </div>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search">{{'button.search' | translate}} </i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove">{{'button.cancel' | translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0001' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="10">
              {{i + 1 + (paginator.pageIndex * paginator.pageSize)}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0087' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20">{{element.stu_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate }} - {{'psms.DT0005' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">{{element.fullname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="report1">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0059'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20">
              <button type="button" title="{{'buttonTitle.BTT004'|translate}}" class="btn btn-bordered waves-effect waves-light btn-primary"
                (click)=" onExportDoc1(element.stu_profile_id)"><i class="fa fa-file-word-o"
                  aria-hidden="true"></i></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="report2">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0060'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20">
              <button type="button" title="{{'buttonTitle.BTT004'|translate}}" class="btn btn-bordered waves-effect waves-light btn-primary"
                (click)="onExportDoc2(element.stu_profile_id)"><i class="fa fa-file-word-o"
                  aria-hidden="true"></i></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128' | translate }}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>