<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6">
            {{'modeType.MT0012'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack('','','','')"><i
              class="fa fa-arrow-circle-left"> {{'button.back'|translate}}</i></button>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                    <div class="rp-page-title">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                {{'psms.LB0087'|translate}} {{stu_code}} {{fullname}} {{'psms.LB0232'|translate}} {{class_room}}
                            </div>
                        </div>
                    </div>   
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div style=" margin:25px 5px 5px 5px;">
                <div class="rp-page-title" style=" margin-bottom: -20px;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            {{'psms.DT0081'|translate}}
                        </div>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource" class="table table-bordered table-striped">
                     <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0082'|translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.activity}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> {{'psms.LB0112'|translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.activity_name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lesson">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0026'|translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.lesson}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div style=" margin:25px 5px 5px 5px;">
                <div class="rp-page-title" style=" margin-bottom: -20px;">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            {{'psms.LB0241'|translate}}
                        </div>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource2" class="table table-bordered table-striped">
                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0022'|translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.subject_code}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0023'|translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.subject_name_th}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="credit">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0025'|translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element"> {{_util.formatFloat(element.credit,1)}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
                <div *ngIf="checksubject" class="text-center ">{{'table.notFound'|translate}}</div>
            </div>
        </div>
    </div>


</div>