<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MADM03'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br> 
          <div class="portlet light bordered">
          <div class="row">
            <div class="col-sm-2 text-left">
              <label for="pageGroupCode" class="labelField">{{'adm003.pageGroup' | translate}} :</label>
            </div>
            <div class="col-sm-5">
              <div class="input-group" style="margin-bottom: 10px;">
                <input type="hidden" formControlName="pageGroupCode">
                <input type="text" class="form-control" formControlName="pageGroupName"  [ngClass]="{'error': validateValue == true &&  form.value.pageGroupName == null || validateValue == true && form.value.pageGroupName == ''}" readonly>
                <div class="input-group-append">
                  <a class="btn btn-bordered waves-effect waves-light btn-danger m-0" (click)="onClearPageGroup()">
                    <i class="fa fa-remove"></i>
                  </a>
                  <a class="btn btn-bordered waves-effect waves-light m-r-15 btn-info" (click)="ddlPageGroup()">
                    <i class="fa fa-list"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-left">
              <label for="pageCode" class="labelField">{{'adm003.pageCode' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageCode" [ngClass]="{'error': validateValue == true &&  form.value.pageCode == null || validateValue == true && form.value.pageCode == ''}">
            </div>
            <div class="col-sm-2 text-left">
              <label for="pageIcon" class="labelField">Icon :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageIcon">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2 text-left">
              <label for="pageName" class="labelField">{{'adm003.pageName' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageName" [ngClass]="{'error': validateValue == true &&  form.value.pageName == null || validateValue == true && form.value.pageName == ''}">
            </div>
            <div class="col-sm-2 text-left">
              <label for="pageNameEn" class="labelField">{{'adm003.pageNameEn' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageNameEn" [ngClass]="{'error': validateValue == true &&  form.value.pageNameEn == null || validateValue == true && form.value.pageNameEn == ''}">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-left">
              <label for="pageUrl" class="labelField">Url :</label>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="pageUrl" [ngClass]="{'error': validateValue == true &&  form.value.pageUrl == null || validateValue == true && form.value.pageUrl == ''}">
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save">
                {{'button.save' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i
                class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
          </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>