<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MSTU07'|translate}}
    </div>
  </div>
</div>
  <div class="container-fluid">
    <form [formGroup]="formStuProfile" (ngSubmit)="onSave_stuProfile()">
      <div class="main-div ">
        <mat-card  style="width: 500px;height: 325px; margin: 0 auto;border: 2px solid #0089ffb8">
          <div class="panel-default">
            <div class="row">
              <div class="col-md-8">
                <div class="col-12" style="line-height: 30px;">{{'psms.DT0004'|translate}} {{ firstname_th }}</div>
                <div class="col-12" style="line-height: 30px;">{{'psms.LB0016'|translate}} {{ lastname_th }}</div>
                <div class="col-12" style="line-height: 30px;">{{'psms.LB0087'|translate}} {{ stu_code }}</div>
                <div class="col-12" style="line-height: 30px;">{{'psms.LB0034'|translate}} {{ formatDateSQLToString(dob, true, "/") }}</div>
                <div class="col-12" style="line-height: 30px;">{{'psms.LB0081'|translate}} {{ citizen_id }}</div>
              </div>
              <div class="col-md-4"><img *ngFor="let url of urls"[src]="url"style="height: 150px;"/></div>
            </div>
              <div class=" col-12 row" style="line-height: 30px;">
                <div class="col-4">{{'psms.LB0205'|translate}}</div>
                <input type="text"class="col-sm-6"name=""maxlength="17"formControlName="smartPurseCardNo"/>
              </div>
              <div class=" col-12 row" style="line-height: 30px;">
                <div class="col-4">smartPurseId</div>
                <input type="text"class="col-sm-6"id="smartPurseId"maxlength="8"formControlName="smartPurseId" onkeyup="this.value = this.value.toUpperCase();"/>
              </div>
              <div class="col-12 row">
                <div class="col-4" style="margin-bottom:0px;margin-top: 5px;">{{ formatDateSQLToString(open_card, true, "/") }}</div>
                  <input [matDatepicker]="picker" class="col-sm-6" formControlName="expiredDate"/>
                  <div>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
              </div>
              <div class="col-12 row">
                <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">{{'psms.LB0206'|translate}}</div>
                <div class="col-4" style="margin-bottom:0px; margin-top: 5px;">{{'psms.LB0207'|translate}}</div>
              </div>
          </div>
        </mat-card> 
      </div>
  
      <div class="text-center" style="margin-top: 10px;">
        <button type="button"class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"(click)="onBack()"><i class="fa fa-arrow-circle-left"> {{'button.back'|translate}}</i></button>
        <button type="submit"class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="onSave_stuProfile_reportPDF()"><i class="fa fa-print" aria-hidden="true"> {{'button.printPdf'|translate}}</i></button>
        <button type="button"class="btn btn-bordered waves-effect waves-light m-r-15  btn-info" title="{{'buttonTitle.BTT004'|translate}}" (click)="onSave_stuProfile_report()"><i class="fa fa-print" aria-hidden="true"></i> {{'psms.B0011'|translate}}
        </button>
      </div>
    </form>
  </div>