<div class="text-center"><span class="text-danger" style="font-size:34px">{{'adm003.pageGroup'|translate}}</span><a style="float: right;cursor: pointer" (click)="onClose()"><mat-icon>clear</mat-icon></a></div>
<div mat-dialog-content>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="inputText" (keypress)="onSearch(null)">
    </div>
    <div class="group-shade">
        <div class="p-3 loading-shade" align="center" *ngIf="isProcess">
          <mat-spinner></mat-spinner> 
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="roleGroupCode">
                <mat-header-cell *matHeaderCellDef>{{'psms.LB0123' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pageGroupCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="roleGroupName">
                <mat-header-cell *matHeaderCellDef>{{'psms.LB0124' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pageGroupName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="roleGroupButton">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell class="mat-cell-center" *matCellDef="let element">
                    <button [disabled]="pageGroupCode == element.pageGroupCode" type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info" (click)="onSel(element)">
                        <mat-icon>done</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>