<body class="authentication-bg"> 
    <div class="account-pages mt-5 mb-5"> 
        <div class="container"> 
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center  show-tm"> 
                        <a href="#"><span><img src="./assets/img/app/logo_Pramanda.gif" alt="" height="200"></span></a>
                        <h3 class="text-muted mt-2 mb-4">Pramanda Nijjanukraoh School<br>โรงเรียนพระมารดานิจจานุเคราะห์</h3>
                    </div>
                    <div class="card"> 
                        <div class="card-body p-4">
                            <div class="text-center mb-4"> 
                                <h4 class="text-uppercase mt-0">ลืมรหัสผ่าน</h4>
                            </div>
                            <form [formGroup]="form" (ngSubmit)="onConfirm()" autocomplete="off">
                                <div class="form-group mb-3">
                                    <label for="inputEmail">เลขบัตรประชาชน<samp class="text-danger">*</samp></label>
                                    <input type="text" formControlName="citizenId" class="form-control" placeholder="กรอกข้อมูลเลขบัตรประชาชน" maxlength="13" (keypress)="onNumber($event)">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inputPassword">ชื่อผู้ใช้งาน (Username)<samp class="text-danger">*</samp></label>
                                    <input type="email" formControlName="usrName" class="form-control" placeholder="กรอกข้่อมูล ชื่อผู้ใช้งาน" required autofocus>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">ขอรหัสผ่านใหม่</button>
                                    <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="reset">ยกเลิก</button>
                                    <p> <a class="text-muted ml-1" href="javascript::void('0');" (click)="onLogin()"><i class="fa fa-arrow-circle-left mr-1"></i> ย้อนกลับ หน้าเข้าสู่ระบบ</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>