
  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_forgot.jpg");
      background-size: cover;
      background-position: center;
      
    }
    .show-tm{
      display: none;
    }
    .mb-5, .my-5 {
        margin-bottom:15rem!important;
    }
    .mt-5, .my-5 {
        margin-top: 15rem!important;
    }
    .card {
      background-color: #ffffffd9;
      border: 1px solid rgb(9, 29, 208);
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_mobile.jpg");
      background-size: cover;
      background-position: center;
  
    }
    .h3, h3 {
      font-size: 1.5rem;
  }
    .mb-5, .my-5 {
      margin-bottom:7rem!important;
  }
  .mt-5, .my-5 {
      margin-top: 7rem!important;
  }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_mobile.jpg");
      background-size: cover;
      background-position: center;
  
    }
    .mb-5, .my-5 {
      margin-bottom:7rem!important;
  }
  .mt-5, .my-5 {
      margin-top: 7rem!important;
  }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_mobile.jpg");
      background-size: cover;
      background-position: center;
  
    }
    .show-tm{
      display: block;
    }
  .mb-5, .my-5 {
      margin-bottom:5rem!important;
  }
  .mt-5, .my-5 {
      margin-top: 5rem!important;
  }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_mobile.jpg");
      background-size: cover;
      background-position: center;
  
    }
    .show-tm{
      display: block;
    }
    .mb-5, .my-5 {
      margin-bottom:5rem!important;
  }
  .mt-5, .my-5 {
      margin-top: 5rem!important;
  }
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    body.authentication-bg {
      background-image: url("../../../assets/img/app/bg_mobile.jpg");
      background-size: cover;
      background-position: center;
  
    }
    .h3, h3 {
      font-size: 1.2rem;
  }
    .show-tm{
      display: block;
    }
    .mb-5, .my-5 {
      margin-bottom:1rem!important;
  }
  .mt-5, .my-5 {
      margin-top: 1rem!important;
  }
    
  }
  