<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <mat-card fxLayout="row" fxLayoutAlign="space-around center" class="user-info p-0">
        <img *ngFor="let url of urls" [src]="url" alt="user-image">
        <div fxLayout="column" fxLayoutAlign="center center"> 
            <h2>{{title}}{{username}}</h2>
            <p class="secondary-text-color mt-1">{{email}}</p> 
        </div>  
    </mat-card>
    <mat-divider></mat-divider>
    <a mat-menu-item (click)="onProfile()"> 
        <mat-icon>person</mat-icon>
        <span>{{'psms.STU046'|translate}}</span>
    </a> 
    <a mat-menu-item (click)="onDocHelp()">
        <mat-icon>help</mat-icon>
        <span>{{'psms.STU047'|translate}}</span>
    </a>
    <mat-divider></mat-divider>  
    <a mat-menu-item routerLink="/login">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{'psms.STU048'|translate}}</span>
    </a>
</mat-menu>