<div class="rp-page-title">{{'modeType.MGRA02'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br />
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 text-right">
                <label class="labelyear ">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="yearGroupId">
                  <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">{{
                    ele.name
                  }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 text-right">
                <label class="labelField ">{{'psms.LB0083'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                  <option value="">-- {{'psms.LB0130'|translate}} --</option>
                  <option value="1">อ.1</option>
                  <option value="2">อ.2</option>
                  <option value="2">อ.3</option>
                  <option value="4">ป.1</option>
                  <option value="5">ป.2</option>
                  <option value="6">ป.3</option>
                  <option value="7">ป.4</option>
                  <option value="8">ป.5</option>
                  <option value="9">ป.6</option>
                  <option value="10">ม.1</option>
                  <option value="11">ม.2</option>
                  <option value="12">ม.3</option>
                  <option value="13">ม.4</option>
                  <option value="14">ม.5</option>
                  <option value="15">ม.6</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 text-right">
                <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classRoomId">
                  <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                    {{ ele.classRoom }}
                  </option>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                <i class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i>
              </button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()">
                <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">{{ i + 1 }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuCode">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.stu_code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.fullname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="classRoom">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.class_room}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="setNo">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0056'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element" class="mat-cell-center">
                {{element.set_no}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">
                <button type="button" title="{{'button.save'|translate}}" class="btn btn-bordered waves-effect waves-light btn-success"
                  (click)="onFrom(element.class_room_member_id,element.stu_transcript_log_id,element.set_no,element.transcript_date,element.stu_profile_id,element.dob)">
                  <i class="fa fa-save"></i>
                </button>
                <button type="button" title="{{'buttonTitle.BTT005'|translate}}" class="btn btn-bordered waves-effect waves-light btn-primary"
                  *ngIf="element.set_no != null"
                  (click)="onReport1(element.class_room_member_id,element.set_no,element.transcript_date,element.stu_transcript_log_id)"
                  title="พิมพ์">
                  <i class="fa fa-print" aria-hidden="true"> </i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'table.notFound'|translate}}</div>
          <mat-paginator [pageSizeOptions]="[10] " [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>