<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="p-1">
        <div class="portlet light bordered p-0 gradient-purple">
            <div class="portlet-title">
                <div class="py-2 px-3" fxLayoutAlign="space-between center">
                    <span>จำนวนนักเรียนทั้งหมด</span>
                    <div fxLayoutAlign="center center">

                        <span>{{number_stu}} คน</span>
                    </div>
                </div>
                <div class="w-100 h-100p">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชาย</th>
                                    <th>หญิง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{number_male_stu}}</td>
                                    <td>{{number_female_stu}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="p-1">
        <div class="portlet light bordered p-0 gradient-green">
            <div class="portlet-title">
                <div class="py-2 px-3" fxLayoutAlign="space-between center">
                    <span>จำนวนคุณครูทั้งหมด</span>
                    <div fxLayoutAlign="center center">

                        <span>{{number_tea}} คน</span>
                    </div>
                </div>
                <div class="w-100 h-100p">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชาย</th>
                                    <th>หญิง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{number_male_tea}}</td>
                                    <td>{{number_female_tea}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-1">
        <div class="portlet light bordered p-0 gradient-pink">
            <div class="portlet-title">
                <div class="py-2 px-3" fxLayoutAlign="space-between center">
                    <p>นักเรียนภาคปกติ</p>
                    <div fxLayoutAlign="center center">

                        <span>3,000 คน</span>
                    </div>
                </div>
                <div class="w-100 h-100p">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชาย</th>
                                    <th>หญิง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1,500</td>
                                    <td>1,500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-1">
        <div class="portlet light bordered p-0 gradient-green">
            <div class="portlet-title">
                <div class="py-2 px-3" fxLayoutAlign="space-between center">
                    <p>นักเรียน 2 ภาษา</p>
                    <div fxLayoutAlign="center center">

                        <span>1,000 คน</span>
                    </div>
                </div>
                <div class="w-100 h-100p">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชาย</th>
                                    <th>หญิง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>500</td>
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>