<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MACA06'|translate}} ({{'psms.DT0089' | translate}})
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <div class="row">
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0102' | translate}} : {{subjectCode}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0103' | translate}} : {{subjectName}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.DT0025' | translate}} : {{credit}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0232' | translate}} : {{classRoomSnameTh}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.DT0015' | translate}} : {{yearGroupName}}</b></label>
          </div>
          <div class="col-sm-2">
            <label class="labelField"><b>{{'psms.LB0170' | translate}} : {{term}}</b></label>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <table mat-table [dataSource]="dataSource"
          class="myTable datatable table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 5%;">{{'psms.LB0056' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center" style="width: 5%;"><label
                class="labelField">{{element.classRoomNo}}</label> </td>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 5%;">{{'psms.LB0087' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center" style="width: 5%;"> <label
                class="labelField">{{element.stuCode}}</label> </td>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 20%;">{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-left" style="width: 20%;"> <label
                class="labelField">{{element.firstnameTh}}<br>{{element.lastnameTh}}</label> </td>
          </ng-container>
          <ng-container matColumnDef="score1">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0083' | translate}}
              [{{fullScore1}}]</th>
            <td mat-cell *matCellDef="let element;  let i = index;" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2" id="{{(4 * i) + 1}}" (keyup)="controlkey()"
                (keypress)="numberOnly($event)"
                [(ngModel)]="element.score1 == '0' || parseNum(element.score1) > parseNum(fullScore1) ? '' : element.score1"
                (ngModelChange)="element.score1 == '0' || parseNum(element.score1) > parseNum(fullScore1) ? (element.score1 = $event) : (element.score1 = $event)"
                style="background-color: #C6FCD8;" />
            </td>
          </ng-container>
          <ng-container matColumnDef="scoreMid">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0085' | translate}}
              [{{fullScoreMid}}]</th>
            <td mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2" id="{{(4 * i) + 2}}" (keyup)="controlkey()"
                (keypress)="numberOnly($event)"
                [(ngModel)]="element.scoreMidterm == '0' || parseNum(element.scoreMidterm) > parseNum(fullScoreMid) ? '' : element.scoreMidterm"
                (ngModelChange)="element.scoreMidterm == '0' || parseNum(element.scoreMidterm) > parseNum(fullScoreMid) ? (element.scoreMidterm = $event) : (element.scoreMidterm = $event)"
                style="background-color: #FFE1F3;" />
            </td>
          </ng-container>
          <ng-container matColumnDef="score2">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0084' | translate}}
              [{{fullScore2}}]</th>
            <td mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2" id="{{(4 * i) + 3}}" (keyup)="controlkey()"
                (keypress)="numberOnly($event)"
                [(ngModel)]="element.score2 == '0' || parseNum(element.score2) > parseNum(fullScore2) ? '' : element.score2"
                (ngModelChange)="element.score2 == '0' || parseNum(element.score2) > parseNum(fullScore2) ? (element.score2 = $event) : (element.score2 = $event)"
                style="background-color: #FCF6C6;" />
            </td>
          </ng-container>
          <ng-container matColumnDef="scoreFinal">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0086' | translate}}
              [{{fullScoreFinal}}]</th>
            <td mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2" id="{{(4 * i) + 4}}" (keyup)="controlkey()"
                (keypress)="numberOnly($event)"
                [(ngModel)]="element.scoreFinal == '0' || parseNum(element.scoreFinal) > parseNum(fullScoreFinal) ? '' : element.scoreFinal"
                (ngModelChange)="element.scoreFinal == '0' || parseNum(element.scoreFinal) > parseNum(fullScoreFinal) ? (element.scoreFinal = $event) : (element.scoreFinal = $event)" />
            </td>
          </ng-container>
          <ng-container matColumnDef="scoreFull">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0087' | translate}} [{{fullScore}}]</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2"
                value="{{parseNum(element.score1,fullScore1)+parseNum(element.score2,fullScore2)+parseNum(element.scoreMidterm,fullScoreMid)+parseNum(element.scoreFinal,fullScoreFinal)}}"
                [(ngModel)]="element.sumScore" disabled />
            </td>
          </ng-container>
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 5%;">{{'psms.LB0051' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-center" style="width: 5%;"><label
                class="labelField mt-2">{{element.grade}}</label>
            </td>
          </ng-container>
          <ng-container matColumnDef="morsor">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 5%;">{{'psms.DT0095' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center" style="width: 5%;">
              <input type="checkbox" class="mt-2" [checked]="element.isMorsor == 'true'"
                (change)="onActive(element,$event,'isMorsor')" />
            </td>
          </ng-container>
          <ng-container matColumnDef="exchange">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 5%;">{{'psms.DT0094' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center" style="width: 5%;">
              <input type="checkbox" class="mt-2" [checked]="element.isExchange == 'true'"
                (change)="onActive(element,$event,'isExchange')" />
            </td>
          </ng-container>
          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 10%;">{{'psms.DT0075' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-center" style="width: 10%;">
              <input type="text" class="form-control mt-2" [(ngModel)]="element.remark" />
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
            (click)="onSave()"><i class="fa fa-save"> {{'button.save' | translate}}</i></button>
        </div>
      </mat-card>
    </div>
  </div>
</div>