<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6"> 
            {{'modeType.MACA09'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onSave2()"><i
                    class="fa fa-floppy-o"> {{'button.save' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
                (click)="onBack('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered rp-page-title">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {{'psms.DT0022' | translate}} {{subject_code}}&nbsp;&nbsp;{{'psms.DT0023' | translate}} {{subject_name_th}}&nbsp;&nbsp; {{'psms.DT0015' | translate}} {{year_group}}&nbsp;&nbsp; {{'psms.LB0232' | translate}}
                        {{class_room_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-4 text-right">
                    <label class="labelField"> <samp class="text-danger">*
                        {{'psms.LB0263' | translate}}</samp></label>
                </div>
                <div class="col-sm-2"><select class="form-control" [(ngModel)]="chooseAll" (change)="onChoose($event)">
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1" selected>1</option>
                    </select>
                </div>
            </div>
            <div style=" margin:25px 5px 5px 5px;">
                <mat-table [dataSource]="dataSource" class="table table-bordered table-striped">
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef fxFlex="10"> {{'table.no' | translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                            {{element.classRoomNo}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="stuCode">
                        <mat-header-cell *matHeaderCellDef fxFlex="10"> {{'psms.LB0087' | translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">{{element.stuCode}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fullname">
                        <mat-header-cell *matHeaderCellDef fxFlex="20"> {{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="20">{{element.fullname}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col1">
                        <mat-header-cell *matHeaderCellDef fxFlex="11"> ความสามารถในการคิด </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="11">
                            <select class="form-control" [(ngModel)]="element.score1" (change)="onChooseSomeone()">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>
                            </select> </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col2">
                        <mat-header-cell *matHeaderCellDef fxFlex="11"> ความสามารถในการสื่อสาร </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="11">
                            <select class="form-control" [(ngModel)]="element.score2" (change)="onChooseSomeone()">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>
                            </select>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col3">
                        <mat-header-cell *matHeaderCellDef fxFlex="13"> ความสามารถในการใช้ทักษะชีวิต </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="13">
                            <select class="form-control" [(ngModel)]="element.score3" (change)="onChooseSomeone()">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>
                            </select>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col4">
                        <mat-header-cell *matHeaderCellDef fxFlex="12"> ความสามารถในการแก้ปัญหา </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="12">
                            <select class="form-control" [(ngModel)]="element.score4" (change)="onChooseSomeone()">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>
                            </select>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col5">
                        <mat-header-cell *matHeaderCellDef fxFlex="13"> ความสามารถในการใช้เทคโนโลยี </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="13">
                            <select class="form-control" [(ngModel)]="element.score5" (change)="onChooseSomeone()">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>
                            </select>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>