<div class="rp-page-title">{{'modeType.MTEC10'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br/>

        <mat-expansion-panel-header collapsedHeight="40px"expandedHeight="40px"class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" >
              <div class="portlet light bordered"><br>
                  <div class="row"> 
                      <div class="col-sm-1"></div>
                      <div class="col-sm-1 text-right">
                          <label>{{'psms.LB0079'|translate}} :</label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control" formControlName="firstnameTh"  />
                      </div>
                      <div class="col-sm-2 text-right">
                          <label>{{'psms.LB0080'|translate}} :</label>
                      </div> 
                      <div class="col-sm-3">
                          <input type="text" class="form-control" formControlName="lastnameTh" />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 text-right">
                      <label class="labelField ">{{'psms.LB0093'|translate}} :</label>
                    </div>
                    <div class="col-lg-3"> 
                      <select class="form-control" formControlName="classId"  >
                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                        <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classLnameTh}}</option> 
                      </select>
                  </div>
                  <div class="col-sm-2 text-right">
                      <label class="labelField ">{{'psms.LB0150'|translate}} :</label>
                    </div>
                    <div class="col-lg-3"> 
                      <select class="form-control"  formControlName="departmentId" >
                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                        <option *ngFor="let ele of departmentList" [value]="ele.departmentId">{{ele.name}}</option> 
                    </select>
                  </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                        class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i></button>
                    <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
                        class="fa fa-remove" aria-hidden="true"> {{'button.cancel'|translate}}</i></button>
                  </div> 
              </div>
            </form>

      </mat-expansion-panel>

      <mat-card>
            <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                <ng-container matColumnDef="no">
                    <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
                    <mat-cell  *matCellDef="let i = index;" class="mat-cell-center"> {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}  </mat-cell> 
                </ng-container>
                <ng-container matColumnDef="teacherCardId" >
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0064'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"class="mat-cell-center"> {{element.teacher_card_id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fullname">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"class="mat-cell-center"> {{element.fullname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="departmentName">
                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0150'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"class="mat-cell-center"> {{element.department_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="classRoomId">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"class="mat-cell-center"> {{element.class_room_sname_th}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="recordStatus">
                    <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                        <button class="btn btn-bordered waves-effect waves-light btn-primary" title="{{'buttonTitle.BTT007'|translate}}" (click)=onForm(element.teacher_id,1)><i class="fa fa-print" aria-hidden="true"></i></button>
                        <button class="btn btn-bordered waves-effect waves-light btn-info" title="{{'buttonTitle.BTT006'|translate}}"(click)=onForm(element.teacher_id,2) ><i class="fa fa-print" aria-hidden="true"></i></button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
            </mat-table>
            <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
            <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
        </mat-card>

    </div>
  </div>
</div>