<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MADM02'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div> 
<div class="container-fluid">
  <div class="row m-t-20">
    <div class="col-lg-12">
      <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br>
          <div class="portlet light bordered">
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="pageGroupIcon" class="labelField">Icon :</label> 
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageGroupIcon">
            </div>
            <div class="col-sm-2 text-right">
              <label for="pageGroupCode" class="labelField">{{'adm002.pageGroupCode' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageGroupCode" [ngClass]="{'error': validateValue == true &&  form.value.pageGroupCode == null || validateValue == true && form.value.pageGroupCode == ''}">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="pageGroupName" class="labelField">{{'adm002.pageGroupName' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageGroupName" [ngClass]="{'error': validateValue == true &&  form.value.pageGroupName == null || validateValue == true && form.value.pageGroupName == ''}">
            </div>
            <div class="col-sm-2 text-right">
              <label for="pageGroupName" class="labelField">{{'adm002.pageGroupNameEn' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="pageGroupNameEn" [ngClass]="{'error': validateValue == true &&  form.value.pageGroupNameEn == null || validateValue == true && form.value.pageGroupNameEn == ''}">
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save">
                {{'button.save' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i
                class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
          </div>
        </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>