input:read-only.error { 
    border: #FF0000 1 px solid;
    background: #FFEBEF;
    color: #480000; 
 
}

input.error {
    border: #FF0000 1 px solid;
    background: #FFEBEF; 
    color: #480000; 
}

select.error {
    border: #FF0000 1 px solid;
    background: #FFEBEF;
    color: #480000; 
}