<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      บันทึกผลคะแนนอันพึงประสงค์
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="portlet light">
        <div class="portlet-title">
          <br>
          <div class="text-center">
            <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br>
            <label class="bold">แบบประเมิณคูรลักษณะอันพึงประสงค์</label><br>
          </div>
          <div class="row">
            <div class="col-lg-1">ชั้น ม.4/</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">(เลขที่)</div>
            <div class="col-lg-1">ชั้น ม.5/</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">(เลขที่)</div>
            <div class="col-lg-1">ชั้น ม.6/</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">(เลขที่)</div>
          </div>
          <div class="row">
            <div class="col-lg-1">ชื่อ</div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1">สกุล</div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">เลขประจำตัว</div>
            <div class="col-lg-3"></div>
          </div>

          <table class="table table-bordered table-striped table-hover" width="100%">
            <tr>
              <th class="text-center" rowspan="3" valign="middle"><label class="labelField">ข้อ</label></th>
              <th class="text-center" rowspan="3" valign="middle"><label
                  class="labelField">ตัวบ่งชี้ในการประเมิณ</label></th>
              <th class="text-center" colspan="6"><label class="labelField">ปีการศึกษา</label></th>
              <th class="text-center" colspan="6"><label class="labelField">ปีการศึกษา</label></th>
              <th class="text-center" colspan="6"><label class="labelField">ปีการศึกษา</label></th>
            </tr>
            <tr>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 1</label></th>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 2</label></th>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 1</label></th>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 2</label></th>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 1</label></th>
              <th class="text-center" colspan="3"><label class="labelField">ภาค 2</label></th>
            </tr>
            <tr>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
              <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
              <th class="text-center"><label class="labelField">สรุป</label></th>
            </tr>
            <tbody *ngFor="let key of keys; let l = index ">
              <tr>
                <td class="text-center"><label class="labelField">{{l+1}}</label></td>
                  <td><label class="labelField">{{key}}</label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let element of groups[key]; let i = index ">
                <td></td>
                <td><label class="labelField">{{i+1}}.{{element.description}}</label></td>
                  <td class="text-center"><label class="labelField">{{element.score1}}</label></td>
                  <td class="text-center"><label class="labelField">{{element.score2}}</label></td>
                  <td><label class="labelField">{{element.sumScore}}</label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <!-- <div *ngIf="dataSource.data.length == 0" class="text-center">ไม่พบข้อมูล</div> -->
        </div>
      </div>
    </div>
  </div>
</div>