<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MMST01' | translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="backPage()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="portlet light bordered">
        <div class="portlet-title"><br />
          <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
            <div class="portlet light bordered">
              <div class="portlet-title"><br>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right"><label class="labelField">{{'psms.LB0095'|translate}}<samp class="text-danger">*</samp> :</label>
                  </div>
                  <div class="col-sm-5">
                    <select class="form-control" formControlName="yearTermId" [ngClass]="{'error': validateValue == true &&  form.value.yearTermId == null || validateValue == true && form.value.yearTermId == ''}">
                      <option value="" selected>-- {{'psms.LB0095'|translate}} --</option>
                      <option *ngFor="let ele of yearTermList" [value]="ele.yearTermId">
                        {{ele.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right"><label class="labelField">{{'psms.DT0016'|translate}}<samp class="text-danger">*</samp> :</label>
                  </div>
                  <div class="col-sm-5">
                    <select class="form-control" formControlName="yearId" [ngClass]="{'error': validateValue == true &&  form.value.yearId == null || validateValue == true && form.value.yearId == ''}">
                      <option value="" selected>-- {{'psms.DT0015'|translate}} --</option>
                      <option *ngFor="let ele of yearList" [value]="ele.yearId">
                        {{ele.yearCode}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right"><label class="labelField">{{'psms.LB0148'|translate}} :</label></div>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input [matDatepicker]="picker1" class="form-control" formControlName="firstday" readonly />
                      <div class="input-group-btn">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                          <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png"> 
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right"><label class="labelField">{{'psms.LB0149'|translate}} :</label></div>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input [matDatepicker]="picker2" class="form-control" formControlName="lastday" readonly />
                      <div class="input-group-btn">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                          <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png"> 
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right"><label class="labelField">{{'psms.DT0016'|translate}} :</label></div>
                  <div class="col-sm-2" style="margin-top:10px;">
                    <input type="checkbox" formControlName="iscurrent">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right" *ngIf="Status == 'แก้ไขข้อมูล'">
                    <label class="labelField">{{'psms.DT0013'|translate}} :</label>
                  </div>
                  <div class="col-sm-5" *ngIf="Status == 'แก้ไขข้อมูล'">
                    <input type="text" class="form-control" formControlName="updatedUser" disabled />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right" *ngIf="Status == 'แก้ไขข้อมูล'">
                    <label class="labelField">{{'psms.DT0014'|translate}} :</label>
                  </div>
                  <div class="col-sm-5" *ngIf="Status == 'แก้ไขข้อมูล'">
                    <input type="text" class="form-control" value="{{utilService.transform(updatedDate)}}" disabled />
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save">
                    {{'psms.B0005'|translate}}</i></button>
                  <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i
                      class="fa fa-remove">
                      {{'psms.B0006'|translate}}</i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>