<div class="container">
  <!-- <mat-card > -->
    <div class="text-center">
      <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br><br>
      <label class="bold"><b>แบบสุปผลการเประเมินทักษะชีวิตของผู้เรียน</b></label><br>
      <label class="bold"><b>ช่วงชั้น <!-- ป.1 - ม.6  --> </b></label>
    </div>
    <div>
      <label class="bold" ><b>ตารางสรุปผลการประเมินทักษะชีวิตของผู้เรียน ชั้น&nbsp;<!--  -->&nbsp;จำนวนนักเรียน.......คน</b></label><br>
      <table border="1" class="col-12 text-center">
        <tr>
          <th>เกณฑ์การประเมิน/ระดับคะแนน</th>
          <th>ผลการรประเมิน</th>
          <th>จำนวนนักเรียน</th>
          <th>ร้อยละ</th>
          <th>หมายเหตุ</th>
        </tr>
        <tr>
          <td>3 = ปฏิบัติเป็นประจำ/มากที่สุด</td>
          <td>ดีมาก</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>2 = ปฏิบัติเป็นบางครั้ง/ปานกลาง</td>
          <td>ดี</td><td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1 = ปฏิบัติน้อย/ไม่ชัดเจน/น้อย</td>
          <td>พอใช้</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th colspan="2">รวม</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <br>
      <div class="row">
        <div class="col-9"></div><label class="bold"><b>ลงชื่อ............................ผู้ประเมิน</b></label>
      </div>
    </div>
  <!-- </mat-card> -->
</div>