<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6" >
            {{headerType}} {{'modeType.MMST03'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
                (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                <mat-expansion-panel expanded><br>
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0019'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="catClass"
                                        [ngClass]="{'error': validateValue == true &&  form.value.catClass == null || validateValue == true && form.value.catClass == ''}">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of catClassList" [value]="ele.catClassId">
                                            {{ele.lnameTh}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0100'|translate}}<span class="lbrequire">*</span>
                                        :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="name"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.name == null || validateValue == true && form.value.name == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0150'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="nameShort"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.nameShort == null || validateValue == true && form.value.nameShort == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0001'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="departmentCode"
                                        placeholder="{{'placeholder.P00001' | translate}}">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.departmentId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0013'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="updatedUser" readonly>
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.departmentId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0014'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control"
                                        value="{{util.transform(updatedDate,'')}} / {{updatedDate | date :'HH:mm:ss' :'+700' :'en-US'}}"
                                        readonly formControlName="updatedDate">
                                </div>
                            </div>


                            <br>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                                        class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                                    (click)="OnClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </div>
</div>