<div class="rp-page-title">
  {{'modeType.MSTU08'|translate}}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label class="labelField ">{{'psms.LB0047'|translate}} :</label>
            </div>
            <div class="col-sm-4">
              <select class="form-control" formControlName="yearGroupId">
                <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                  {{ele.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label class="labelField ">{{'psms.LB0083'|translate}} :</label>
            </div>
            <div class="col-sm-4">
              <select class="form-control" formControlName="classId">
                <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                <option *ngFor="let ele of classList" [value]="ele.classId">
                  {{ele.classSnameTh}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label class="labelField">{{'psms.LB0033'|translate}} &nbsp;</label>
              <input type="checkbox" formControlName="chkReligion" [(ngModel)]="chkReligion">
            </div>
          </div>
          <div class="row" *ngIf="chkReligion == true" >
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label class="labelField ">{{'psms.LB0033'|translate}} :</label>
            </div>
            <div class="col-sm-4">
              <select class="form-control" formControlName="religion">
                <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                <option *ngFor="let ele of religionList" [value]="ele.religionNameTh">
                  {{ele.religionNameTh}}
                </option>
              </select>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label class="labelField">{{'psms.LB0211'|translate}} &nbsp;</label>
              <input type="checkbox" formControlName="studentSummary">
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search">
                {{'button.search'|translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)=onCancel()><i
                class="fa fa-remove">
                {{'button.cancel'|translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary" [disabled]="searchForm.value.studentSummary == false"><i class="fa fa-print">
              {{'psms.B0031'|translate}}</i></button>
          </div>
        </form>
        </div>
      </mat-expansion-panel>

      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}  </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.class_room_sname_th}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button type="button" title="{{'buttonTitle.BTT004'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onReport(element.class_room_id)"><i
                  class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>

      </mat-card>

    </div>
  </div>
</div>