<div class="rp-page-title">
    {{'modeType.MACA03'|translate}}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</label>
                        </div>
                        <select class="form-control" formControlName="yearGroupId" (change)="onCheckYearGroup()">
                            <option value="" selected>{{'psms.LB0130' | translate}}</option>
                            <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                                {{ele.name}}
                            </option>
                        </select><br>
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0083' | translate}}</label>
                        </div>
                        <select multiple class="form-control" id="sel2" name="sellist2" style="height:300px"
                            formControlName="classId" (change)="onCheckClass()">
                            <option *ngFor="let ele of classList" [value]="ele.classId">
                                {{ele.classSnameTh}}
                            </option>
                        </select>
                        <br />
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i
                                    class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="portlet light bordered rp-page-title text-center">
                        {{'modeType.MACA03'|translate}} {{show_class}} {{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} {{show_year_group}}
                    </div>
                    <div style="margin:25px 5px 5px 5px;" *ngFor="let itemDepartment of dataDepartment; let i = index;">
                        <div *ngIf="_catClassId == 1">
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemDepartment.name}}
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-warning"
                                            (click)="onDialogAddSubjectKid(classId,itemDepartment.department_id,yearGroupId,langCode)"><i
                                            class="fa fa-plus-circle">
                                                {{'psms.B0036' | translate}}</i></button>
                                    </div>
                                </div>
                            </div>
                            <mat-table [dataSource]="dataSource.data[i]" class="table table-bordered table-striped">
                                <ng-container matColumnDef="subjectCode">
                                    <mat-header-cell *matHeaderCellDef> {{'psms.DT0022' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.subject_code}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef> {{'table.actions' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center">
                                        <button type="button"
                                            class="btn btn-warning btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT002' | translate}}"
                                            (click)="onFormUpdateCatClass1Dialog(element)"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                            (click)="onDelete(element)"><i class="fa fa-trash"
                                                aria-hidden="true "></i></button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumnsKid"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsKid;"></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center ">{{'table.notFound' | translate}}</div>

                        </div>
                        <div *ngIf="_catClassId == 2 || _catClassId == 3 || _catClassId == 4">
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemDepartment.name}}
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-warning"
                                            (click)="onDialogAddSubject(classId,itemDepartment.department_id,yearGroupId,langCode)"><i
                                                class="fa fa-plus-circle">
                                                {{'psms.B0036' | translate}}</i></button>
                                    </div>
                                </div>
                            </div>
                            <mat-table [dataSource]="dataSource.data[i]" class="table table-bordered table-striped">
                                <ng-container matColumnDef="subjectCode">
                                    <mat-header-cell *matHeaderCellDef> {{'psms.DT0022' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.subject_code}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="subjectNameTh">
                                    <mat-header-cell *matHeaderCellDef> {{'psms.DT0023' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.subject_name_th}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="credit">
                                    <mat-header-cell *matHeaderCellDef> {{'psms.DT0025' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center">
                                        {{_util.formatFloat(element.credit,1)}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="lesson">
                                    <mat-header-cell *matHeaderCellDef> {{'psms.DT0026' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.lesson}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef> {{'table.actions' | translate}} </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-center">
                                        <button type="button"
                                            class="btn btn-warning btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT002' | translate}}"
                                            (click)="onFormUpdateDialog(element)"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                        <button type="button"
                                            class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                            (click)="onDelete(element)"><i class="fa fa-trash"
                                                aria-hidden="true "></i></button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>