<div class="rp-page-title">{{'modeType.MADM06'|translate}}</div>
<div class="container-fluid"> 
    <div class="row"> 
        <div class="col-lg-12" style="margin-top: 19px;">
            <mat-expansion-panel class="color-1"> 
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header><br/>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                    <div class="portlet light bordered"> 
                        <div class="portlet-title"><br/><br/> 
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0079'|translate}} :</label> 
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" formControlName="firstName" placeholder="{{'placeholder.P00001'|translate}}"/>
                                </div>

                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0080'|translate}} :</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" formControlName="lastName" placeholder="{{'placeholder.P00001'|translate}}"/>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-sm-1"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0127'|translate}} : </label>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control" formControlName="userType">
                                        <option  value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                        <option *ngFor="let ele of roleList" [value]="ele.roleCode">{{ele.roleName}}</option> 
                                    </select>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <label class="labelField">{{'psms.LB0129'|translate}} :</label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" formControlName="activatedCheck">
                                        <option value="" selected>-- {{'psms.LB0129'|translate}} --</option>
                                        <option value="true">{{'psms.B0022'|translate}}</option>
                                        <option value="false">{{'psms.B0021'|translate}}</option>
                                    </select>  
                                </div> 
                            </div><br/>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i class="fa fa-search" aria-hidden="true"> {{'psms.B0004'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)="onClear()"><i class="fa fa-remove" aria-hidden="true"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel> 
            <mat-card>
                <div class="row" class="rp-panel-action">
                    <div class="row">  
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="onConfirmAll()" [disabled]="chechUser == false"><i class="fa fa-send" aria-hidden="true"> {{'psms.DL0018'|translate}}</i></button>
                            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onFormAdd()"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0023'|translate}}</i></button>
                        </div>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef fxFlex="8"><input type="checkbox" [(ngModel)]="headerSelected" name="check_header" (change)="checkAll()" /></mat-header-cell>
                        <mat-cell  *matCellDef="let element" class="mat-cell-center" fxFlex="8"><input type="checkbox" [(ngModel)]="element.isSelected" name="check_column" (change)="isAllSelected()" /></mat-cell> 
                    </ng-container>
                    <ng-container matColumnDef="usrName"> 
                        <mat-header-cell *matHeaderCellDef  fxFlex="16">{{'psms.DL0013'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"  fxFlex="16"> {{element.usr_name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef  fxFlex="20">{{'psms.DT0004'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element"  fxFlex="20"> {{element.first_name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lastName"> 
                        <mat-header-cell *matHeaderCellDef  fxFlex="20">{{'psms.DT0005'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element"  fxFlex="20"> {{element.last_name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email"> 
                        <mat-header-cell *matHeaderCellDef fxFlex="18">{{'psms.DT0034'|translate}}</mat-header-cell> 
                        <mat-cell *matCellDef="let element" fxFlex="18"> {{element.email}} </mat-cell> 
                    </ng-container>
                    <ng-container matColumnDef="phoneNo"> 
                        <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0035'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"> {{element.phone_no}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="roleName">
                            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0037'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12"> {{element.role_name}} </mat-cell>
                        </ng-container>
                    <ng-container matColumnDef="activated">
                        <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DT0007'|translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                            <button *ngIf="element.activated == false" class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'psms.DL0025'|translate}}"(click)="onConfirmTrue(element)">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.activated == true" class="btn btn-bordered waves-effect waves-light btn-success" title="{{'psms.DL0022'|translate}}" (click)="onConfirmFalse(element)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.activated == true" class="btn btn-bordered waves-effect waves-light btn-info" (click)="onSend(element)" title="{{'psms.DL0027'|translate}}">
                                <i class="fa fa-send" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.user_status != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002'|translate}}" (click)="onFormEdit(element.user_id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container> 
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>