<div class="rp-page-title">{{'modeType.MTEC02'|translate}}</div>
<div class="container-fluid">
    <div class="row">  
        <div class="col-lg-3"> 
            <mat-card>
                <div class="portlet light bordered"> 
                    <div class="portlet-title"> 
                        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                            <div class="col-sm-12 text-center">
                                <label>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</label> 
                            </div>
                            <select class="form-control" formControlName="yearGroupName"> 
                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                            </select><br>
                            <div class="col-sm-12 text-center">
                                <label>{{'psms.LB0232' | translate}}</label>
                            </div>  
                            <select multiple class="form-control" formControlName="className" style="height:200px" (change)="ddlClassRoom()">
                                <option *ngFor="let ele of classList" [value]="ele.classSnameTh">{{ele.classLnameTh}}</option>                   
                            </select>
                            <div class="col-sm-12 text-center"> 
                                <label>{{'psms.DT0008' | translate}}</label>
                            </div>  
                            <select class="form-control" formControlName="classRoom">
                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                <option *ngFor="let ele of classRoomList" [value]="ele.classRoomSnameTh">{{ele.classRoomSnameTh}}</option>                   
                            </select><br>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i class="fa fa-trash" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
                            </div> 
                        </form>  
                    </div> 
                </div>  
            </mat-card>    
        </div>  
        <div class="col-lg-9">   
            <mat-card>
                <div class="rp-page-title" style="margin-bottom:-20px;">
                    <div class="row">
                        <div class="col-lg-7 text-left mt-2">
                            {{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} {{searchForm.value.yearGroupName}}  &nbsp;&nbsp;&nbsp; {{'psms.LB0232' | translate}} {{searchForm.value.className}}  {{'psms.DT0008' | translate}} {{searchForm.value.classRoom}}
                        </div>
                        <div class="col-lg-5 text-right" *ngIf="searchForm.value.yearGroupName != '' && searchForm.value.className != '' && searchForm.value.classRoom != ''">
                            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"  (click)="onSearchteacher()"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0033' | translate}}</i></button>
                        </div>
                    </div> 
                </div><br> 
                <div style="margin:25px 5px 5px 5px;">
                    <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="stuCode">
                            <mat-header-cell *matHeaderCellDef fxFlex="14">{{'psms.DT0071' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="14">{{element.stu_code}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoom">
                            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="manage"> 
                            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'table.actions' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">
                                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" title="{{'buttonTitle.BTT003' | translate}}" (click)="onDelete(element.class_room_member_id, element.stu_code)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </mat-cell> 
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
                    <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
                </div> 
            </mat-card>
        </div>
    </div>
</div>