<div style="position:fixed; right:45px;top: 75px;"><!-- button -->
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="printComponent('printSectionPageTest1')" style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ทดสอบหน้าที่ 1 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary margin-top" (click)="printComponent('printSectionPageTest2')"style="width: 180px;" ><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ทดสอบหน้าที่ 2 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning margin-top" (click)="printComponent('printSectionPage1')"style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์หน้าที่ 1 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning margin-top" (click)="printComponent('printSectionPage2')"style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์หน้าที่ 2 </button></div>
</div>

<div class="contai" id="printSectionPageTest1" style="font-family: Sarabun PSK;"><!-- พิมพ์ทดสอบหน้าที่ 1 -->

  <mat-card style="width: 1085px;height: 1560px;">
    <div class="row">

      <div class="col-12"> <!-- headerPage 1 -->
        <div class="row">
          <div style="margin-left: 100px;font-size: 22px;">ระเบียนแสดงผลการเรียนหลักสูตรแกนกลางการศึกษาชั้นพื้นฐาน ระดับมัธยมศึกษาตอนปลาย</div>
        </div>
        <div class="row">
          <div style="margin-top: auto;margin-left: 100px;font-size: 18px;width:125px;">ปพ.1 : ป</div><div style="font-size: 18px;margin-top: auto;">ชุดที่</div><div style="font-size: 30px;font-family: Sarabun PSK;width: 200px;text-align: center;">{{setNo}}</div><div style="font-size: 18px;margin-top: auto;">เลขที่</div><div style="font-size: 30px;font-family: Sarabun PSK;width: 200px;text-align: center;">{{seqNo}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:260px;">-------------------------------------</div>
          <div class="line" style="margin-left:45px;">---------------------------------</div>
        </div><br>
        <div class="row">
          <div style="padding-left: 15px;"><b>โรงเรียน</b></div><div style="width: 450px;padding-left: 15px;">พระมารดานิจจานุเคราะห์</div>
        </div>
          <div class="line" style="margin-left:60px;">------------------------------------------------------------------------------------------------------------------------------------------------------</div>
        <div class="row">
          <div style="padding-left: 15px;"><b>สังกัด</b></div><div style="width: 500px;padding-left: 15px;">สังกัดงานคณะกรรมการส่งเสริมการศึกษาเอกชน</div>
        </div>
          <div class="line" style="margin-left:40px;">----------------------------------------------------------------------------------------------------------------------------------------------------------</div>
        <div class="row">
          <div style="padding-left: 15px;"><b>ตำบล/แขวง</b></div><div style="width: 375px;padding-left: 15px;">คลองจั่น</div><div style="padding-left: 15px;"><b>ชื่อ</b></div><div style="padding-left: 15px;">{{firstnameTh}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:100px;">----------------------------------------------------------------------</div>
          <div class="line" style="margin-left:40px;">--------------------------------------------------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>อำเภอ/เขต</b></div><div style="width: 381px;padding-left: 15px;">บางกะปิ</div><div style="padding-left: 15px;"><b>ชื่อสกุล</b></div><div style="padding-left: 15px;">{{lastnameTh}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:90px;">------------------------------------------------------------------------</div>
          <div class="line" style="margin-left:70px;">--------------------------------------------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>จังหวัด</b></div><div style="width: 409px;padding-left: 15px;">กรุงเทพมหานคร</div><div style="padding-left: 15px;"><b>เลขประจำตัวนักเรียน</b></div><div style="padding-left: 15px;">{{stuCode}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:65px;">-----------------------------------------------------------------------------</div>
          <div class="line" style="margin-left:164px;">---------------------------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>สำนักงานเขตพื้นที่การศึกษา</b></div><div style="width: 257px;padding-left: 15px;">มัธยมศึกษากรุงเทพมหานคร</div><div style="padding-left: 15px;"><b>เลขประจำตัวประชาชน</b></div><div style="padding-left: 15px;">{{citizenId}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:215px;;">-------------------------------------------------</div>
          <div class="line" style="margin-left:174px;">-------------------------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>วันเข้าเรียน</b></div><div style="width: 380px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>เกิดวันที่</b></div><div style="width: 49px;text-align: center;">{{day}}</div><div style="padding-left: 15px;"><b>เดือน</b></div><div style="width: 191px;padding-left: 15px;">{{month}}</div><div style="padding-left: 15px;"><b>พ.ศ.</b></div><div style="padding-left: 15px;">{{year}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:95px;">-----------------------------------------------------------------------</div>
          <div class="line" style="margin-left:77px;">-----------</div>
          <div class="line" style="margin-left:43px;">-------------------------------------</div>
          <div class="line" style="margin-left:40px;">---------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>โรงเรียนเดิม</b></div><div style="width: 373px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>เพศ</b></div><div style="width: 74px;text-align: center;">{{gender}}</div><div style="padding-left: 15px;"><b>สัญชาติ</b></div><div style="width: 160px;padding-left: 15px;">{{citizenship}}</div><div style="padding-left: 15px;"><b>ศาสนา</b></div><div style="padding-left: 15px;">{{religion}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:105px;">---------------------------------------------------------------------</div>
          <div class="line" style="margin-left:52px;">----------------</div>
          <div class="line" style="margin-left:55px;">--------------------------------</div>
          <div class="line" style="margin-left:55px;">---------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>จังหวัด</b></div><div style="width: 410px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>ชื่อ - ชื่อสกุลบิดา</b></div><div style="padding-left: 15px;">{{fatherTitle}}{{fatherFirstnameTh}}&nbsp;{{fatherLastnameTh}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:65px;">-----------------------------------------------------------------------------</div>
          <div class="line" style="margin-left:135px;">-------------------------------------------------------------------------------</div>
        </div>
        <div class="row">
          <div style="padding-left: 15px;"><b>ชั้นเรียนสุดท้าย</b></div><div style="width: 350px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>ชื่อ - ชื่อสกุลมารดา</b></div><div style="padding-left: 15px;">{{motherTitle}}{{motherFirstnameTh}}&nbsp;{{motherLastnameTh}}</div>
        </div>
        <div class="row">
          <div class="line" style="margin-left:125px;">-----------------------------------------------------------------</div>
          <div class="line" style="margin-left:157px;">----------------------------------------------------------------------------</div>
        </div>
        <div class="text-center"><b>ผลการเรียนรายวิชา</b></div>
      </div>

      <div style="height: 1025px;width: 360px;padding-left: 15px;"> <!-- table col 1 page 1 -->
        <div class="row">
          <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
              <b>รหัส/รายวิชา</b>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer" style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer" style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
          </div>
        </div>
        <div class="row">
          <div class="dataInTable" style="width: 260px;height: 1000px;border: 1px solid;padding: 5px;">
            <table>
              <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year4}} ชั้นมัธยมศึกษาปีที่ 4</b></td></tr>
              <tr><td  style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
              </tr>
              <tr><td  style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
            <table>
              <tr><td > <b>ปีการศึกษา {{term_year4_2}} ชั้นมัธยมศึกษาปีที่ 4</b></td></tr>
              <tr>
                <td  style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
              </tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
              </tr>
              <tr><td  style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
          </div>
          <div class="dataInTable" style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td >&nbsp;</td></tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
            <table>
              <tr><td >&nbsp;</td></tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
          </div>
          <div class="dataInTable" style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td >&nbsp;</td></tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4">
                <td  *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
            <table>
              <tr><td >&nbsp;</td></tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary4_2">
                <td  *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
              </tr>
              <tr><td >&nbsp;</td></tr>
            </table>
          </div>
        </div>
      </div>

      <div style="height: 1025px;width: 360px;padding-left: 15px;"> <!-- table col 2 page 1 -->
        <div class="row">
          <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
              <b>รหัส/รายวิชา</b>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer" style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer" style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
          </div>
        </div>
        <div class="row">
          <div style="width: 260px;height: 1000px;border: 1px solid;padding: 5px;">
            <table>
              <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year5}} ชั้นมัธยมศึกษาปีที่ 5</b></td></tr>
              <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
              </tr>
              <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year5_2}} ชั้นมัธยมศึกษาปีที่ 5</b></td></tr>
              <tr>
                <td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
              </tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
              </tr>
              <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
              <tr *ngFor="let Data of secondary5_2">
                <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
              </tr>
              <tr><td class="dataInTable">&nbsp;</td></tr>
            </table>
          </div>
        </div>
      </div>

      <div style="height: 900px;width: 360px;padding-left: 15px;"> <!-- table col 3 page 1 -->
        <div>
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
                <b>รหัส/รายวิชา</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row">
            <div style="width: 260px;height: 875px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year6}} ชั้นมัธยมศึกษาปีที่ 6</b></td></tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year6_2}} ชั้นมัธยมศึกษาปีที่ 6</b></td></tr>
                <tr>
                  <td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
                </tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 875px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 875px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary6_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
  
            </div>
          </div>
        </div>
        <div class="text-center" style="border: 1px solid;height: 125px;margin: 0 -15px;width: 360px;">
          <div style="position: relative; bottom: -65px;">
            <div class="row" style="margin-right: 15px;padding-left: 41px;">
              <div>(</div><div style="width: 95%;">{{registrar}}</div><div>)</div>
              <p style="margin-top:-14px ;">-----------------------------------------------------------</p>
            </div>
            <div class="text-center" style="margin-top:-20px ;">นายทะเบียน</div>
          </div>
        </div>
      </div>

    </div>
  </mat-card>
</div>

<div class="contai" id="printSectionPageTest2" style="font-family: Sarabun PSK;"><!-- พิมพ์สอบหน้าที่ 2 -->
  <mat-card style="width: 1085px;height: 1560px;">

    <div class="row"><!-- headerPage 2 -->
      <div style="padding-left: 170px;margin-top: auto;font-size: 18px;width:340px;">ปพ.1 : ป</div><div style="font-size: 18px;margin-top: auto;">ชุดที่</div><div style="font-size: 24px;width: 220px;text-align: center;">{{setNo}}</div><div style="font-size: 18px;margin-top: auto;">เลขที่</div><div style="font-size: 24px;width: 175px;text-align: center;">{{seqNo}}</div>
    </div>
    <div class="row">
      <div class="line" style="margin-left:375px;">------------------------------------</div>
      <div class="line" style="margin-left:60px;">-------------------------------</div>
    </div>

    <div class="text-center" style="padding-top: 15px;padding-bottom: 5px;"><b>ผลการประเมินกิจกรรมพัฒนาผู้เรียน</b></div>

    <div class="row" style="margin-bottom:5px;">

      <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 1 page 2 -->
        <div class="row">
          <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
              <b>กิจกรรม</b>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
          </div>
        </div>
        <div class="row dataInTable">
          <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
            <table>
              <tr><td class="dataInTable" > ปีการศึกษา {{term_year4}} ชั้นมัธยมศึกษาปีที่ 4</td></tr>
              <tr *ngFor="let Data of activity4">
                <td class="dataInTable" >{{Data.activity_name}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable" > ปีการศึกษา {{term_year4_2}} ชั้นมัธยมศึกษาปีที่ 4</td></tr>
              <tr *ngFor="let Data of activity4_2">
                <td class="dataInTable" >{{Data.activity_name}}</td>
              </tr>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
              <tr *ngFor="let Data of activity4">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
              <tr *ngFor="let Data of activity4_2">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
              <tr *ngFor="let Data of activity4">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
            </table>
            <table>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
              <tr *ngFor="let Data of activity4_2">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td class="dataInTable" >&nbsp;</td></tr>
            </table>
          </div>
        </div>
      </div>

      <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 2 page 2 -->
        <div class="row">
          <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
            <b>กิจกรรม</b>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
          </div>
        </div>
        <div class="row dataInTable">
          <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
            <table>
              <tr><td> ปีการศึกษา {{term_year5}} ชั้นมัธยมศึกษาปีที่ 5</td></tr>
              <tr *ngFor="let Data of activity5">
                <td class="dataInTable" >{{Data.activity_name}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td> ปีการศึกษา {{term_year5_2}} ชั้นมัธยมศึกษาปีที่ 5</td></tr>
              <tr *ngFor="let Data of activity5_2">
                <td class="dataInTable" >{{Data.activity_name}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity5">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity5_2">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity5">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity5_2">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
        </div>
      </div>

      <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 3 page 2 -->
        <div class="row">
          <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
            <b>กิจกรรม</b>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
          </div>
          <div style="border: 1px solid;height: 75px;width: 50px;">
            <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
          </div>
        </div>
        <div class="row dataInTable">
          <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
            <table>
              <tr><td> ปีการศึกษา {{term_year6}} ชั้นมัยมศึกษาปีที่ 6</td></tr>
              <tr *ngFor="let Data of activity6">
                <td>{{Data.activity_name}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td> ปีการศึกษา {{term_year6_2}} ชั้นมัธยมศึกษาปีที่ 6</td></tr>
              <tr *ngFor="let Data of activity6_2">
                <td>{{Data.activity_name}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity6">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity6_2">
                <td class="dataInTable">{{Data.lesson || "-"}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
          <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity6">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr *ngFor="let Data of activity6_2">
                <td class="dataInTable">{{Data.result}}</td>
              </tr>
              <tr><td>&nbsp;</td></tr>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-8 bp0" style="width: 100%;"><!-- table2 col1 page 2 -->
        <div class="row margin-lr"><!-- สรุปผลการประเมิน -->
          <div class="col-10 bp0" style="width: 100%;height: 225px;">
            <div class="col-12 bp0 text-center" style="width: 100%;height: 50px;border: 1px solid;padding-top: 15px;"><b>สรุปผลการประเมิน</b></div>
            <div class="col-12 bp0" style="width: 100%;height: 200px;border: 1px solid;padding-top: 20px;padding-left: 20px;">
              <div class="row">
                <div><b>1.ผลการประเมินรายวิชาพื้นนฐาน</b></div><div style="padding-left: 55px;">ผ่านทุกรายวิชา</div>
              </div><div class="linepad" style="margin-left:225px;">----------------------------------------------------------</div>
              <div class="row">
                <div><b>2.ผลการประเมินการอ่าน คิดวิเคราะห์ และเขียน</b></div><div style="padding-left: 55px;">{{ratwResult}}</div>
              </div><div class="linepad" style="margin-left:307px;">------------------------------------------</div>
              <div class="row">
                <div><b>3.ผลการประเมินคุณลักษณะอันพึงประสงค์</b></div><div style="padding-left: 55px;">{{desiredCharResult}}</div>
              </div><div class="linepad" style="margin-left:275px;">------------------------------------------------</div>
              <div class="row">
                <div><b>4.ผลการประเมินกิจกรรมพัฒนาผู้เรียน</b></div><div  style="padding-left: 55px;">ผ่าน</div>
              </div><div class="linepad" style="margin-left:250px;">-----------------------------------------------------</div>
            </div>
          </div>
          <div class="col-2 bp0"style="width: 100%;height: 250px;">
            <div class="col-12 bp0 text-center" style="width: 100%;height: 50px;border: 1px solid;padding-top: 15px;"><b>ผลการตัดสิน</b></div>
            <div class="col-12 bp0 text-center" style="width: 100%;height: 200px;border: 1px solid;padding-top: 15px;padding-top: 20px;">
              <div>ผ่าน</div>
              <div class="linepad">--------------------</div>
              <div>ผ่าน</div>
              <div class="linepad">--------------------</div>
              <div>ผ่าน</div>
              <div class="linepad">--------------------</div>
              <div>ผ่าน</div>
              <div class="linepad">--------------------</div>
              </div>
          </div>
        </div>
        <div class="col-12 bp0" style="width: 100%;height: 125px;border: 1px solid;padding-left: 30px;padding-top: 10px;"><!-- วันอนุมัติการจบ -->
          <div class="row">
            <div><b>วันอนุมัติการจบ</b></div><div style="padding-left: 45px;">29 มีนาคม 2562</div>
          </div><div class="linepad" style="margin-left:110px;">--------------------------------------------------------------------------------------------------</div>
          <div class="row">
            <div><b>วันออกจากโรงเรียน</b></div><div style="padding-left: 45px;">29 มีนาคม 2562</div>
          </div><div class="linepad" style="margin-left:130px;">----------------------------------------------------------------------------------------------</div>
          <div class="row">
            <div><b>สาเหตุที่ออกจากโรงเรียน</b></div><div style="padding-left: 45px;">จบการศึกษาระดับมัธยมตอนต้น</div>
          </div><div class="linepad" style="margin-left:170px;">---------------------------------------------------------------------------------------</div>
        </div>
        <div class="col-12 bp0" style="width: 100%;height: 150px;border: 1px solid;"><!-- ผลการทดสอบระดับชาติ -->
          <div class="text-center" style="padding-top: 10px;"><b>ผลการทดสอบระดับชาติ</b></div>
          <div style="padding-left: 5px;">
            <b>O-NET ชั้นมัธยมศึกษาปีที่ 6</b>
          </div>
          <div class="row" style="padding-top: 10px;">
            <div class="row dataInTable" style="padding-left: 15px;width: 400px;">
              <div style="padding-left: 20px;">61</div><div style="padding-left: 10px;">ภาษาไทย</div><div style="padding-left: 95px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore1}}</div>
            </div>
            <div class="row dataInTable" style="padding-left: 10px;width: 410px;">
              <div style="padding-left: 10px;">65</div><div style="padding-left: 10px;">วิทยาศาสตร์</div><div style="padding-left: 90px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore5}}</div>
            </div>
          </div>
          <div class="row">
            <div class="row dataInTable" style="padding-left: 15px;width: 385px;">
              <div style="padding-left: 20px;">64</div><div style="padding-left: 10px;">คณิตศาสตร์</div><div style="padding-left: 82px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore4}}</div>
            </div>
            <div class="row dataInTable" style="padding-left: 30px;width: 400px;">
              <div style="padding-left: 5px;">63</div><div style="padding-left: 10px;">ภาษาอังกฤษ</div><div style="padding-left: 88px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore3}}</div>
            </div>
          </div>
        </div>
        <div class="col-12 bp0" style="width: 100%;height: 150px;border: 1px solid;padding-left: 15px;"><!-- สัดส่วนผลการเรียนและผลการทดสอบระดับชาติ -->
          <div class="text-center" style="padding-top: 10px;padding-bottom: 15px;">
            <b>สัดส่วนผลการเรียนและผลการทดสอบระดับชาติ</b>
          </div>
            <div class="row margin-lr"><b>1. ร้อยละ</b><div style="padding-left: 15px;">70</div><div style="padding-left: 15px;"><b>ของผลการเรียนเฉลี่ยตลอด 3 ปี (ม.4-6)</b></div><div style="padding-left: 217px;">=</div><div style="padding-left: 35px;">{{grade70}}</div></div>
            <div class="row"><div class="linemar" style="padding-left: 75px;">---------</div><div class="linemar" style="padding-left: 502px;">-----------------</div></div>
            <div class="row margin-lr"><b>2. ร้อยละ</b><div style="padding-left: 15px;">30</div><div style="padding-left: 15px;"><b>ของผลการทดสอบทางการศึกษาระดับชาติขั้นพื้นฐาน</b></div><div style="padding-left: 113px;">=</div><div style="padding-left: 35px;">2.79</div></div>
            <div class="row"><div class="linemar" style="padding-left: 75px;">---------</div><div class="linemar" style="padding-left: 502px;">-----------------</div></div>
            <div class="row margin-lr"><b>3. ผลการเรียนเฉลี่ยรวม</b><div style="padding-left: 432px;">=</div><div style="padding-left: 35px;">2.79</div></div>
            <div class="row"><div class="linemar" style="padding-left: 625px;">-----------------</div></div>

        </div>
        <div class="col-12 bp0" style="width: 100%;height: 250px;border: 1px solid;padding-left: 15px;"><!-- เกณฑ์การประเมินของสถานศึกษา -->
          <div class="text-center" style="padding-bottom: 10px;"><b>เกณฑ์การประเมินของสถานศึกษา</b></div>
          <p style="font-size: 12px;margin-bottom: 0;">1.ผู้เรียนต้องเรียนรู้ทุกวิชาพื้นฐานและมีผลการเรียนระดับ 1.0 ขึ้นไป จึงจะถือว่าผ่านการประเมินรายวิชาพื้นฐาน</p>
          <p style="font-size: 12px;margin-bottom: 0;">2.ผู้เรียนต้องมีผลการประเมินการอ่าน คิดวิเคราะห์และเขียน ได้รับดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน</p>
          <p style="font-size: 12px;margin-bottom: 0;">3.ผู้เรียนต้องมีผลการประเมินคุณลักษณะอันพึงประสงค์ ได้รับระดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน</p>
          <p style="font-size: 12px;margin-bottom: 0;">4.ผู้เรียนต้องปฎิบัติกิจกรรมพัฒนาผู้เรียนและมีผลการประเมินกิจกรรม "ผ" ในทุกกิจกรรมพัฒนาผู้เรียน</p>
          <b><p style="font-size: 12px;margin-bottom: 0;">คำอธิบายเกณฑ์ ผลการเรียนรายวิชา</p></b>
          <div style="font-size: 12px;padding-left: 50px;">
            <div class="row"><div>4</div><div style="padding-left: 85px;">หมายถึง ดีเยี่ยม</div><div style="padding-left: 140px;">2</div><div style="padding-left: 85px;">หมายถึง ปานกลาง</div></div>
            <div class="row"><div>3.5</div><div style="padding-left: 76px;">หมายถึง ดีมาก</div><div style="padding-left: 145px;">1.5</div><div style="padding-left: 74px;">หมายถึง พอใช้</div></div>
            <div class="row"><div>3</div><div style="padding-left: 85px;">หมายถึง ดี</div><div style="padding-left: 165px;">1</div><div style="padding-left: 85px;">หมายถึง ผ่านเกณฑ์ขั้นต่ำ</div></div>
            <div class="row"><div>2.5</div><div style="padding-left: 76px;">หมายถึง ค่อนข้างดี</div><div style="padding-left: 124px;">0</div><div style="padding-left: 85px;">หมายถึง ต่ำกว่าเกณฑ์</div></div>
          </div>
        </div>
      </div>

      <div class="col-4 bp0" style="width: 100%;"><!-- table2 col2 page 2 -->
        <div class="col-12 bp0" style=" width: 100%;height: 375px;border: 1px solid;"><!-- กลุ่มสาระการเรียนรู้ -->
          <div class="row margin-lr">
            <div class="col-8 bp0 text-center" style="border: 1px solid;height: 125px;padding-top: 30px;max-width: 260px;">
                <p style="margin-bottom: 0;"><b>กลุ่มสาระการเรียนรู้/</b></p><p><b>การศึกษาค้นคว้าด้วยตัวเอง</b></p>
            </div>
            <div class="col-2 bp0" style="border: 1px solid;height: 125px;">
              <div class="textAlignVer"style="padding: 40px;margin-top: 30px;"><b><p style="margin-bottom: 0;">หน่วยน้ำหนัก</p><p>รวม(ม.4-6)</p></b></div>
            </div>
            <div class="col-2 bp0" style="border: 1px solid;height: 125px;">
              <div class="textAlignVer"style="padding: 40px;margin-top: 40px;"><b><p style="margin-bottom: 0;">ผลการเรียนเฉลี่ย</p><p>เฉลี่ย(ม.4-6)</p></b></div>
            </div>
          </div>
          <div class="row margin-lr" > 
            <div class="col-8 bp0" style="border: 1px solid #000000;height: 250px;">
              <table style="height: 250px;">
                <tr *ngFor="let Data of scoreAver">
                  <td style="padding-left: 5px;">{{Data.subject}}</td>
                </tr>
              </table>
            </div>
            <div class="col-2 bp0" style="border: 1px solid #000000;height: 250px;text-align:-webkit-center ;">
              <table style="height: 250px;">
                <tr *ngFor="let Data of scoreAver">
                  <td>{{Data.sum}}</td>
                </tr>
              </table>
            </div>
            <div  class="col-2 bp0" style="border: 1px solid #000000;height: 250px;text-align:-webkit-center ;">
              <table style="height: 250px;">
                <tr *ngFor="let Data of scoreAver">
                  <td>{{Data.gpa}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 bp0" style=" width: 100%;height: 35px;border: 1px solid;"><!-- ผลการเรียนเฉลี่ย -->
          <div class="row margin-lr">
            <div class="col-8 bp0 text-center" style=" width: 100%;height: 35px;border: 1px solid;"><!-- col 1 row 1-->
              <b><p style="font-size: 14px;padding-top: 5px;">ผลการเรียนเฉลี่ยตลอด 3 ปี(ม.4-6)</p></b>
            </div>
            <div class="col-2 text-center bp0" style=" width: 100%;height: 35px;border: 1px solid;text-align:-webkit-center ;"><!-- col 2 -->
              {{creditSum}}
            </div>
            <div class="col-2 text-center bp0" style=" width: 100%;height: 35px;border: 1px solid;text-align:-webkit-center ;"><!-- col 3 -->
              {{gradeSum}}
            </div>
          </div>
        </div>
        <div class="col-12 bp0" style=" width: 100%;height: 325px;border: 1px solid;"><!-- นายทะเบียน -->
          <div class="text-center" style="height: 125px;margin: 0 -15px;">
            <div style="position: relative; bottom: -80px;">
              <div class="row col-12" style="margin-right: 15px;padding-left: 50px;">
                <div>(</div><div style="width: 95%;">{{registrar}}</div><div>)</div>
                <p style="margin-top:-14px ;">------------------------------------------------------------</p>
              </div>
              <div class="text-center" style="margin-top:-20px ;">นายทะเบียน</div>
            </div>
            <div style="position: relative; bottom: -170px;">
              <div class="row col-12" style="margin-right: 15px;padding-left: 50px;">
                <div>(</div><div style="width: 95%;">{{Director}}</div><div>)</div>
                <p style="margin-top:-14px ;">------------------------------------------------------------</p>
              </div>
              <div class="text-center" style="margin-top:-20px ;">ผู้อำนวยการ/อาจารย์ใหญ่/ครูใหญ่</div>
              <div class="text-center" style="padding-top: 10px;"><b>วันที่ {{tranDate}}</b></div>
            </div>
          </div>
        </div>
        <div class="col-12 bp0" style=" width: 100%;height: 190px;border: 1px solid;padding-left: 5px;"><!-- หมายเหตุ -->
          <div style="padding-bottom: 10px;"><b>หมายเหตุ</b></div>
          <p style="font-size: 12px;margin-bottom: 0;word-wrap: break-word;">ดำเนินการตามสั่งกระทรวงศึกษาที่่ ศธ04010/ว1239 เรื่องแนวปฏิบัติการวัดและประเมินผลการเรียนในระยะต่อเนื่อง ระหว่างหลักสูตรการศึกษาขั้นพื้นฐาน พุทธศักราช 2544 และหลักสูตรแกนกลางการศึกษาขั้นพื้นฐานพุทธศักราช 2551 ลงวันที่ 1 กันยายน 2557</p>
        </div>
      </div>

    </div>
  </mat-card>
</div>

<div class="hidePage"><!-- พิมพ์จริงหน้าที่ 1 -->
  <div class="contai" id="printSectionPage1" style="font-family: Sarabun PSK;"><!--  -->

    <mat-card style="width: 1085px;height: 1560px;">
      <div class="row">
  
        <div class="col-12"> <!-- headerPage 1 -->
          <div class="row">
            <div style="margin-left: 100px;font-size: 22px;">ระเบียนแสดงผลการเรียนหลักสูตรแกนกลางการศึกษาชั้นพื้นฐาน ระดับมัธยมศึกษาตอนปลาย</div>
          </div>
          <div class="row">
            <div style="margin-top: auto;margin-left: 100px;font-size: 18px;width:125px;">ปพ.1 : ป</div><div style="font-size: 18px;margin-top: auto;">ชุดที่</div><div style="font-size: 30px;font-family: Sarabun PSK;width: 200px;text-align: center;">{{setNo}}</div><div style="font-size: 18px;margin-top: auto;">เลขที่</div><div style="font-size: 30px;font-family: Sarabun PSK;width: 200px;text-align: center;">{{seqNo}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:260px;">-------------------------------------</div>
            <div class="line" style="margin-left:45px;">---------------------------------</div>
          </div><br>
          <div class="row">
            <div style="padding-left: 15px;"><b>โรงเรียน</b></div><div style="width: 450px;padding-left: 15px;">พระมารดานิจจานุเคราะห์</div>
          </div>
            <div class="line" style="margin-left:60px;">------------------------------------------------------------------------------------------------------------------------------------------------------</div>
          <div class="row">
            <div style="padding-left: 15px;"><b>สังกัด</b></div><div style="width: 500px;padding-left: 15px;">สังกัดงานคณะกรรมการส่งเสริมการศึกษาเอกชน</div>
          </div>
            <div class="line" style="margin-left:40px;">----------------------------------------------------------------------------------------------------------------------------------------------------------</div>
          <div class="row">
            <div style="padding-left: 15px;"><b>ตำบล/แขวง</b></div><div style="width: 375px;padding-left: 15px;">คลองจั่น</div><div style="padding-left: 15px;"><b>ชื่อ</b></div><div style="padding-left: 15px;">{{firstnameTh}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:100px;">----------------------------------------------------------------------</div>
            <div class="line" style="margin-left:40px;">--------------------------------------------------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>อำเภอ/เขต</b></div><div style="width: 381px;padding-left: 15px;">บางกะปิ</div><div style="padding-left: 15px;"><b>ชื่อสกุล</b></div><div style="padding-left: 15px;">{{lastnameTh}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:90px;">------------------------------------------------------------------------</div>
            <div class="line" style="margin-left:70px;">--------------------------------------------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>จังหวัด</b></div><div style="width: 409px;padding-left: 15px;">กรุงเทพมหานคร</div><div style="padding-left: 15px;"><b>เลขประจำตัวนักเรียน</b></div><div style="padding-left: 15px;">{{stuCode}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:65px;">-----------------------------------------------------------------------------</div>
            <div class="line" style="margin-left:164px;">---------------------------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>สำนักงานเขตพื้นที่การศึกษา</b></div><div style="width: 257px;padding-left: 15px;">มัธยมศึกษากรุงเทพมหานคร</div><div style="padding-left: 15px;"><b>เลขประจำตัวประชาชน</b></div><div style="padding-left: 15px;">{{citizenId}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:215px;;">-------------------------------------------------</div>
            <div class="line" style="margin-left:174px;">-------------------------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>วันเข้าเรียน</b></div><div style="width: 380px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>เกิดวันที่</b></div><div style="width: 49px;text-align: center;">{{day}}</div><div style="padding-left: 15px;"><b>เดือน</b></div><div style="width: 191px;padding-left: 15px;">{{month}}</div><div style="padding-left: 15px;"><b>พ.ศ.</b></div><div style="padding-left: 15px;">{{year}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:95px;">-----------------------------------------------------------------------</div>
            <div class="line" style="margin-left:77px;">-----------</div>
            <div class="line" style="margin-left:43px;">-------------------------------------</div>
            <div class="line" style="margin-left:40px;">---------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>โรงเรียนเดิม</b></div><div style="width: 373px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>เพศ</b></div><div style="width: 74px;text-align: center;">{{gender}}</div><div style="padding-left: 15px;"><b>สัญชาติ</b></div><div style="width: 160px;padding-left: 15px;">{{citizenship}}</div><div style="padding-left: 15px;"><b>ศาสนา</b></div><div style="padding-left: 15px;">{{religion}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:105px;">---------------------------------------------------------------------</div>
            <div class="line" style="margin-left:52px;">----------------</div>
            <div class="line" style="margin-left:55px;">--------------------------------</div>
            <div class="line" style="margin-left:55px;">---------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>จังหวัด</b></div><div style="width: 410px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>ชื่อ - ชื่อสกุลบิดา</b></div><div style="padding-left: 15px;">{{fatherTitle}}{{fatherFirstnameTh}}&nbsp;{{fatherLastnameTh}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:65px;">-----------------------------------------------------------------------------</div>
            <div class="line" style="margin-left:135px;">-------------------------------------------------------------------------------</div>
          </div>
          <div class="row">
            <div style="padding-left: 15px;"><b>ชั้นเรียนสุดท้าย</b></div><div style="width: 350px;padding-left: 15px;"></div><div style="padding-left: 15px;"><b>ชื่อ - ชื่อสกุลมารดา</b></div><div style="padding-left: 15px;">{{motherTitle}}{{motherFirstnameTh}}&nbsp;{{motherLastnameTh}}</div>
          </div>
          <div class="row">
            <div class="line" style="margin-left:125px;">-----------------------------------------------------------------</div>
            <div class="line" style="margin-left:157px;">----------------------------------------------------------------------------</div>
          </div>
          <div class="text-center"><b>ผลการเรียนรายวิชา</b></div>
        </div>
  
        <div style="height: 1025px;width: 360px;padding-left: 15px;"> <!-- table col 1 page 1 -->
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
                <b>รหัส/รายวิชา</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer" style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer" style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row">
            <div class="dataInTable" style="width: 260px;height: 1000px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year4}} ชั้นมัธยมศึกษาปีที่ 4</b></td></tr>
                <tr><td  style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td  style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
              <table>
                <tr><td > <b>ปีการศึกษา {{term_year4_2}} ชั้นมัธยมศึกษาปีที่ 4</b></td></tr>
                <tr>
                  <td  style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
                </tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td  style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
            </div>
            <div class="dataInTable" style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td >&nbsp;</td></tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
              <table>
                <tr><td >&nbsp;</td></tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
            </div>
            <div class="dataInTable" style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td >&nbsp;</td></tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
              <table>
                <tr><td >&nbsp;</td></tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary4_2">
                  <td  *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td >&nbsp;</td></tr>
              </table>
            </div>
          </div>
        </div>
  
        <div style="height: 1025px;width: 360px;padding-left: 15px;"> <!-- table col 2 page 1 -->
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
                <b>รหัส/รายวิชา</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer" style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer" style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row">
            <div style="width: 260px;height: 1000px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year5}} ชั้นมัธยมศึกษาปีที่ 5</b></td></tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year5_2}} ชั้นมัธยมศึกษาปีที่ 5</b></td></tr>
                <tr>
                  <td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
                </tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 1000px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
                <tr *ngFor="let Data of secondary5_2">
                  <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                </tr>
                <tr><td class="dataInTable">&nbsp;</td></tr>
              </table>
            </div>
          </div>
        </div>
  
        <div style="height: 900px;width: 360px;padding-left: 15px;"> <!-- table col 3 page 1 -->
          <div>
            <div class="row">
              <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
                  <b>รหัส/รายวิชา</b>
              </div>
              <div style="border: 1px solid;height: 75px;width: 50px;">
                <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
              </div>
              <div style="border: 1px solid;height: 75px;width: 50px;">
                <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
              </div>
            </div>
            <div class="row">
              <div style="width: 260px;height: 875px;border: 1px solid;padding: 5px;">
                <table>
                  <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year6}} ชั้นมัธยมศึกษาปีที่ 6</b></td></tr>
                  <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                  </tr>
                  <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
                <table>
                  <tr><td class="dataInTable"> <b>ปีการศึกษา {{term_year6_2}} ชั้นมัธยมศึกษาปีที่ 6</b></td></tr>
                  <tr>
                    <td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาพื้นฐาน</b></td>
                  </tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.subject}}</td>
                  </tr>
                  <tr><td class="dataInTable" style="padding-left: 25px;"> <b>รายวิชาเพิ่มเติม</b></td></tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.subject}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
              </div>
              <div style="width: 50px;height: 875px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
                <table>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
                <table>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.credit}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.credit}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
              </div>
              <div style="width: 50px;height: 875px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
                <table>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
                <table>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='1'">{{Data.grade}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                  <tr *ngFor="let Data of secondary6_2">
                    <td class="dataInTable" *ngIf="Data.subject_type=='2'">{{Data.grade}}</td>
                  </tr>
                  <tr><td class="dataInTable">&nbsp;</td></tr>
                </table>
    
              </div>
            </div>
          </div>
          <div class="text-center" style="border: 1px solid;height: 125px;margin: 0 -15px;width: 360px;">
            <div style="position: relative; bottom: -65px;">
              <div class="row" style="margin-right: 15px;padding-left: 41px;">
                <div>(</div><div style="width: 95%;">{{registrar}}</div><div>)</div>
                <p style="margin-top:-14px ;">-----------------------------------------------------</p>
              </div>
              <div class="text-center" style="margin-top:-20px ;">นายทะเบียน</div>
            </div>
          </div>
        </div>
  
      </div>
    </mat-card>
  </div>
</div>

<div class="hidePage"><!-- พิมพ์จริงหน้าที่ 2 -->
  <div class="contai" id="printSectionPage2" style="font-family: Sarabun PSK;"><!--  -->
    <mat-card style="width: 1085px;height: 1560px;">
  
      <div style="padding-top: 80px;"></div>
  
      <div class="text-center" style="padding-top: 15px;padding-bottom: 5px;"><b>ผลการประเมินกิจกรรมพัฒนาผู้เรียน</b></div>
  
      <div class="row" style="margin-bottom:5px;">
  
        <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 1 page 2 -->
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
                <b>กิจกรรม</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row dataInTable">
            <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td class="dataInTable" > ปีการศึกษา {{term_year4}} ชั้นมัธยมศึกษาปีที่ 4</td></tr>
                <tr *ngFor="let Data of activity4">
                  <td class="dataInTable" >{{Data.activity_name}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable" > ปีการศึกษา {{term_year4_2}} ชั้นมัธยมศึกษาปีที่ 4</td></tr>
                <tr *ngFor="let Data of activity4_2">
                  <td class="dataInTable" >{{Data.activity_name}}</td>
                </tr>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
                <tr *ngFor="let Data of activity4">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
                <tr *ngFor="let Data of activity4_2">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
                <tr *ngFor="let Data of activity4">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
              </table>
              <table>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
                <tr *ngFor="let Data of activity4_2">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td class="dataInTable" >&nbsp;</td></tr>
              </table>
            </div>
          </div>
        </div>
  
        <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 2 page 2 -->
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
              <b>กิจกรรม</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row dataInTable">
            <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td> ปีการศึกษา {{term_year5}} ชั้นมัธยมศึกษาปีที่ 5</td></tr>
                <tr *ngFor="let Data of activity5">
                  <td class="dataInTable" >{{Data.activity_name}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td> ปีการศึกษา {{term_year5_2}} ชั้นมัธยมศึกษาปีที่ 5</td></tr>
                <tr *ngFor="let Data of activity5_2">
                  <td class="dataInTable" >{{Data.activity_name}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity5">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity5_2">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity5">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity5_2">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
          </div>
        </div>
  
        <div style="width: 360px;height: 400px;padding-left: 15px;"> <!-- table1 col 3 page 2 -->
          <div class="row">
            <div class="text-center" style="border: 1px solid;height: 75px;padding-top: 30px;width: 260px;">
              <b>กิจกรรม</b>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 10px;"><b><p style="margin-bottom: 0;">เวลา</p><p>(ชั่วโมง)</p></b></div>
            </div>
            <div style="border: 1px solid;height: 75px;width: 50px;">
              <div class="textAlignVer"style="padding: 20px;margin-top: 30px;"><b><p >ผลการเรียน</p></b></div>
            </div>
          </div>
          <div class="row dataInTable">
            <div style="width: 260px;height: 325px;border: 1px solid;padding: 5px;">
              <table>
                <tr><td> ปีการศึกษา {{term_year6}} ชั้นมัยมศึกษาปีที่ 6</td></tr>
                <tr *ngFor="let Data of activity6">
                  <td>{{Data.activity_name}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td> ปีการศึกษา {{term_year6_2}} ชั้นมัธยมศึกษาปีที่ 6</td></tr>
                <tr *ngFor="let Data of activity6_2">
                  <td>{{Data.activity_name}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity6">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity6_2">
                  <td class="dataInTable">{{Data.lesson || "-"}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
            <div style="width: 50px;height: 325px;border: 1px solid;padding: 5px;text-align:-webkit-center ;">
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity6">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
              <table>
                <tr><td>&nbsp;</td></tr>
                <tr *ngFor="let Data of activity6_2">
                  <td class="dataInTable">{{Data.result}}</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-8 bp0" style="width: 100%;"><!-- table2 col1 page 2 -->
          <div class="row margin-lr"><!-- สรุปผลการประเมิน -->
            <div class="col-10 bp0" style="width: 100%;height: 225px;">
              <div class="col-12 bp0 text-center" style="width: 100%;height: 50px;border: 1px solid;padding-top: 15px;"><b>สรุปผลการประเมิน</b></div>
              <div class="col-12 bp0" style="width: 100%;height: 200px;border: 1px solid;padding-top: 20px;padding-left: 20px;">
                <div class="row">
                  <div><b>1.ผลการประเมินรายวิชาพื้นนฐาน</b></div><div style="padding-left: 55px;">ผ่านทุกรายวิชา</div>
                </div><div class="linepad" style="margin-left:225px;">----------------------------------------------------------</div>
                <div class="row">
                  <div><b>2.ผลการประเมินการอ่าน คิดวิเคราะห์ และเขียน</b></div><div style="padding-left: 55px;">ดี</div>
                </div><div class="linepad" style="margin-left:307px;">------------------------------------------</div>
                <div class="row">
                  <div><b>3.ผลการประเมินคุณลักษณะอันพึงประสงค์</b></div><div style="padding-left: 55px;">ดีเยี่ยม</div>
                </div><div class="linepad" style="margin-left:275px;">------------------------------------------------</div>
                <div class="row">
                  <div><b>4.ผลการประเมินกิจกรรมพัฒนาผู้เรียน</b></div><div  style="padding-left: 55px;">ผ่าน</div>
                </div><div class="linepad" style="margin-left:250px;">-----------------------------------------------------</div>
              </div>
            </div>
            <div class="col-2 bp0"style="width: 100%;height: 250px;">
              <div class="col-12 bp0 text-center" style="width: 100%;height: 50px;border: 1px solid;padding-top: 15px;"><b>ผลการตัดสิน</b></div>
              <div class="col-12 bp0 text-center" style="width: 100%;height: 200px;border: 1px solid;padding-top: 15px;padding-top: 20px;">
                <div>ผ่าน</div>
                <div class="linepad">--------------------</div>
                <div>ผ่าน</div>
                <div class="linepad">--------------------</div>
                <div>ผ่าน</div>
                <div class="linepad">--------------------</div>
                <div>ผ่าน</div>
                <div class="linepad">--------------------</div>
                </div>
            </div>
          </div>
          <div class="col-12 bp0" style="width: 100%;height: 125px;border: 1px solid;padding-left: 30px;padding-top: 10px;"><!-- วันอนุมัติการจบ -->
            <div class="row">
              <div><b>วันอนุมัติการจบ</b></div><div style="padding-left: 45px;">29 มีนาคม 2562</div>
            </div><div class="linepad" style="margin-left:110px;">--------------------------------------------------------------------------------------------------</div>
            <div class="row">
              <div><b>วันออกจากโรงเรียน</b></div><div style="padding-left: 45px;">29 มีนาคม 2562</div>
            </div><div class="linepad" style="margin-left:130px;">----------------------------------------------------------------------------------------------</div>
            <div class="row">
              <div><b>สาเหตุที่ออกจากโรงเรียน</b></div><div style="padding-left: 45px;">จบการศึกษาระดับมัธยมตอนต้น</div>
            </div><div class="linepad" style="margin-left:170px;">---------------------------------------------------------------------------------------</div>
          </div>
          <div class="col-12 bp0" style="width: 100%;height: 150px;border: 1px solid;"><!-- ผลการทดสอบระดับชาติ -->
            <div class="text-center" style="padding-top: 10px;"><b>ผลการทดสอบระดับชาติ</b></div>
            <div style="padding-left: 5px;">
              <b>O-NET ชั้นมัธยมศึกษาปีที่ 6</b>
            </div>
            <div class="row" style="padding-top: 10px;">
              <div class="row dataInTable" style="padding-left: 15px;width: 400px;">
                <div style="padding-left: 20px;">61</div><div style="padding-left: 10px;">ภาษาไทย</div><div style="padding-left: 95px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore1}}</div>
              </div>
              <div class="row dataInTable" style="padding-left: 10px;width: 410px;">
                <div style="padding-left: 10px;">65</div><div style="padding-left: 10px;">วิทยาศาสตร์</div><div style="padding-left: 90px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore5}}</div>
              </div>
            </div>
            <div class="row">
              <div class="row dataInTable" style="padding-left: 15px;width: 385px;">
                <div style="padding-left: 20px;">64</div><div style="padding-left: 10px;">คณิตศาสตร์</div><div style="padding-left: 82px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore4}}</div>
              </div>
              <div class="row dataInTable" style="padding-left: 30px;width: 400px;">
                <div style="padding-left: 5px;">63</div><div style="padding-left: 10px;">ภาษาอังกฤษ</div><div style="padding-left: 88px;">คะแนนเต็ม</div><div style="padding-left: 10px;">100</div><div style="padding-left: 10px;">ได้</div><div style="padding-left: 10px;">{{onetScore3}}</div>
              </div>
            </div>
          </div>
          <div class="col-12 bp0" style="width: 100%;height: 150px;border: 1px solid;padding-left: 15px;"><!-- สัดส่วนผลการเรียนและผลการทดสอบระดับชาติ -->
            <div class="text-center" style="padding-top: 10px;padding-bottom: 15px;">
              <b>สัดส่วนผลการเรียนและผลการทดสอบระดับชาติ</b>
            </div>
              <div class="row margin-lr"><b>1. ร้อยละ</b><div style="padding-left: 15px;">70</div><div style="padding-left: 15px;"><b>ของผลการเรียนเฉลี่ยตลอด 3 ปี (ม.4-6)</b></div><div style="padding-left: 217px;">=</div><div style="padding-left: 35px;">{{grade70}}</div></div>
              <div class="row"><div class="linemar" style="padding-left: 75px;">---------</div><div class="linemar" style="padding-left: 502px;">-----------------</div></div>
              <div class="row margin-lr"><b>2. ร้อยละ</b><div style="padding-left: 15px;">30</div><div style="padding-left: 15px;"><b>ของผลการทดสอบทางการศึกษาระดับชาติขั้นพื้นฐาน</b></div><div style="padding-left: 113px;">=</div><div style="padding-left: 35px;">2.79</div></div>
              <div class="row"><div class="linemar" style="padding-left: 75px;">---------</div><div class="linemar" style="padding-left: 502px;">-----------------</div></div>
              <div class="row margin-lr"><b>3. ผลการเรียนเฉลี่ยรวม</b><div style="padding-left: 432px;">=</div><div style="padding-left: 35px;">2.79</div></div>
              <div class="row"><div class="linemar" style="padding-left: 625px;">-----------------</div></div>
  
          </div>
          <div class="col-12 bp0" style="width: 100%;height: 250px;border: 1px solid;padding-left: 15px;"><!-- เกณฑ์การประเมินของสถานศึกษา -->
            <div class="text-center" style="padding-bottom: 10px;"><b>เกณฑ์การประเมินของสถานศึกษา</b></div>
            <p style="font-size: 12px;margin-bottom: 0;">1.ผู้เรียนต้องเรียนรู้ทุกวิชาพื้นฐานและมีผลการเรียนระดับ 1.0 ขึ้นไป จึงจะถือว่าผ่านการประเมินรายวิชาพื้นฐาน</p>
            <p style="font-size: 12px;margin-bottom: 0;">2.ผู้เรียนต้องมีผลการประเมินการอ่าน คิดวิเคราะห์และเขียน ได้รับดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน</p>
            <p style="font-size: 12px;margin-bottom: 0;">3.ผู้เรียนต้องมีผลการประเมินคุณลักษณะอันพึงประสงค์ ได้รับระดับคุณภาพดีเยี่ยม หรือดี หรือผ่าน</p>
            <p style="font-size: 12px;margin-bottom: 0;">4.ผู้เรียนต้องปฎิบัติกิจกรรมพัฒนาผู้เรียนและมีผลการประเมินกิจกรรม "ผ" ในทุกกิจกรรมพัฒนาผู้เรียน</p>
            <b><p style="font-size: 12px;margin-bottom: 0;">คำอธิบายเกณฑ์ ผลการเรียนรายวิชา</p></b>
            <div style="font-size: 12px;padding-left: 50px;">
              <div class="row"><div>4</div><div style="padding-left: 85px;">หมายถึง ดีเยี่ยม</div><div style="padding-left: 140px;">2</div><div style="padding-left: 85px;">หมายถึง ปานกลาง</div></div>
              <div class="row"><div>3.5</div><div style="padding-left: 76px;">หมายถึง ดีมาก</div><div style="padding-left: 145px;">1.5</div><div style="padding-left: 74px;">หมายถึง พอใช้</div></div>
              <div class="row"><div>3</div><div style="padding-left: 85px;">หมายถึง ดี</div><div style="padding-left: 165px;">1</div><div style="padding-left: 85px;">หมายถึง ผ่านเกณฑ์ขั้นต่ำ</div></div>
              <div class="row"><div>2.5</div><div style="padding-left: 76px;">หมายถึง ค่อนข้างดี</div><div style="padding-left: 124px;">0</div><div style="padding-left: 85px;">หมายถึง ต่ำกว่าเกณฑ์</div></div>
            </div>
          </div>
        </div>
  
        <div class="col-4 bp0" style="width: 100%;"><!-- table2 col2 page 2 -->
          <div class="col-12 bp0" style=" width: 100%;height: 375px;border: 1px solid;"><!-- กลุ่มสาระการเรียนรู้ -->
            <div class="row margin-lr">
              <div class="col-8 bp0 text-center" style="border: 1px solid;height: 125px;padding-top: 30px;max-width: 260px;">
                  <p style="margin-bottom: 0;"><b>กลุ่มสาระการเรียนรู้/</b></p><p><b>การศึกษาค้นคว้าด้วยตัวเอง</b></p>
              </div>
              <div class="col-2 bp0" style="border: 1px solid;height: 125px;">
                <div class="textAlignVer"style="padding: 40px;margin-top: 30px;"><b><p style="margin-bottom: 0;">หน่วยน้ำหนัก</p><p>รวม(ม.4-6)</p></b></div>
              </div>
              <div class="col-2 bp0" style="border: 1px solid;height: 125px;">
                <div class="textAlignVer"style="padding: 40px;margin-top: 40px;"><b><p style="margin-bottom: 0;">ผลการเรียนเฉลี่ย</p><p>เฉลี่ย(ม.4-6)</p></b></div>
              </div>
            </div>
            <div class="row margin-lr" > 
              <div class="col-8 bp0" style="border: 1px solid #000000;height: 250px;">
                <table style="height: 250px;">
                  <tr *ngFor="let Data of scoreAver">
                    <td style="padding-left: 5px;">{{Data.subject}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-2 bp0" style="border: 1px solid #000000;height: 250px;text-align:-webkit-center ;">
                <table style="height: 250px;">
                  <tr *ngFor="let Data of scoreAver">
                    <td>{{Data.sum}}</td>
                  </tr>
                </table>
              </div>
              <div  class="col-2 bp0" style="border: 1px solid #000000;height: 250px;text-align:-webkit-center ;">
                <table style="height: 250px;">
                  <tr *ngFor="let Data of scoreAver">
                    <td>{{Data.gpa}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 bp0" style=" width: 100%;height: 35px;border: 1px solid;"><!-- ผลการเรียนเฉลี่ย -->
            <div class="row margin-lr">
              <div class="col-8 bp0 text-center" style=" width: 100%;height: 35px;border: 1px solid;"><!-- col 1 row 1-->
                <b><p style="font-size: 14px;padding-top: 5px;">ผลการเรียนเฉลี่ยตลอด 3 ปี(ม.4-6)</p></b>
              </div>
              <div class="col-2 text-center bp0" style=" width: 100%;height: 35px;border: 1px solid;text-align:-webkit-center ;"><!-- col 2 -->
                {{creditSum}}
              </div>
              <div class="col-2 text-center bp0" style=" width: 100%;height: 35px;border: 1px solid;text-align:-webkit-center ;"><!-- col 3 -->
                {{gradeSum}}
              </div>
            </div>
          </div>
          <div class="col-12 bp0" style=" width: 100%;height: 325px;border: 1px solid;"><!-- นายทะเบียน -->
            <div class="text-center" style="height: 125px;margin: 0 -15px;">
              <div style="position: relative; bottom: -80px;">
                <div class="row col-12" style="margin-right: 15px;padding-left: 50px;">
                  <div>(</div><div style="width: 95%;">{{registrar}}</div><div>)</div>
                  <p style="margin-top:-14px ;">------------------------------------------------------------</p>
                </div>
                <div class="text-center" style="margin-top:-20px ;">นายทะเบียน</div>
              </div>
              <div style="position: relative; bottom: -170px;">
                <div class="row col-12" style="margin-right: 15px;padding-left: 50px;">
                  <div>(</div><div style="width: 95%;">{{Director}}</div><div>)</div>
                  <p style="margin-top:-14px ;">------------------------------------------------------------</p>
                </div>
                <div class="text-center" style="margin-top:-20px ;">ผู้อำนวยการ/อาจารย์ใหญ่/ครูใหญ่</div>
                <div class="text-center" style="padding-top: 10px;"><b>วันที่ {{tranDate}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-12 bp0" style=" width: 100%;height: 190px;border: 1px solid;padding-left: 5px;"><!-- หมายเหตุ -->
            <div style="padding-bottom: 10px;"><b>หมายเหตุ</b></div>
            <p style="font-size: 12px;margin-bottom: 0;word-wrap: break-word;">ดำเนินการตามสั่งกระทรวงศึกษาที่่ ศธ04010/ว1239 เรื่องแนวปฏิบัติการวัดและประเมินผลการเรียนในระยะต่อเนื่อง ระหว่างหลักสูตรการศึกษาขั้นพื้นฐาน พุทธศักราช 2544 และหลักสูตรแกนกลางการศึกษาขั้นพื้นฐานพุทธศักราช 2551 ลงวันที่ 1 กันยายน 2557</p>
          </div>
        </div>
  
      </div>
    </mat-card>
  </div>
</div>