<div class="portlet light bordered">
    <div class="portlet-title">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-subtitle>
                <!-- <h2>ปีการศึกษา/กำลังศึกษา</h2> -->
                <h3>ข้อมูลแสดงจำนวนนักเรียนชาย-หญิงของแต่ละปีการศึกษา</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding: 15px;">
            <div class="w-100 h-400p" #resizedDiv>
                <ngx-charts-line-chart [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legendTitle]="legendTitle" [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [roundDomains]="roundDomains">
                </ngx-charts-line-chart>
            </div>
        </mat-card-content>
    </div>