<div style="position:fixed; right:45px;top: 75px;"><!-- button -->
  <div>
    <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="goBack()" style="width: 180px;"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {{'button.back'|translate}} </button>
    <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="printComponent('PrintCom')" style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> {{'psms.B0032'|translate}} </button>
  </div>
</div>
<div  id="PrintCom" style="padding-left: 50px;size:  297mm 210mm;">
  <div *ngFor="let item of data['Stu'];let i = index;">
    
    <label style="padding: 0.5cm 0;">{{item.stu_code}}&nbsp;{{item.firstname_th}}&nbsp;{{item.lastname_th}}&nbsp;{{data.Stu[i].class_room}}</label>

    <div *ngIf="Scale[i]==1" class="row pagebreak">
      <div *ngFor="let item of NumArray(data.Num);" >
        <div style="padding: 0.5cm 0.5cm;">
          <img src="{{data.Stu[i].stu_image}}" alt="{{'psms.LB0219'|translate}}" style="width: 9em;height: 12em;">
        </div>
      </div>
    </div><br>
    <div *ngIf="Scale[i]==2" class="row pagebreak">
      <div *ngFor="let item of NumArray(data.Num)" >
        <div style="padding: 0.5cm 0.5cm;">
          <img src="{{data.Stu[i].stu_image}}" alt="{{'psms.LB0219'|translate}}" style="width: 11em;height: 13em;">
        </div>
      </div>
    </div><br>
    <div *ngIf="Scale[i]==3" class="row pagebreak">
      <div *ngFor="let item of NumArray(data.Num)" >
        <div style="padding: 0.5cm 0.5cm;">
          <img src="{{data.Stu[i].stu_image}}" alt="{{'psms.LB0219'|translate}}" style="width: 13em;height: 15em;">
        </div>
      </div>
    </div><br> 
    <div *ngIf="Scale[i]==4" class="row pagebreak">
      <div *ngFor="let item of NumArray(data.Num)" >
        <div style="padding: 0.5cm 0.5cm;">
        <img src="{{data.Stu[i].stu_image}}" alt=" ไม่พบรูปภาพ " style="width: 11em;height: 9em;">
        </div>
      </div>
    </div><br>
  </div>
</div>
