<div class="container">
  <mat-card >
    <div class="text-center" style="padding-top: 50px;">
      <p>สรุปผลการประเมินทักษะชีวิตของผู้เรียน</p>
      <p>ปีการศึกษา 2561</p>
    </div>
    <div style="padding-top: 30px;">
      <table border="1" class="col-12">
        <tr class="text-center">
          <th>ชั้น</th>
          <th>จำนวนนักเรียน</th>
          <th>ดีมาก</th>
          <th>ร้อยละ</th>
          <th>ดี</th>
          <th>ร้อยละ</th>
          <th>พอใช้</th>
          <th>ร้อยละ</th>
          <th>หมายเหตุ</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>