<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'psms.B0011'|translate}}
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>           
  </div>   
</div>
<div class="portlet light bordered">
  <div mat-dialog-content> 
  <mat-card>
    <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{i + 1}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="num1">
        <mat-header-cell *matHeaderCellDef>{{'psms.DT0117'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-center"> <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"><i class="fa fa-print"> {{'psms.DT0117'|translate}}</i></button> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="num2">
        <mat-header-cell *matHeaderCellDef>{{'psms.DT0118'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-center"> <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"><i class="fa fa-print"> {{'psms.DT0118'|translate}}</i></button> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </mat-card>
  </div>
</div>