<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'modeType.MT0005' | translate}}
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>  
  </div>  
</div>
<div class="portlet light bordered">
  <div mat-dialog-content> 
    <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField">{{'psms.LB0086' | translate}} :</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}" formControlName="stuCode"/>
        </div>
      </div>
      <div class="text-center" style="padding: 10px;">
        <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"><i
            class="fa fa-save"></i> {{'button.save' | translate}}</button>
        <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
            class="fa fa-remove"></i> {{'button.cancel' | translate}}</button>
        <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
          [mat-dialog-close]="true">{{'button.closeWindow' | translate}}</button>
      </div>
    </form>
  </div> 
</div>