<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6" style="font-size:34px">
      {{'psms.LB0270'|translate}}
    </div>
    <div class="col-lg-6 text-right mt-3">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="portlet light bordered" >
  <div mat-dialog-content>
    <form [formGroup]="paramFrom" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField ">
            {{'psms.LB0087'|translate}} : <samp class="lbrequire"></samp>
          </label>
        </div>
        <div class="col-sm-3">
          <label class="labelField">{{stu_code}}</label>
        </div>
        <div class="col-sm-3 text-right">
          <label class="labelField">{{'psms.LB0056'|translate}} <samp class="lbrequire" *ngIf="paramFrom.value.setNo == ''">*</samp>:</label>
        </div>
        <div class="col-sm-3">
          <input type="text"  class="form-control"
          pattern="[0-9]{5}" autocomplete="off" onKeyUp="if(isNaN(this.value)){ Swal.fire(กรุณากรอกตัวเลข,'','error').then(() => {this.close();}); this.value='';} "
           maxlength="5"  formControlName="setNo" (change)="onCheck()">
        </div>
      </div>
      <div class=" row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField ">{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}} : <samp class="lbrequire"></samp></label>
        </div>
        <div class="col-sm-3">
          <label class="labelField">{{fullname}}</label>
        </div>
        <div class="col-sm-3 text-right">
          <label class="labelField ">{{'psms.LB0269'|translate}} :</label>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <input [matDatepicker]="picker" class="form-control" formControlName="transcriptDate" [ngModel] ="date" readonly />
            <div class="input-group-btn">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField ">{{'psms.DT0008'|translate}} :</label>
        </div>
        <div class="col-sm-3">
          <label class="labelField">{{class_room}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success">
          <i class="fa fa-search"> {{'button.save'|translate}}</i>
        </button>
        <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancle()">
          <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
        </button>
      </div>
      <!-- </mat-card>
    </div> -->
    </form>
  </div>
</div>