<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'modeType.MT0011'|translate}}
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>  
  </div>  
</div> 
<div mat-dialog-content>
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" autocomplete="off">
                <div class="portlet light bordered">
                    <div class="portlet-title"><br>
                        <div class="row">  
                            <div class="col-lg-1"></div> 
                            <div class="col-lg-3 text-right">
                                <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label> 
                            </div>
                            <div class="col-lg-5">
                                <select class="form-control" formControlName="yearGroupName">
                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3 text-right">
                                <label class="labelField">{{'psms.DT0019' | translate}} :</label>
                            </div>
                            <div class="col-lg-5 ">
                                <select class="form-control" formControlName="catClassId" (change)="ddlClass()">
                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                <option *ngFor="let ele of catClassList" [value]="ele.catClassId">{{ele.lnameTh}}</option>                   
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3 text-right">
                                <label class="labelField">{{'psms.LB0232' | translate}} :</label>
                            </div>
                            <div class="col-lg-5">
                                <select class="form-control" formControlName="className">
                                <option value="" selected>-- {{'psms.LB0130' | translate}}--</option>
                                <option *ngFor="let ele of classList" [value]="ele.classLnameTh">{{ele.classLnameTh}}</option>                   
                                </select>
                            </div>
                        </div><br>   
                        <div class="text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i class="fa fa-search"> {{'button.search' | translate}}</i></button>
                            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger" (click)="onCancel()" ><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-2">  
        <div class="col-lg-12">  
            <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                <ng-container matColumnDef="yearGroupName" >
                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.yearGroupName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fullname"> 
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="className">
                    <mat-header-cell *matHeaderCellDef fxFlex="18">{{'psms.LB0232' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="18"> {{element.className}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="leader">
                    <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.LB0115' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"><i *ngIf="element.leader == true" class="fa fa-users" aria-hidden="true"></i></mat-cell>
                </ng-container>
                <ng-container matColumnDef="manage">
                    <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DT0073' | translate}}</mat-header-cell>
                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                        <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-primary" title="{{'buttonTitle.BTT008' | translate}}" (click)="onSave(element.teacherClassId)">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        </button>
                    </mat-cell> 
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
            </mat-table>
            <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
        </div>
    </div>
</div>

