<body class="authentication-bg">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center show-tm">
                        <a href="#">
                            <span><img src="./assets/img/app/logo_Pramanda.gif" alt="" height="200"></span>
                        </a>
                        <h3 class="text-muted mt-2 mb-4">Pramanda Nijjanukraoh School<br>โรงเรียนพระมารดานิจจานุเคราะห์</h3>

                    </div>
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">ระบบบริหารโรงเรียน</h4>
                            </div>

                            <form [formGroup]="form" autocomplete="off">

                                <div class="form-group mb-3">
                                    <label for="inputEmail">ชื่อผู้ใช้งาน (Username)<samp class="text-danger">*</samp></label>
                                    <input type="email" formControlName="usrName" class="form-control" placeholder="กรอกชื่อผู้ใช้งาน" required autofocus>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="inputPassword">รหัสผ่าน<samp class="text-danger">*</samp></label>
                                    <input type="password" formControlName="password" class="form-control" placeholder="กรอกรหัสผ่าน" required maxlength="8">
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="onLogin()">เข้าสู่ระบบ</button>
                                    <p> <a class="text-muted ml-1"  href="javascript::void('0');" (click)="onForgotpassword()"><i class="fa fa-lock mr-1"></i>ลืมรหัสผ่าน ?</a></p>
                                    <p class="text-muted">ไม่มีรหัสเข้าใช้งาน ? <a href="javascript::void('0');" (click)="onRegister()" class="text-dark ml-1"><b>ลงทะเบียน</b></a></p>
                                </div>

                            </form>

                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
</body>