.bp0{
    padding: 0px;
  }
  .margin-lr{
    margin-right: 0;
    margin-left: 0;
  }
  .margin-top{
    margin-top: 10px;
  }
  .textAlignVer{
    transform: rotate(-90deg); 
    white-space:nowrap;
    font-size:12px;
    margin-bottom:10px;
  }
  .dataInTable{
    font-family: Sarabun PSK;
    font-size: 14px;
  }
  ิ.border{
    border: 1px solid#000;
  }
  div{
    font-family: Sarabun PSK;
  }
  .line{
    margin-top: -18px;
    overflow: hidden;
  }
  .linepad{
    margin-top: -18px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .linemar{
    margin-top: -15px;
    margin-bottom: -5px;
    overflow: hidden;
  }
  .contai{
    width: 100%;
    padding: 0 10px;
    margin-right: 300px;
    margin-left: auto;
  }
  @media (min-width:576px){.contai{max-width:540px}}
  @media (min-width:768px){.contai{max-width:720px}}
  @media (min-width:992px){.contai{max-width:960px}}
  @media (min-width:1200px){.contai{max-width:1140px}}
  @media print {
      body {-webkit-print-color-adjust: exact;}
      .hideWhenPrint { 
         display: none;
    }
  }
  .hidePage{
    display:none;
  }
  