<div style="position:fixed; right:45px;top: 75px;"><!-- button -->
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="printComponent('printSectionPageTest1')" style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ทดสอบหน้าที่ 1 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary margin-top" (click)="printComponent('printSectionPageTest2')"style="width: 180px;" ><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ทดสอบหน้าที่ 2 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning margin-top" (click)="printComponent('printSectionPage1')"style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์หน้าที่ 1 </button></div>
  <div><button class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning margin-top" (click)="printComponent('printSectionPage2')"style="width: 180px;"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์หน้าที่ 2 </button></div>
</div>

<div class="contai" id="printPage1">
  <mat-card>
    <div style="padding-top: 50px;"><!-- headerPage1 -->
      <div class="text-center"><b>BASIC EDUCATION TRANSCRIPT (Primary Level)</b></div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;"><b>School Name</b></div><div style="padding-left: 15px;"><b>PRAMANDANIJANUKROAH SCHOOL</b></div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">School Address</div><div style="padding-left: 15px;">1 Moo 5 Soi Navamin 81 Rd.,Klongchan, Bangkipi, Bangkok, Thailand</div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">Student Name</div><div style="padding-left: 15px;"><!--  --></div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">ID Number</div><div style="padding-left: 15px;"><!--  --></div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">Home Addres</div><div style="padding-left: 15px;"><!--  --></div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">Name of Parents</div><div style="padding-left: 15px;"><!--  --></div>
      </div>
      <div class="row">
        <div style="padding-left: 15px;width: 150px;">Date of Admission</div><div style="padding-left: 15px;"><!--  --></div>
      </div>
    </div>
    <div class="row col-12" style="padding-top: 15px;"><!-- table1 -->
      <div class="col-4" style="width: 100%;height: 1025px;"><!-- table1 col 1 -->
        <div class="row bp0"><!-- Th -->
          <div class="col-3 text-center bp0"style="border: 1px solid;">
            <b>Code</b>
          </div>
          <div class="col-7 bp0 text-center" style="border: 1px solid;">
            <div>Title of Courses</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Crs.</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Gr.</div>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-3"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-7"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
        </div>
      </div>
      <div class="col-4" style="width: 100%;height: 1025px;"><!-- table1 col 2 -->
        <div class="row bp0"><!-- Th -->
          <div class="col-3 text-center bp0"style="border: 1px solid;">
            <b>Code</b>
          </div>
          <div class="col-7 bp0 text-center" style="border: 1px solid;">
            <div>Title of Courses</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Crs.</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Gr.</div>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-3"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-7"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
        </div>
      </div>
      <div class="col-4" style="width: 100%;height: 1025px;"><!-- table1 col 3 -->
        <div class="row bp0"><!-- Th -->
          <div class="col-3 text-center bp0"style="border: 1px solid;">
            <b>Code</b>
          </div>
          <div class="col-7 bp0 text-center" style="border: 1px solid;">
            <div>Title of Courses</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Crs.</div>
          </div>
          <div class="col-1 bp0" style="border: 1px solid;">
            <div>Gr.</div>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-3"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-7"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-1"style="width: 100%;height: 1000px;border: 1px solid;padding: 5px;">

          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="container" id="printPage2">
  <mat-card>
    <div class="text-center" style="padding-top: 50px;">Result og Learner Development Activities</div>
    <div class="row bp0" style="padding-left: 15px;margin-right: 0px;width: 1100px;"><!-- table1  -->
      <div style="width: 260px;padding: 0 15px;"><!-- col 1 -->
        <div class="row bp0"><!-- th -->
          <div class="col-8 text-center bp0"style="border: 1px solid;">
            <b>Year</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Crs.</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Gs.</b>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-8"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">

          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">

          </div>
        </div>
      </div>
      <div style="width: 260px;padding: 0 15px;"><!-- col 2 -->
        <div class="row bp0"><!-- th -->
          <div class="col-8 text-center bp0"style="border: 1px solid;">
            <b>Year</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Crs.</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Gs.</b>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-8"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
        </div>
      </div>
      <div style="width: 260px;padding: 0 15px;"><!-- col 3 -->
        <div class="row bp0"><!-- th -->
          <div class="col-8 text-center bp0"style="border: 1px solid;">
            <b>Year</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Crs.</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Gs.</b>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-8"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
        </div>
      </div>
      <div style="width: 290px;padding: 0 15px;"><!-- col 4 -->
        <div class="row bp0"><!-- th -->
          <div class="col-8 text-center bp0" style="border: 1px solid;font-size: 14px;">
            learnner Development Activity
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Crs.</b>
          </div>
          <div class="col-2 text-center bp0"style="border: 1px solid;">
            <b>Gs.</b>
          </div>
        </div>
        <div class="row"><!-- dataintable -->
          <div class="col-8"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 200px;border: 1px solid;padding: 5px;">
  
          </div>
        </div>
        <div class="row"><!-- total -->
          <div class="col-8 text-center"style="width: 100%;height: 30px;border: 1px solid;padding: 5px;">
            <b>Total</b>
          </div>
          <div class="col-2"style="width: 100%;height: 30px;border: 1px solid;padding: 5px;">
  
          </div>
          <div class="col-2"style="width: 100%;height: 30px;border: 1px solid;padding: 5px;">
  
          </div>
        </div>
      </div>
    </div>
    <div><!-- Graduation Requirement -->
    <p><b>Graduation Requirements</b></p>
    <p>1.Meet the reauirsment for credits enrolled in accordance wiht the curriculum structure of 84 credits.</p>
    <p>2.Earn the total 84 credits of which 66 credits are courses and 18 credits are selective courses.</p>
    <p>3.Meet the passing criteria for reading.analytical thinking and writing skill:desired characterristics:and learner development activities.</p>
    <p><b>Graduation System</b></p>
    <div class="row">
      <div style="padding-left: 15px;padding-right: 80px;">4=Exceilent</div>
      <div style="padding-right: 80px;">3.5=Very good</div>
      <div style="padding-right: 80px;">3=Good</div>
      <div style="padding-right: 80px;">2.5=Rather good</div>
      <div style="padding-right: 80px;">2=Satisfactory</div>
      <div>1.5=Fairly satisfactory</div>
    </div>
    <div class="row" style="padding-top: 15px;">
      <div style="padding-left: 15px;padding-right: 122px;">1=Pass</div><div>0=Fail</div>
    </div>
    <div style="padding-top: 50px;"><b>Summary of Result</b></div>
    </div>
    <div style="width: 780px;padding-left: 15px;"><!-- table 2  -->
      <div class="row"><!-- th -->
        <div class="text-center" style="width: 240px;border: 1px solid#000;height: 130px;"><!-- col1 -->
          <div style="height: 100px;">
            <div style="padding-top: 30px;">Academic</div>
          </div>
          <div style="padding-top: 5px;">Year</div>
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 130px;"><!-- col2 -->
          <div style="height: 100px;border-bottom: 1px solid#000;">
            <div style="padding-top: 20px;">No.of Credits of</div>
            <div>Core Course</div>
          </div>
          <div class="row" style="height: 30px;">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;">Enrolled</div>
            <div style="width: 135px;padding-top: 5px;">Passed</div>
          </div>
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 130px;"><!-- col3 -->
          <div style="height: 100px;border-bottom: 1px solid#000;">
            <div style="padding-top: 20px;">No.of Credits of</div>
            <div>Selective Course</div>
          </div>
          <div class="row" style="height: 30px;">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;">Enrolled</div>
            <div style="width: 135px;padding-top: 5px;">Passed</div>
          </div>
        </div>
      </div>
      <div class="row"><!-- dataintable -->
        <div class="text-center" style="width: 240px;border: 1px solid#000;height: 150px;"><!-- col1 -->
          
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 150px;"><!-- col2 -->
          <div class="row">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;height: 150px;"><!-- Enrolled --></div>
            <div style="width: 135px;padding-top: 5px;height: 150px;"><!-- Passed --></div>
          </div>
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 150px;"><!-- col3 -->
          <div class="row">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;height: 150px;"><!-- Enrolled --></div>
            <div style="width: 135px;padding-top: 5px;height: 150px;"><!-- Passed --></div>
          </div>
        </div>
      </div>
      <div class="row"><!-- Total Credits -->
        <div class="text-center" style="width: 240px;border: 1px solid#000;height: 30px;"><!-- col1 -->
          
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 30px;"><!-- col2 -->
          <div class="row">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;height: 30px;"><!-- Enrolled --></div>
            <div style="width: 135px;padding-top: 5px;height: 30px;"><!-- Passed --></div>
          </div>
        </div>
        <div class="text-center" style="width: 270px;border: 1px solid#000;height: 30px;"><!-- col3 -->
          <div class="row">
            <div style="width: 135px;border-right: 1px solid#000;padding-top: 5px;height: 30px;"><!-- Enrolled --></div>
            <div style="width: 135px;padding-top: 5px;height: 30px;"><!-- Passed --></div>
          </div>
        </div>
      </div>
      <div class="row" style="width: 780px;border: 1px solid#000;"><!-- Total Credits Enrolled -->
        <div style="padding-left: 5px;padding-right: 15px;">Total Credits Enrolled : </div><div><!--  --></div>
      </div>
      <div class="row" style="width: 780px;border: 1px solid#000;"><!-- Total Credits Earned -->
        <div style="padding-left: 5px;padding-right: 15px;">Total Credits Earned : </div><div><!--  --></div>
      </div>
      <div class="row" style="width: 780px;border: 1px solid#000;font-size: 18px;"><!--   GPA -->
        <div style="padding-left: 5px;padding-right: 30px;">GPA  : </div><div><!--  --></div>
      </div>
    </div>
    <div style="padding-left: 15px;padding-top: 10px;"><!-- Date leaving school -->
      <div class="row">
        <div style="width: 240px;">Date of Education</div><div>1<!--  --></div>
      </div>
      <div class="row">
        <div style="width: 240px;">Date of Leaving</div><div>1<!--  --></div>
      </div>
      <div class="row">
        <div style="width: 240px;">the reason leaving school</div><div>Graduation Comprulsory</div>
      </div>
    </div>
    <div style="width:1000px ;height: 500px;"><!-- sig -->
      <div style="position: relative;left:120px;bottom: -100px;;text-align: center;width: 250px;"><!-- sigRegistrar -->
        <div>.....................................</div>
        <div><!--  --></div>
        <div>Registrar</div>
      </div>
      <div style="position: relative;left:700px;bottom: -200px;;text-align: center;width: 250px;"><!-- sigDirectress -->
        <div>.....................................</div>
        <div><!--  --></div>
        <div>Directress</div>
      </div></div>
  </mat-card>
</div>