<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} 
      </div>    
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()">  
              <mat-icon>clear</mat-icon>
          </a> 
      </div>  
  </div>  
</div>
<div mat-dialog-content> 
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="searchForm" (ngSubmit)="onPreview()" autocomplete="off">
                <div class="portlet light bordered"> 
                    <div class="portlet-title"><br>
                        <div class="row"> 
                            <div class="col-lg-2"></div>
                            <div class="col-lg-3 text-right">
                                <label class="labelField">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}  :</label>
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control" formControlName="yearGroupId"> 
                                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">{{ele.name}}</option>                   
                                </select> 
                            </div>
                        </div><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-success"><i class="fa fa-save"> {{'psms.B0037'|translate}}</i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>



