<div class="rp-page-title">
    {{'modeType.MSTU05'|translate}} 
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <mat-expansion-panel class="color-1" expanded><br />
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="portlet light bordered">
                    <div class="portlet-title"><br />
                        <div class="row">
                            <div class="col-sm-6">
                                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                                    <div class="card">
                                        <div class="card-header">{{'psms.LB0208'|translate}}</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} : </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="yearGroupId"
                                                        (change)="checkYearGroup(searchForm.value.yearGroupId)">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of yearGroupList"
                                                            [value]="ele.yearGroupId">
                                                            {{ele.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0050'|translate}} :</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="classId"
                                                        (change)="ddlClassRoomNo()"
                                                        (change)="onCheckClass(searchForm.value.classId)">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of classList" [value]="ele.class_id">
                                                            {{ele.class_sname_th}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0090'|translate}} :</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="classRoomId">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of classroomnoList"
                                                            [value]="ele.class_room_id">
                                                            {{ele.class_room}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit"
                                                class="btn btn-bordered waves-effect waves-light btn-info"><i
                                                    class="fa fa-search" aria-hidden="true"> {{'psms.B0030'|translate}}</i></button>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-6">
                                <form [formGroup]="upgradeForm">
                                    <div class="card">
                                        <div class="card-header">{{'psms.LB0209'|translate}}</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} : </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="yearGroupId"
                                                        (change)="onCheckYearGroupUpgrade()">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of yearGroupUpgradeList"
                                                            [value]="ele.year_group_id">
                                                            {{ele.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0083'|translate}} :</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="classId"
                                                        (change)="ddlClassRoomNoUpgrade()" (change)="onCheckClassId()">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of classUpgradeList"
                                                            [value]="ele.class_id">
                                                            {{ele.class_sname_th}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0090'|translate}} :</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="classRoomId"
                                                        (change)="onCheckClassRoomId()">
                                                        <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                                        <option *ngFor="let ele of classroomnoUpgradeList"
                                                            [value]="ele.class_room_id">
                                                            {{ele.class_room}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0210'|translate}} : </label>
                                                </div>
                                                <div class="col-sm-6" style="margin-top:10px;">
                                                    <input type="checkbox" formControlName="copyDataActivity"
                                                        (change)="isCancelCheck()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button
                                                [disabled]="_allChecklist.length == 0 || upgradeForm.value.yearGroupId == '' || upgradeForm.value.classId == '' || upgradeForm.value.classRoomId == ''"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-success"
                                                (click)="onSave2()"><i class="fa fa-check" aria-hidden="true">
                                                    {{'button.approve'|translate}}</i></button>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-expansion-panel>


            <mat-card>
                <div style=" margin:25px 5px 5px 5px;">
                    <mat-table [dataSource]="dataSource"
                        class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'table.no'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                                {{element.numberstu}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="stuCode">
                            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0087'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                {{element.stu_code}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef fxFlex="70">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxFlex="70"> {{element.fullname}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="choose">
                            <mat-header-cell *matHeaderCellDef fxFlex="15">
                                <div class="col-sm-4"><input type="checkbox" [(ngModel)]="headerSelected"
                                        (change)="checkAll()"></div>
                            </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                <input type="checkbox" [(ngModel)]="element.isSelected" (change)="isAllSelected()">
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="checkdata" class="text-center ">{{'psms.LB0128'|translate}}</div>
                </div>
            </mat-card>
        </div>
    </div>
</div>