<body class="authentication-bg">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-12 col-xl-12">
                    <div class="text-center show-tm">
                        <a href="#">
                            <span><img src="./assets/img/app/logo_Pramanda.gif" alt="" height="200"></span>
                        </a>
                        <h3 class="text-muted mt-2 mb-4">Pramanda Nijjanukraoh School<br>โรงเรียนพระมารดานิจจานุเคราะห์</h3>

                    </div>
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">ลงทะเบียนเข้าใช้งาน</h4>
                            </div>

                            <form [formGroup]="form" autocomplete="off">

                                <div class="form-group mb-3">
                                    <label>ประเภทสมาชิก<samp class="text-danger">*</samp></label>
                                    <select class="browser-default custom-select" formControlName="userType">
                                        <option value="" selected>--- เลือกประเภทสมาชิก ---</option>
                                        <option value="student">นักเรียน</option>
                                        <option value="parent">ผู้ปกครอง</option> 
                                        <option value="alumni">ศิษย์เก่า</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label>เลขบัตรประชาชน<samp class="text-danger">*</samp></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="citizenId"  [(ngModel)]="citizen_id" maxlength="13" (keyup)="checkCitizenId()" placeholder="เลขบัตรประชาชน"/>
                                        <label>&nbsp;&nbsp;<i class="fa fa-check mt-2 xs" style="color: green;" *ngIf="check_citizen_id == true && citizen_id.length == 13"></i></label>
                                        <label>&nbsp;&nbsp;<i class="fa fa-remove mt-2 xs" style="color: red;" *ngIf="check_citizen_id == false && citizen_id.length == 13"></i></label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label>คำนำหน้าชื่อ<samp class="text-danger">*</samp></label>
                                    <select class="form-control" formControlName="title">
                                                <option  value="" selected>--- เลือกคำนำหน้าชื่อ ---</option>
                                                <option value="ด.ช.">ด.ช.</option>
                                                <option value="ด.ญ.">ด.ญ.</option>
                                                <option value="นาย">นาย</option>
                                                <option value="น.ส.">น.ส.</option>
                                                <option value="นาง">นาง</option>
                                            </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label>ชื่อจริง<samp class="text-danger">*</samp></label>
                                    <input type="text" class="form-control" formControlName="firstName" placeholder="ชื่อจริง">
                                </div>
                                <div class="form-group mb-3">
                                    <label>นามสกุล<samp class="text-danger">*</samp></label>
                                    <input type="text" class="form-control" formControlName="lastName" placeholder="นามสกุล">
                                </div>
                                <div class="form-group mb-3">
                                    <label>อีเมล์<samp class="text-danger">*</samp></label>
                                    <input type="email" class="form-control" formControlName="email" placeholder="อีเมล์">
                                </div>
                                <div class="form-group mb-3">
                                    <label>เบอร์โทร<samp class="text-danger">*</samp></label>
                                    <input type="text" class="form-control" formControlName="phoneNo" placeholder="เบอร์โทร" maxlength="10">
                                </div>
                                <div class="form-group mb-3">
                                    <label>รหัสผ่าน<samp class="text-danger">*</samp></label>
                                    <input type="password" class="form-control" formControlName="password" placeholder="รหัสผ่าน" maxlength="8">
                                    <p style="color: red; font-size: 14px;">* กรอกรหัสอย่างน้อย 8 ตัวอักษร ประกอบด้วยอักขระพิเศษ 1 ตัว อักษรตัวพิมพ์ใหญ่ 1 ตัว</p>
                                </div>
                                <div class="form-group mb-3">
                                    <label>ยืนยันรหัสผ่าน<samp class="text-danger">*</samp></label>
                                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="ยืนยันรหัสผ่าน" maxlength="8">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" (click)="onSubmit()">ลงทะเบียน</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" (click)="onCancel()">ยกเลิก</button>
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-center">

                                    <p> <a mat-button routerLink="/login" color="accent" class="text-muted ml-1">มีบัญชีอยู่แล้ว? เข้าสู่ระบบ!</a></p>
                                </div>

                            </form>

                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
</body>