<div class="rp-page-title">
  {{'modeType.MADP06'|translate}}
</div>
 
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.B0004'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            <div class="portlet-title"><br />
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0099'|translate}} : </label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="catClassId" (change)="ddlDepartment()"
                    (change)="onCheckCatClass()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of catclassList" [value]="ele.catClassId">
                      {{ele.lnameTh}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0101'|translate}} : </label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="departmentId" (change)="onCheckDepartment()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of departmentList" [value]="ele.department_id">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                    aria-hidden="true"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
                  (click)="onPreviewPDF()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>

              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <br>

      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="portlet light bordered rp-page-title">
                {{'psms.DT0113'|translate}} {{'psms.DT0019'|translate}} {{show_cat_class}} {{'psms.LB0101'|translate}} {{show_department}}
              </div>
            </div>
            <div class="col-md-12 text-center">
              <ngx-charts-bar-vertical-stacked [view]="view2" [scheme]="colorScheme" [results]="multi"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [legendTitle]="legendTitle" [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-vertical-stacked>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>