<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="info-content has-bg-image" [class.show]="showInfoContent">
    <button mat-mini-fab color="warn" class="close-btn" (click)="closeInfoContent(showInfoContent)"><mat-icon>close</mat-icon></button>
    <div fxFlex="100" fxFlex.gt-sm="40" class="py-3 col">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/img/users/user.jpg" class="mat-elevation-z2" alt="">
            <div class="user-details px-4">
                <h2>{{username}}</h2>

                <p class="secondary-text-color mt-1">{{email}}</p>
                <div class="secondary-text-color">
                    <button mat-icon-button matTooltip="Facebook" class="mx-1">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                        </svg>
                    </button>
                    <button mat-icon-button matTooltip="Twitter" class="mx-1">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                        </svg>
                    </button>
                    <button mat-icon-button matTooltip="Google" class="mx-1">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="35" fxFlex.sm="50" ngClass.xs="pb-4" class="top-contact-form col">
        <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap" class="px-2">
            <div fxFlex="100" class="">
                <mat-form-field class="w-100">
                    <input matInput placeholder="อีเมล์" formControlName="email" required>
                    <mat-error *ngIf="contactForm.controls.email.errors?.required">กรุณากรอกอีเมล์</mat-error>
                    <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" class="">
                <mat-form-field class="w-100">
                    <input matInput placeholder="หัวข้อ" formControlName="subject" required>
                    <mat-error *ngIf="contactForm.controls.subject.errors?.required">กรุณากรอกหัวข้อ</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" class="">
                <mat-form-field class="w-100">
                    <input matInput placeholder="ข้อความ" formControlName="message" required>
                    <mat-error *ngIf="contactForm.controls.message.errors?.required">กรุณากรอกข้อความ</mat-error>
                </mat-form-field>
            </div>
            <div class="w-100 mt-1 text-center">
                <button mat-raised-button color="accent" type="submit">
                    <mat-icon class="mr-2">send</mat-icon>ส่งข้อมูล
                </button>
            </div>
        </form>
    </div>
    <div fxFlex="50" fxFlex.gt-sm="25" fxShow="false" fxShow.gt-xs class="py-3 col">
        <div fxLayout="column" fxLayoutAlign="center start" class="controls secondary-text-color">
            <mat-checkbox *ngFor="let control of controls" class="my-1" [(ngModel)]="control.checked" labelPosition="after">
                {{control.name}}
            </mat-checkbox>
        </div>
    </div>
</div>