<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6" style="font-size:34px">
      {{'psms.LB0271'|translate}}
    </div>
    <div class="col-lg-6 text-right mt-3">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="portlet light bordered">
  <div mat-dialog-content class="font">
    <form [formGroup]="paramFrom">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField ">
            {{'psms.LB0087'|translate}} : <samp class="lbrequire"></samp>
          </label>
        </div>
        <div class="col-sm-4">
          <label class="labelField">{{stu_code}}</label>
        </div>
        <div class="col-sm-2 text-right">
          <label class="labelField">{{'psms.LB0056'|translate}} :</label>
        </div>
        <div class="col-sm-2 ">
          <label class="labelField"> {{set_no}}</label>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-3 text-right">
          <label class="labelField ">{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}} : <samp class="lbrequire"></samp></label>
        </div>
        <div class="col-sm-3">
          <label class="labelField">{{fullname}}</label>
        </div>
        <div class="col-sm-3 text-right">
          <label class="labelField ">{{'psms.LB0269'|translate}} :</label>
        </div>
        <div class="col-sm-2">
          <label class="labelField">
            {{formatDateSQLToString(transcriptDate ,true,'/')}}
          </label>
        </div>
      </div>

      <div class="row"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-2 text-right">
          <label class="labelField ">{{'psms.DT0008'|translate}} :</label>
        </div>
        <div class="col-sm-4">
          <label class="labelField">{{class_room}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
        <div class="col-sm-4">
          <label class="labelField"></label>
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
          (click)="onReport(1)">
          <i class="fa fa-pdf-o"> {{'psms.B0043'|translate}}</i>
        </button>
        <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary" 
          (click)="onReport(2)">
          <i class="fa fa-file-pdf-o"> {{'psms.B0044'|translate}}</i>
        </button>
        <button type="reset" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="close()">
          <i class="fa fa-pdf-o"> {{'button.cancel'|translate}} </i>
        </button>
      </div>
    </form>
  </div>
</div>