<div class="rp-page-title">{{'modeType.MMST02'|translate}}</div>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-12">
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header><br>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">
                                <div class="col-lg-2"></div> 
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0017'|translate}} :</label>
                                </div>
                                <div class="col-lg-5"> 
                                    <input type="text" class="form-control" formControlName="subjectTypeCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0018'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="name">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of subjectTypeList" [value]="ele.name">{{ele.name}}
                                        </option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i
                                        class="fa fa-search"> {{'psms.B0004'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger"
                                    (click)="onClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-lg-12">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReport()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009'|translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                            (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010'|translate}}</i></button>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success"
                            (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023'|translate}}</i></button>
                    </div>
                </div><br>
                <mat-table [dataSource]="dataSource"
                    class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="subjectTypeCode">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0017'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.subjectTypeCode}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0018'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedUser">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0013'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.updatedUser}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedDate">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0014'|translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element">
                            {{util.transform(element.updatedDate,'')}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recordStatus">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0007'|translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element">
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002' | translate}}"
                                (click)="onForm(element.subjectTypeId)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="element.recordStatus != 'D'"
                                class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                                (click)="onDelete(element)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)"
                    showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>