<div class="rp-page-title">{{'modeType.MSTU09'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">

              <div class="row">

                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0106'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">
                      {{ ele.classLnameTh }}
                    </option>
                  </select>
                </div>

                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0087'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="stuCode" />
                </div>
              </div>


              <div class="row">

                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.classRoom">
                      {{ ele.classRoom }}
                    </option>
                  </select>
                </div>

                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.DT0004'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="FirstnameTh" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.DT0016'|translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="LastnameTh" />
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info">
                  <i class="fa fa-search"> {{'button.search'|translate}}</i>
                </button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)=onCancel()>
                  <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card>

        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" *ngIf="allChecklist.length != 0" (click)="onForm()" ><i class="fa fa-print" aria-hidden="true"> {{'psms.B0028'|translate}}</i></button>
        </div>

        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">

          <ng-container matColumnDef="all">
            <mat-header-cell *matHeaderCellDef>
              <input type="checkbox"[(ngModel)]="headerSelected" (change)="checkAll()">
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              <input type="checkbox"
                [(ngModel)]="element.isSelected" (change)="isAllSelected()">
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuNo">
            <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">
              {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.stu_code }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.fullname }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0084'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.class_room }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>