<div class="rp-page-title"> 
  <div class="row">
    <div class="col-sm-6">
      {{'modeType.MACA06'|translate}} ({{'psms.DT0089' | translate}})
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
        (click)="onBackPage('','','')"><i class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <div class="row">
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0102' | translate}} : {{subjectCode}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0103' | translate}} : {{subjectCode}} : {{subjectName}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.DT0025' | translate}} : {{credit}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0232' | translate}} : {{classRoomSnameTh}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.DT0015' | translate}} : {{yearGroupName}}</label>
          </div>
          <div class="col-sm-2">
            <label class="labelField">{{'psms.LB0170' | translate}} : {{term}}</label>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <table mat-table [dataSource]="dataSource"
          class="myTable datatable table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>{{'psms.LB0056' | translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{element.classRoomNo}} </td>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <th mat-header-cell *matHeaderCellDef>{{'psms.DT0093' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.stuCode}} </td>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="mat-cell-left"> {{element.fullname}} </td>
          </ng-container>
          <ng-container matColumnDef="scoreFinal">
            <th mat-header-cell *matHeaderCellDef>{{'psms.DT0089' | translate}} [{{fullScoreFinal}}]</th>
            <td mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">
              <input type="text" class="form-control mt-2" id="{{i + 1}}" (keyup)="controlkey()"
                (keypress)="numberOnly($event)"
                [(ngModel)]="element.scoreFinal == '0' || parseNum(element.scoreFinal) > parseNum(fullScoreFinal)? '' : element.scoreFinal"
                (ngModelChange)="element.scoreFinal == '0' || parseNum(element.scoreFinal) > parseNum(fullScoreFinal) ? (element.scoreFinal = $event) : (element.scoreFinal = $event)" />
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
            (click)="onSave()"><i class="fa fa-save"> {{'button.save' | translate}}</i></button>
        </div>
      </mat-card>
    </div>
  </div>
</div>