<div class="rp-page-title">
    <div class="row"> 
        <div class="col-lg-6">  
            {{headerType}} {{'modeType.MADM06'|translate}}
        </div>  
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>  
    </div>
</div> 
<div class="container-fluid">
    <div class="row m-2">  
        <div class="col-lg-12">
            <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                <mat-expansion-panel expanded><br> 
                    <div class="portlet light bordered">  
                        <div class="portlet-title"><br>
                            <div class="row" *ngIf="modeType != 'registerlistEdit'"> 
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0164'|translate}}<samp class="lbrequire">*</samp>  : </label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="groupUser" (change)="ddlRoleGroup()">
                                        <option  value="undefined" disabled selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option  value="EXT">{{'psms.DL0014'|translate}}</option>
                                        <option  value="INT">{{'psms.DL0015'|translate}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.groupUser == 'INT'"> 
                                <div class="col-lg-2"></div> 
                                <div class="col-lg-2 text-right"> 
                                    <label class="labelField">{{'psms.LB0165'|translate}}<samp class="lbrequire">*</samp>  : </label>
                                </div>
                                <div class="col-lg-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="usrName" maxlength="8" (change)="getTeacher()" placeholder="{{'placeholder.P00001'|translate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-lg-2"></div> 
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0008'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" formControlName="citizenId" placeholder="{{'psms.LB0009'|translate}}" maxlength="13" (keypress)="numberOnly($event)" [ngClass]="{'error': validateValue == true &&  form.value.citizenId == ''}" [readonly]="form.value.usrName.length == 8 && form.value.groupUser == 'INT' && checkGetTeacher == true">
                                </div>
                            </div>
                            <div class="row" *ngIf="modeType != 'registerlistEdit'"> 
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0166'|translate}}<samp class="lbrequire">*</samp>  : </label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" formControlName="roleId" (change)="roleCode()" [ngClass]="{'error': validateValue == true &&  form.value.roleId == '' || validateValue == true &&  form.value.roleId == null}">
                                        <option  value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of roleList" [value]="ele.roleId">{{ele.roleName}}</option> 
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" formControlName="userType" readonly>
                                </div>
                            </div>
                            <div class="row" *ngIf="modeType == 'registerlistEdit' && form.value.groupUser == ''"> 
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0166'|translate}}<samp class="lbrequire">*</samp>  : </label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" formControlName="roleId" (change)="roleCodeEdit()">
                                        <option  value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of roleListEdit" [value]="ele.roleId">{{ele.roleName}}</option> 
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" formControlName="userType" readonly>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0010'|translate}}<samp class="lbrequire">*</samp>  : </label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" formControlName="title" [ngClass]="{'error': validateValue == true &&  form.value.title == ''}">
                                        <option  value="" selected>--- {{'psms.LB0011'|translate}} ---</option>
                                        <option *ngFor="let ele of titleList" [value]="ele.descTh">{{ele.descTh}}</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.DT0004'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="firstName" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': validateValue == true &&  form.value.firstName == ''}" [readonly]="form.value.usrName.length == 8 && form.value.groupUser == 'INT' && checkGetTeacher == true">
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.DT0005'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="lastName" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': validateValue == true &&  form.value.lastName == ''}" [readonly]="form.value.usrName.length == 8 && form.value.groupUser == 'INT' && checkGetTeacher == true">
                                </div> 
                            </div> 
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right"> 
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0114'|translate}} :</label>
                                </div>
                                <div class="col-lg-5"> 
                                    <input type="text" class="form-control" formControlName="phoneNo" placeholder="{{'psms.LB0114'|translate}}" maxlength="10">
                                </div> 
                            </div>  
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right"> 
                                    <label for="subjectTypeCode" class="labelField">{{'psms.DT0034'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="email" placeholder="{{'psms.LB0044'|translate}}" [ngClass]="{'error': validateValue == true &&  form.value.email == ''}">
                                </div> 
                            </div>
                            <div class="row" *ngIf="form.value.groupUser != 'INT' && modeType == 'registerlistAdd'">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0044'|translate}} (Username)<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="usrName" placeholder="{{'placeholder.P00001'|translate}}" [ngClass]="{'error': validateValue == true &&  form.value.usrName == '' || validateValue == true &&  form.value.usrName == null}">
                                </div> 
                            </div>
                            <div class="row" *ngIf="modeType == 'registerlistEdit'">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0044'|translate}} (Username)<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="usrName" placeholder="{{'placeholder.P00001'|translate}}" readonly>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0167'|translate}}<span class="lbrequire">*</span> :</label>
                                </div> 
                                <div class="col-lg-5"> 
                                    <input type="password" class="form-control" formControlName="newpw" maxlength="8" placeholder="{{'psms.B0001'|translate}}" (change)="onCheckpw()" [ngClass]="{'error': checkValidateInsertPW == true &&  form.value.newpw == ''}">
                                </div> 
                            </div> 
                            <div class="row">
                                <div class="col-lg-1"></div> 
                                <div class="col-lg-3 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.LB0168'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="password" class="form-control" formControlName="confirmpw" maxlength="8" placeholder="{{'placeholder.P00001'|translate}}" (change)="onCheckpw()" [ngClass]="{'error': checkValidateInsertPW == true &&  form.value.confirmpw == ''}">
                                </div> 
                            </div>
                            <div class="row" *ngIf="modeType != 'registerlistAdd'"> 
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="name" class="labelField">{{'psms.DT0013'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" value="{{updatedUser}}" disabled> 
                                </div> 
                            </div>  
                            <div class="row" *ngIf="modeType != 'registerlistAdd'"> 
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3 text-right ">
                                    <label for="name" class="labelField">{{'psms.DT0014'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" value="{{util.transform(updatedDate)}} {{updatedDate | date: 'HH:mm': '+07:00': 'en-US'}}" disabled> 
                                </div> 
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" *ngIf="modeType == 'registerlistAdd'" (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" *ngIf="modeType == 'registerlistEdit'" (click)="loadData()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </div>
</div>

