<div class="rp-page-title">{{'psms.LB0127'|translate}}</div>
<div class="container-fluid">
  <div class="row m-t-20">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1">
        <br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'form.request' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label for="roleCode" class="labelField">{{'adm001.roleGroupCode' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="roleCode">
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-right">
              <label for="roleCode" class="labelField">{{'adm001.roleGroupName' | translate}} :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" formControlName="roleName">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                class="fa fa-search"> {{'button.search' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
              (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006' | translate}}</i></button>
          </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-card>
        <div class="row">

          <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
              (click)="onReport()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
              (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"
              (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010' | translate}}</i></button>
          </div>
          <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
              (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023'|translate}}</i></button>
          </div> 
        </div> 
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="roleIndex">
            <mat-header-cell *matHeaderCellDef fxFlex="8">{{'table.no' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let elemen; let i = index" class="mat-cell-center" fxFlex="8">{{paginator.pageIndex * paginator.pageSize + i + 1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="roleCode">
            <mat-header-cell *matHeaderCellDef >{{'table.code' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roleCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="roleName">
            <mat-header-cell *matHeaderCellDef>{{'table.name' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roleName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="roleStatus">
            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'table.actions' | translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">
              <button *ngIf="element.roleStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning" (click)="onForm(element.roleId)" title="{{'buttonTitle.BTT002' | translate}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button *ngIf="element.roleStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(element)" title="{{'buttonTitle.BTT003' | translate}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>

      </mat-card>
    </div>
  </div>
</div>