<div class="rp-page-title">
    {{'modeType.MACA04'|translate}}
</div> 

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <mat-expansion-panel class="color-1" expanded><br />
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header> 

                <div class="portlet light bordered">
                    <div class="portlet-title"><br />
                        <div class="row">
                            <div class="col-sm-6">
                                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
                                    <div class="card">
                                        <div class="card-header">{{'psms.LB0249' | translate}}</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} : </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="yearGroupId"
                                                        (change)="checkYearGroup(searchForm.value.yearGroupId)">
                                                        <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                                        <option *ngFor="let ele of yearGroupList"
                                                            [value]="ele.yearGroupId">
                                                            {{ele.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0083' | translate}} :</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="classId">
                                                        <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                                        <option *ngFor="let ele of classList" [value]="ele.classId">
                                                            {{ele.classSnameTh}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit"
                                                class="btn btn-bordered waves-effect waves-light btn-info"><i
                                                    class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                                            <button type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-danger"
                                                (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true">
                                                    {{'button.cancel' | translate}}</i></button>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-6">
                                <form [formGroup]="copyForm">
                                    <div class="card">
                                        <div class="card-header">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}{{'psms.LB0227' | translate}}</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} : </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" formControlName="yearGroupId">
                                                        <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                                                        <option *ngFor="let ele of yearGroupCopyList"
                                                            [value]="ele.year_group_id">
                                                            {{ele.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 text-right">
                                                    <label class="labelField">{{'psms.LB0248' | translate}} : </label>
                                                </div>
                                                <div class="col-sm-6" style="margin-top:10px;">
                                                    <input type="checkbox" formControlName="copyDataTeacher"
                                                        (change)="isCancelCheck()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button
                                                [disabled]="_allChecklist.length==0 || copyForm.value.yearGroupId == ''"
                                                type="button"
                                                class="btn btn-bordered waves-effect waves-light btn-success"
                                                (click)="onSave2()"><i class="fa fa-check" aria-hidden="true">
                                                    {{'button.approve' | translate}}</i></button>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-expansion-panel>


            <mat-card>
                <div style=" margin:25px 5px 5px 5px;"> 
                    <mat-table [dataSource]="dataSource"
                        class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="subjectCode">
                            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0102' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">
                                {{element.subject_code}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="subjectName">
                            <mat-header-cell *matHeaderCellDef fxFlex="60">{{'psms.LB0103' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxFlex="60">{{element.subject_name_th}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="credit">
                            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0025' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">
                                {{_util.formatFloat(element.credit,1)}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="choose">
                            <mat-header-cell *matHeaderCellDef fxFlex="15">
                                <div class="col-sm-8">{{'psms.LB0250' | translate}}</div>
                                <div class="col-sm-4"><input type="checkbox" [(ngModel)]="headerSelected"
                                        (change)="checkAll()"></div>
                            </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                <input type="checkbox" [(ngModel)]="element.isSelected" (change)="isAllSelected()">
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="checkdata" class="text-center ">{{'table.notFound' | translate}}</div>
                </div>
            </mat-card>
        </div>
    </div>
</div>