<div class="rp-page-title">{{'modeType.MACA16'|translate}}</div>
<div class="container-fluid"> 
    <div class="row">    
        <div class="col-lg-3">  
            <mat-card> 
                <div class="portlet light bordered">   
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="col-sm-12 text-center"> 
                            <label>{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </label> </div>  
                        <select class="form-control" formControlName="yearGroupName"> 
                            <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                            <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                        </select> 
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0232'|translate}}</label>
                        </div>   
                        <select multiple class="form-control" formControlName="classId" style="height:200px" (change)="ddlActivityGroup()" (change)="onfilterClass()">
                            <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classSnameTh}}</option>                   
                        </select>
                        <div class="col-sm-12 text-center">  
                            <label>{{'psms.DT0048'|translate}}</label>  
                        </div>  
                        <select class="form-control" formControlName="activityGroupId"  (change)="onfilterActivityGroup()"> 
                            <option value="" selected>-- {{'psms.LB0130'|translate}}  --</option>
                            <option *ngFor="let ele of activityGroupList" [value]="ele.activityGroupId">{{ele.activityGroup}}</option>                   
                        </select>
                        <br>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i></button>
                            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary" (click)="onDialogReport()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
                        </div> 
                    </form>    
                </div>     
            </mat-card>       
        </div>    
        <div class="col-lg-9">    
            <mat-card>
                <div class="rp-page-title" style="margin-bottom:-20px; margin:0px 5px 5px 5px;" *ngIf="checkSearch == true">
                    <div class="row">
                        <div class="col-lg-12 text-center mt-2">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}  {{searchForm.value.yearGroupName}} {{'psms.LB0232'|translate}} {{classSnameTh}}  {{'psms.DT0048'|translate}} : {{activityGroup}}</div>
                    </div>
                </div>
                <div style="margin:25px 5px 5px 5px;" *ngFor="let itemActivity of dataSourceActivity; let i = index;">
                    <!---------- แนะแนว || พละ----------> 
                    <div *ngIf="_activityGroupId == 1 || _activityGroupId == 5"> 
                        <div class="rp-page-title" style="margin-bottom:-20px;">
                            <div class="row">
                                <div class="col-lg-7 mt-2">
                                    {{itemActivity.activityName}} 
                                </div>
                                <div class="col-lg-5 text-right">
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddteachers(_activityGroupId,itemActivity.activityId,itemActivity.activityName)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0041'|translate}}</i></button>
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddstudents(_activityGroupId,itemActivity.activityId,itemActivity.activityName,itemActivity.lesson)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0040'|translate}}</i></button>
                                </div>
                            </div>
                        </div>
                        <mat-table [dataSource]="dataSourceTea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="no">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDeleteTeacher(element.activity_teacher_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSourceTea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>

                        <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="yearGroupName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoom">
                                <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.LB0084'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoomNo">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0112'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name1}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acLesson">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson1}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(_activityGroupId,element.class_room_member_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell> 
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    </div> 

                    <!---------- ลูกเสือเนตรนารี || คอมพิวเตอร์ ---------->
                    <div *ngIf="_activityGroupId == 2 || _activityGroupId == 6">
                        <div class="rp-page-title" style="margin-bottom:-20px;">
                            <div class="row">
                                <div class="col-lg-7 mt-2">
                                    {{itemActivity.activityName}}
                                </div>
                                <div class="col-lg-5 text-right">
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddteachers(_activityGroupId,itemActivity.activityId,itemActivity.activityName)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0041'|translate}}</i></button>
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddstudents(_activityGroupId,itemActivity.activityId,itemActivity.activityName,itemActivity.lesson)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0040'|translate}}</i></button>
                                </div>
                            </div>
                        </div>
                        <mat-table [dataSource]="dataSourceTea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="no">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDeleteTeacher(element.activity_teacher_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSourceTea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>

                        <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="yearGroupName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoom">
                                <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.LB0084'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoomNo">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0112'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name2}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acLesson">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson2}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(_activityGroupId,element.class_room_member_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    </div>

                    <!---------- ชุมนุม || ดนตรี---------->
                    <div *ngIf="_activityGroupId == 3 || _activityGroupId == 7">
                        <div class="rp-page-title" style="margin-bottom:-20px;">
                            <div class="row">
                                <div class="col-lg-7 mt-2">
                                    {{itemActivity.activityName}}
                                </div>
                                <div class="col-lg-5 text-right">
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddteachers(_activityGroupId,itemActivity.activityId,itemActivity.activityName)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0041'|translate}}</i></button>
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddstudents(_activityGroupId,itemActivity.activityId,itemActivity.activityName,itemActivity.lesson)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0040'|translate}}</i></button>
                                </div>
                            </div>
                        </div>
                        <mat-table [dataSource]="dataSourceTea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="no">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDeleteTeacher(element.activity_teacher_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSourceTea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>

                        <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="yearGroupName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoom">
                                <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.LB0084'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoomNo">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0112'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name3}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acLesson">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson3}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(_activityGroupId,element.class_room_member_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    </div>

                    <!---------- กิจกรรมเพื่อสังคม || conversation ---------->
                    <div *ngIf="_activityGroupId == 4 || _activityGroupId == 8">
                        <div class="rp-page-title" style="margin-bottom:-20px;">
                            <div class="row">
                                <div class="col-lg-7 mt-2">
                                    {{itemActivity.activityName}}
                                </div>
                                <div class="col-lg-5 text-right">
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddteachers(_activityGroupId,itemActivity.activityId,itemActivity.activityName)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0041'|translate}}</i></button>
                                    <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onAddstudents(_activityGroupId,itemActivity.activityId,itemActivity.activityName,itemActivity.lesson)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0040'|translate}}</i></button>
                                </div>
                            </div>
                        </div>
                        <mat-table [dataSource]="dataSourceTea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="no">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDeleteTeacher(element.activity_teacher_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSourceTea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>

                        <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                            <ng-container matColumnDef="yearGroupName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoom">
                                <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.LB0084'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="classRoomNo">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fullname">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acName">
                                <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0112'|translate}} </mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name4}} </mat-cell>
                            </ng-container> 
                            <ng-container matColumnDef="acLesson">
                                <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson4}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="manage">
                                <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'table.actions'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <button type="button" title="{{'buttonTitle.BTT003'|translate}}" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onDelete(_activityGroupId,element.class_room_member_id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                        </mat-table>
                        <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    </div>

                </div><br>
            </mat-card>
        </div>
    </div>
</div>