<div class="rp-page-title">
  {{'modeType.MSTU04'|translate}}
</div>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br />
              <div class="row">
                <div class="col-sm-1"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0087' | translate}} : </label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="stuCode">
                </div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.DT0002' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="citizenId">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.DT0004' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="firstnameTh">
                </div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.DT0005' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="lastnameTh">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0083' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoomNo()">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classSnameTh">
                      {{ele.classSnameTh}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0090' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classroomnoList" [value]="ele.classRoom">
                      {{ele.classRoom}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0091' | translate}} :</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="stuStatus">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of stustatusList" [value]="ele.statusDesc">
                      {{ele.statusDesc}}
                    </option>
                  </select>
                </div>

              </div>

              <br />
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                    aria-hidden="true"> {{'button.search' | translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>


      <mat-card>
        <div class="row">
          <div class="col-sm-6">
            <button type="button" [disabled]="checkbutton" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onPreviewPDF()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" [disabled]="checkbutton" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009' | translate}}</i></button>
            <button type="button" [disabled]="checkbutton" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010' | translate}}</i></button>
          </div>
        </div>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">

            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef>{{'table.no' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center">{{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuCode">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0087' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.stu_code}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0003' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstnameTh">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.firstname_th}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastnameTh">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0005' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.lastname_th}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="classRoom">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0008' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.class_room}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="citizenId">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0088' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.citizen_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuStatus">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0010' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.status_desc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="stuProfileStatus">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0007' | translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">
                <button type="button" class="btn btn-warning btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT002' | translate}}"
                  (click)="onForm(element.stu_profile_id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                  (click)="onDelete(element)"><i class="fa fa-trash" aria-hidden="true "></i></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'table.notFound' | translate}}</div>
          <mat-paginator [pageSizeOptions]="[10] " [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>