<div id="app" class="app" [dir]="(settings.rtl) ? 'rtl' : 'ltr'" [ngClass]="settings.theme" [class.fixed-header]="settings.fixedHeader" [class.fixed-sidenav]="settings.fixedSidenav" [class.fixed-footer]="settings.fixedFooter" [class.horizontal-menu]="settings.menu == 'horizontal'"
    [class.compact]="settings.menuType == 'compact'" [class.mini]="settings.menuType == 'mini'">
    <div id="main" perfectScrollbar (psScrollY)="onPsScrollY($event)" class="h-100"> 

        <!-- ############################## HEADER ############################## -->
        <header class="header" [class.over]="showInfoContent">
            <app-top-info-content [showInfoContent]="showInfoContent" (onCloseInfoContent)="closeInfoContent(showInfoContent)"></app-top-info-content>
            <mat-toolbar class="top-toolbar" [class.mat-elevation-z2]="settings.fixedHeader">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <a routerLink="/dashboard" fxLayout="row" fxLayoutAlign="start center" class="logo" ngClass.xs="mobile" (click)="closeSubMenus()">
                            <img src="./assets/img/app/logo_Pramanda.gif" alt="logo">
                            <span class="mx-2">SCHOOLS MANAGEMENT</span>
                        </a>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
                        <button *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <app-flags-menu fxShow="false" fxShow.gt-sm></app-flags-menu>
                        <app-user-menu></app-user-menu> 
                    </div>
                </div>
            </mat-toolbar> 
        </header>
        <!-- ############################## END HEADER ############################## -->

        <!-- ############################## MENU ############################## -->
        <mat-drawer-container class="page-wrapper">
            <mat-drawer #sidenav *ngIf="settings.menu == 'vertical'" [opened]="settings.sidenavIsOpened" [mode]="(settings.sidenavIsPinned) ? 'side' : 'over'" (openedStart)="showSidenav = !showSidenav" (closedStart)="showSidenav = !showSidenav" class="sidenav mat-elevation-z6"
                autoFocus="false">
                <mat-toolbar *ngIf="settings.fixedSidenav" class="top-toolbar">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="logo">
                        <img src="assets/img/logo.png" alt="logo" [@rotate]="showSidenav">
                        <span class="mx-2"></span>
                    </a>
                </mat-toolbar>
                <app-sidenav></app-sidenav>
            </mat-drawer>
            <mat-drawer-content>
                <mat-toolbar *ngIf="settings.menu == 'horizontal'" class="horizontal-menu px-0">
                    <div fxLayout="row" fxLayoutAlign="center center" class="w-100">
                        <app-horizontal-menu [menuParentId]="0" [class.w-100]="(settings.menuType!='mini')"></app-horizontal-menu>
                    </div>
                </mat-toolbar> 
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
        <!-- ############################## END MENU ############################## --> 

        <!-- ############################## PROFILE ############################## -->
        <div #backToTop fxLayout="row" fxLayoutAlign="center center" class="back-to-top" (click)="scrollToTop()">
            <mat-icon>arrow_upward</mat-icon>
        </div>
        <!-- ############################## END PROFILE ############################## -->

        <!-- ############################## FOOTER ############################## -->
        <mat-toolbar color="primary" class="footer" [class.full-width]="!showSidenav">
            <div class="col-md-12 text-right">Pramanda Nijjanukraoh School © 2020 V 1.0 &nbsp;&nbsp;{{dateCurrent | date:'dd/MM/yyyy':'GMT+7':'en-US'}} </div>
        </mat-toolbar>
        <!-- ############################## END FOOTER ############################## -->
    </div>
</div>