<div class="rp-page-title">
  {{'modeType.MMST05'|translate}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0104' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                    formControlName="lnameTh">
                </div>
              </div> 
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'psms.B0004'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006' | translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary" (click)="onReport()"><i
                class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onReportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true">
                {{'psms.B0009' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
              (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true">
                {{'psms.B0010' | translate}}</i></button>
          </div>
          <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
              (click)="onForm('')"><i class="fa fa-plus-circle"> {{'psms.B0023' | translate}}</i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="classNameTh">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0028' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.lnameTh}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="updatedUser">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0013' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.updatedUser}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="updatedDate">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0014' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{utilService.transform(element.updatedDate)}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="classStatus">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0007' | translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning"
                (click)="onForm(element.catClassId)" title="{{'buttonTitle.BTT002' | translate}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-danger"
                (click)="onDelete(element)" title="{{'buttonTitle.BTT003' | translate}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>

      </mat-card>


    </div>
  </div>
</div>