// .mat-column-subjectCode {
//     flex: 0 0 9% !important;
//     width: 9% !important;
// }
// .mat-column-nameTh {
//     flex: 0 0 12% !important;
//     width: 12% !important;
// }
// .mat-column-nameDeparment {
//     flex: 0 0 19% !important;
//     width: 19% !important;
// }
// .mat-column-subjectType {
//     flex: 0 0 12% !important;
//     width: 12% !important;
// }
// .mat-column-credit {
//     flex: 0 0 7% !important;
//     width: 7% !important;
// }
// .mat-column-lesson {
//     flex: 0 0 15% !important;
//     width: 15% !important;
// }
// .mat-column-scale {
//     flex: 0 0 15% !important;
//     width: 15% !important;
// }
// .mat-column-subjectStatus {
//     flex: 0 0 11% !important;
//     width: 11% !important;
// }