<div class="container-fluid">
    <div class="row parent"> 
        <div class="col-xs-12 col-sm-12 col-md-12" id="content">  
            <div class="col-lg-12" style="margin-top: 19px;">  
                <div class="portlet light bordered">
                    <div class="portlet-title"><br/>
                        <div class="row">  
                            <div class="col-lg-1"></div>  
                            <div class="col-lg-10 text-center" >
                                <h3><img src="../assets/img/icon/pen setting_512px.png"> {{'psms.STU047'|translate}}</h3>
                            </div>  
                    </div> <br>
                </div>
            </div>
        </div>
    </div>
</div>

 