<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'modeType.MT0008'|translate}} {{'psms.LB0251'|translate}}
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>           
  </div>   
</div>
<div class="portlet light bordered">
  <div mat-dialog-content>
      <form [formGroup]="form" autocomplete="off">
          <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                  <label class="labelField">{{'psms.LB0103' | translate}} :</label>
              </div>
              <div class="col-sm-5">
                  <select class="form-control" formControlName="subjectCode" disabled>
            <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
            <option *ngFor="let ele of classRoomSubjectList" [value]="ele.subject_code">
              {{ele.subject_code}}
          </option>                   
            </select>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <label class="labelField">{{'psms.LB0246' | translate}} :</label>
            </div>
            <div class="col-sm-5">
                <select class="form-control" formControlName="scoreId">
          <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
          <option *ngFor="let ele of scoreList" [value]="ele.scoreId">
            {{ele.scoreName}}
        </option>                   
          </select>
            </div>
        </div>
          <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                  <label class="labelField">{{'psms.LB0247' | translate}} :</label>
              </div>
              <div class="col-sm-5">
                  <select class="form-control" formControlName="teacher1" (change)="onCheckTeacherProfile()">
            <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
            <option *ngFor="let ele of teacherProfileList" [value]="ele.teacher_id">
              {{ele.fullname}} - {{ele.section_name}}
          </option>                   
            </select>
              </div>
          </div>
          <div class="text-center" style="padding: 10px;">
              <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onSave2()"><i
          class="fa fa-save"></i>  {{'button.save' | translate}}</button>
              <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
          class="fa fa-remove"></i>  {{'button.cancel' | translate}}</button>
              <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" [mat-dialog-close]="true">{{'button.closeWindow' | translate}}</button>
          </div>
      </form>
  </div>
</div>