<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-10" style="font-size:34px">
      {{'modeType.MT0006' | translate}}
    </div>
    <div class="col-lg-2 text-right mt-3">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="portlet light bordered">
  <div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
      <div class="row">
        <div class="col-sm-1">
          <label class="labelField">{{'psms.LB0176' | translate}} :</label>
        </div>
        <div class="col-sm-11">
          <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}" formControlName="leftReason" />
        </div>
      </div>
      <div class="text-center" style="padding: 10px;">
        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
          (click)="onSave2()"><i class="fa fa-save"></i> {{'button.save' | translate}}</button>
        <button type="reset" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
            class="fa fa-remove"></i> {{'button.cancel' | translate}}</button>
        <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
          [mat-dialog-close]="true">{{'button.closeWindow' | translate}}</button>
      </div>
    </form>
  </div>
</div>