th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tr.noBorder th {
  border: 0;
}

.center {
  text-align: center;
}

label {
  margin-top: 5px;
  margin-bottom: 4px;
}

// table {
//   margin-left: auto;
//   margin-right: auto;
// }

.bold {
  font-weight: bold;
  font-size: 18px;
}
