<br>

<div class="portlet light">
  <div class="portlet-title">

    <div class="row">
      <div class="col-lg-6 text-left">
        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onBackPage()"><i
            class="fa fa-arrow-circle-left" aria-hidden="true"> {{'button.back'|translate}}</i></button>
      </div>
      <div class="col-lg-6 text-right">
        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
          (click)="printComponent('component1')"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
      </div>
    </div><br>

    <div id="component1">
      <div id="report-group" *ngFor="let item of dataTerm1; let i = index">
        <br>
        <div class="text-center" *ngIf="dataTerm1[i] && dataTerm1[i][0] == null">
          <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br>
          <label class="bold">โรงเรียนพระมารดานิจจานุเคราะห์</label><br>
          <label class="bold">แผนการเรียน
            ชั้น{{ allChecklist[i] && allChecklist[i].classRoomSnameTh.replace("อ.","อนุบาลปีที่ ").replace("ป.","ประถมศึกษาปีที่ ").replace("ม.","มัธยมศึกษาปีที่ ") }}</label>
          &nbsp; <label class="bold">ปีการศึกษา
            {{ allChecklist[i] && allChecklist[i].yearGroupName.substring(2,8) }}</label>
        </div>

        <div class="text-center" *ngIf="dataTerm1[i] && dataTerm1[i][0] != null">
          <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br>
          <label class="bold">โรงเรียนพระมารดานิจจานุเคราะห์</label><br>
          <label class="bold">แผนการเรียน
            ชั้น{{ item[0] && item[0].class_room_sname_th.replace("อ.","อนุบาลปีที่ ").replace("ป.","ประถมศึกษาปีที่ ").replace("ม.","มัธยมศึกษาปีที่ ") }}</label>
          &nbsp; <label class="bold">ปีการศึกษา
            {{ item[0] && item[0].name.substring(2,8) }}</label>
        </div>

        <br>

        <div class="row">

          <!--//////////////////////////// TABLE 1 ///////////////////////////////////-->

          <table style="width:45%; margin-left: 5%; margin-right: 1%;" *ngIf="dataTerm1[i] && dataTerm1[i][0] != null ">
            <tr class="noBorder center">
              <th colspan="5"><label>ภาคเรียนที่ 1</label></th>
            </tr>

            <tr class="center">
              <th width="8%"><label>ที่</label></th>

              <th width="20%"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
                <label>รหัสวิชา</label></th>
              <th colspan="2"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
                <label>รายวิชา</label></th>
              <th colspan="3" *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 1 ">
                <label>รายวิชา</label></th>

              <th width="15%"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
                <label>หน่วยกิต</label></th>
              <th width="15%"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 1 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 ">
                <label>ชั่วโมง</label></th>

              <th width="15%"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 3 || dataTerm1[0][0].cat_class_id == 4)  && dataTerm1[i][0].cat_class_id == null ">
                <label>หน่วยกิต</label>
              </th>
              <th width="15%"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 1 || dataTerm1[0][0].cat_class_id == 2)  && dataTerm1[i][0].cat_class_id == null ">
                <label>ชั่วโมง</label>
              </th>
            </tr>

            <tr>
              <th colspan="4"><label>รายวิชาพื้นฐาน</label></th>
              <th><label></label></th>
            </tr>

            <ng-container *ngFor="let items of dataTerm1[i]; let j = index">
              <tr *ngIf="items.subject_type == 1">
                <td class="center"><label>{{ j + 1 }}</label></td>
                <td class="center"
                  *ngIf="items.cat_class_id == 2 || items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.subject_code.substring(0,1) }} {{ items.subject_code.substring(1,8) }}</label></td>

                <td colspan="2" *ngIf="items.cat_class_id == 2 || items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.subject_name_th }}</label></td>
                <td colspan="3" *ngIf="items.cat_class_id == 1">
                  <label>{{ items.subject_code }}</label></td>

                <td class="center" *ngIf="items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.credit.toFixed(1) }}</label></td>
                <td class="center" *ngIf="items.cat_class_id == 1 || items.cat_class_id == 2 ">
                  <label>{{ items.lesson }}</label></td>
              </tr>
            </ng-container>

            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_credit_type1).toFixed(1) }}</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 1 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 ">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_lesson_type1) && (dataTerm1[i][0].total_lesson_type1).toLocaleString() }}</label>
              </th>

              <th class="center"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 3 || dataTerm1[0][0].cat_class_id == 4)  && dataTerm1[i][0].total_lesson_type1 == null ">
                <label>0.0</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 1 || dataTerm1[0][0].cat_class_id == 2)  && dataTerm1[i][0].total_lesson_type1 == null ">
                <label>0</label></th>
            </tr>

            <tr>
              <th colspan="4"><label>รายวิชาเพิ่มเติม</label></th>
              <th><label></label></th>
            </tr>

            <ng-container *ngFor="let items2 of dataTerm1[i];let j = index">
              <tr *ngIf="items2.subject_type == 2">
                <td class="center"><label>{{ j + 1 }}</label></td>

                <td class="center"
                  *ngIf="items2.cat_class_id == 2 || items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.subject_code.substring(0,1) }} {{ items2.subject_code.substring(1,8) }}</label></td>
                <td colspan="2"
                  *ngIf="items2.cat_class_id == 2 || items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.subject_name_th }}</label></td>
                <td colspan="3" *ngIf="items2.cat_class_id == 1">
                  <label>{{ items2.subject_code }}</label></td>

                <td class="center" *ngIf="items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.credit.toFixed(1) }}</label></td>
                <td class="center" *ngIf="items2.cat_class_id == 1 || items2.cat_class_id == 2 ">
                  <label>{{ items2.lesson }}</label></td>

              </tr>
            </ng-container>

            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_credit_type2).toFixed(1) }}</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 1 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 ">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_lesson_type2) && (dataTerm1[i][0].total_lesson_type2).toLocaleString() }}</label>
              </th>

              <th class="center"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 3 || dataTerm1[0][0].cat_class_id == 4)  && dataTerm1[i][0].total_lesson_type2 == null ">
                <label>0.0</label></th>
              <th class="center"
                *ngIf="dataTerm1[i] && (dataTerm1[0][0].cat_class_id == 1 || dataTerm1[0][0].cat_class_id == 2)  && dataTerm1[i][0].total_lesson_type2 == null ">
                <label>0</label></th>
            </tr>

            <tr>
              <th colspan="4"><label>กิจกรรมพัฒนาผู้เรียน</label></th>
              <th class="center"><label>(ชั่วโมง)</label></th>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมแนะแนว</label></td>
              <td class="center"><label>15</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมชมรม</label></td>
              <td class="center"><label>20</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมลูกเสือ-เนตรนารี</label></td>
              <td class="center"><label>20</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมเพื่อสังคมและสาธารณประโยชน์</label></td>
              <td class="center"><label>5</label></td>
            </tr>

            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"><label>60</label></th>
            </tr>

            <tr
              *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 3 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 4 ">
              <th colspan="4" class="center"><label>รวมหน่วยกิตทั้งสิ้น</label></th>
              <th class="center">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_credit_type1 + dataTerm1[i][0].total_credit_type2).toFixed(1) }}</label>
              </th>
            </tr>

            <tr
              *ngIf="dataTerm1[i] && dataTerm1[i][0].cat_class_id == 1 || dataTerm1[i] && dataTerm1[i][0].cat_class_id == 2 ">
              <th colspan="4" class="center"><label>รวมชั่วโมงทั้งสิ้น</label></th>
              <th class="center">
                <label>{{ dataTerm1[i] && (dataTerm1[i][0].total_lesson_type1 + dataTerm1[i][0].total_lesson_type2) && (dataTerm1[i][0].total_lesson_type1 + dataTerm1[i][0].total_lesson_type2).toLocaleString() }}</label>
              </th>
            </tr>

            <tr *ngIf="dataTerm1[i] && dataTerm1[i][0] == null ">
              <th colspan="4" class="center"><label>รวมชั่วโมงทั้งสิ้น</label></th>
              <th class="center"><label>0</label></th>
            </tr>

          </table>

          <table style="width:45%;" *ngIf="dataTerm1[i] && dataTerm1[i][0] == null ">
            <tr class="noBorder center">
              <th colspan="5"><label>ไม่พบข้อมูล ภาคเรียนที่ 1</label></th>
            </tr>
          </table>



          <!--//////////////////////////// TABLE 2 ///////////////////////////////////-->
          <table style="width:45%;" *ngIf="dataTerm2[i] && dataTerm2[i][0] != null ">
            <tr class="noBorder center">
              <th colspan="5"><label>ภาคเรียนที่ 2</label></th>
            </tr>

            <tr class="center">
              <th width="8%"><label>ที่</label></th>

              <th width="20%"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
                <label>รหัสวิชา</label></th>
              <th colspan="2"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
                <label>รายวิชา</label></th>
              <th colspan="3" *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 1 ">
                <label>รายวิชา</label></th>

              <th width="15%"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
                <label>หน่วยกิต</label></th>
              <th width="15%"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 1 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 ">
                <label>ชั่วโมง</label></th>
              <th width="15%"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 3 || dataTerm2[0][0].cat_class_id == 4)  && dataTerm2[i][0].cat_class_id == null ">
                <label>หน่วยกิต</label>
              </th>
              <th width="15%"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 1 || dataTerm2[0][0].cat_class_id == 2)  && dataTerm2[i][0].cat_class_id == null ">
                <label>ชั่วโมง</label>
              </th>

              <th width="15%" *ngIf="dataTerm2[i] && dataTerm2[0][0] == null ">
                <label>ชั่วโมง</label>
              </th>
            </tr>

            <tr>
              <th colspan="4"><label>รายวิชาพื้นฐาน</label></th>
              <th><label></label></th>
            </tr>

            <ng-container *ngFor="let items of dataTerm2[i]; let j = index">
              <tr *ngIf="items.subject_type == '1'">
                <td class="center"><label>{{ j + 1 }}</label></td>

                <td class="center"
                  *ngIf="items.cat_class_id == 2 || items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.subject_code.substring(0,1) }} {{ items.subject_code.substring(1,8) }}</label></td>

                <td colspan="2" *ngIf="items.cat_class_id == 2 || items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.subject_name_th }}</label></td>
                <td colspan="3" *ngIf="items.cat_class_id == 1">
                  <label>{{ items.subject_code }}</label></td>

                <td class="center" *ngIf="items.cat_class_id == 3 || items.cat_class_id == 4 ">
                  <label>{{ items.credit.toFixed(1) }}</label></td>
                <td class="center" *ngIf="items.cat_class_id == 1 || items.cat_class_id == 2 ">
                  <label>{{ items.lesson }}</label></td>
              </tr>
            </ng-container>
            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_credit_type1).toFixed(1) }}</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 1 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 ">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_lesson_type1) && (dataTerm2[i][0].total_lesson_type1).toLocaleString() }}</label>
              </th>
              <th class="center"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 3 || dataTerm2[0][0].cat_class_id == 4)  && dataTerm2[i][0].total_lesson_type1 == null ">
                <label>0.0</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 1 || dataTerm2[0][0].cat_class_id == 2)  && dataTerm2[i][0].total_lesson_type1 == null ">
                <label>0</label></th>

              <th class="center" *ngIf="dataTerm2[i] && dataTerm2[i][0] == null ">
                <label>0</label></th>
            </tr>

            <tr>
              <th colspan="4"><label>รายวิชาเพิ่มเติม</label></th>
              <th><label></label></th>
            </tr>

            <ng-container *ngFor="let items2 of dataTerm2[i];let j = index">
              <tr *ngIf="items2.subject_type == 2">
                <td class="center"><label>{{ j + 1 }}</label></td>

                <td class="center"
                  *ngIf="items2.cat_class_id == 2 || items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.subject_code.substring(0,1) }} {{ items2.subject_code.substring(1,8) }}</label></td>
                <td colspan="2"
                  *ngIf="items2.cat_class_id == 2 || items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.subject_name_th }}</label></td>
                <td colspan="3" *ngIf="items2.cat_class_id == 1">
                  <label>{{ items2.subject_code }}</label></td>

                <td class="center" *ngIf="items2.cat_class_id == 3 || items2.cat_class_id == 4 ">
                  <label>{{ items2.credit.toFixed(1) }}</label></td>
                <td class="center" *ngIf="items2.cat_class_id == 1 || items2.cat_class_id == 2 ">
                  <label>{{ items2.lesson }}</label></td>
              </tr>
            </ng-container>

            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_credit_type2).toFixed(1) }}</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 1 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 ">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_lesson_type2) && (dataTerm2[i][0].total_lesson_type2).toLocaleString() }}</label>
              </th>
              <th class="center"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 3 || dataTerm2[0][0].cat_class_id == 4)  && dataTerm2[i][0].total_lesson_type2 == null ">
                <label>0.0</label></th>
              <th class="center"
                *ngIf="dataTerm2[i] && (dataTerm2[0][0].cat_class_id == 1 || dataTerm2[0][0].cat_class_id == 2)  && dataTerm2[i][0].total_lesson_type2 == null ">
                <label>0</label></th>

              <th class="center" *ngIf="dataTerm2[i] && dataTerm2[i][0] == null ">
                <label>0</label></th>
            </tr>

            <tr>
              <th colspan="4"><label>กิจกรรมพัฒนาผู้เรียน</label></th>
              <th class="center"><label>(ชั่วโมง)</label></th>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมแนะแนว</label></td>
              <td class="center"><label>15</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมชมรม</label></td>
              <td class="center"><label>20</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมลูกเสือ-เนตรนารี</label></td>
              <td class="center"><label>20</label></td>
            </tr>

            <tr>
              <td colspan="4"><label> - กิจกรรมเพื่อสังคมและสาธารณประโยชน์</label></td>
              <td class="center"><label>5</label></td>
            </tr>

            <tr>
              <th colspan="4" class="center"><label>รวม</label></th>
              <th class="center"><label>60</label></th>
            </tr>

            <tr
              *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 3 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 4 ">
              <th colspan="4" class="center"><label>รวมหน่วยกิตทั้งสิ้น</label></th>
              <th class="center">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_credit_type1 + dataTerm2[i][0].total_credit_type2).toFixed(1) }}</label>
              </th>
            </tr>

            <tr
              *ngIf="dataTerm2[i] && dataTerm2[i][0].cat_class_id == 1 || dataTerm2[i] && dataTerm2[i][0].cat_class_id == 2 ">
              <th colspan="4" class="center"><label>รวมชั่วโมงทั้งสิ้น</label></th>
              <th class="center">
                <label>{{ dataTerm2[i] && (dataTerm2[i][0].total_lesson_type1 + dataTerm2[i][0].total_lesson_type2) && (dataTerm2[i][0].total_lesson_type1 + dataTerm2[i][0].total_lesson_type2).toLocaleString() }}</label>
              </th>
            </tr>

            <tr *ngIf="dataTerm2[i] && dataTerm2[i][0] == null ">
              <th colspan="4" class="center"><label>รวมชั่วโมงทั้งสิ้น</label></th>
              <th class="center"><label>0</label></th>
            </tr>

          </table>
          <table style="width:45%;" *ngIf="dataTerm2[i] && dataTerm2[i][0] == null ">
            <tr class="noBorder center">
              <th colspan="5"><label>ไม่พบข้อมูล ภาคเรียนที่ 2</label></th>
            </tr>
          </table>

        </div>

        <div style="page-break-after: always"></div>
      </div>
    </div>

  </div>
</div>