<div class="rp-page-title" style="margin-bottom: 0px;">{{'modeType.MACA22'|translate}}</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="margin-top: 19px;">
          <mat-card>
          <div class="portlet light bordered">
            <div class="portlet-title">
              <form [formGroup]="searchForm" autocomplete="off">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2 text-right">
                    <label class="labelField ">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}}  :</label>
                  </div>
                  <div class="col-sm-4">
                    <select class="form-control" formControlName="yearGroupId"><!--yearGroupName-->
                      <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                      <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                        {{ ele.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2"></div> 
                  <div class="col-sm-2 text-right">
                    <label class="labelField ">{{'psms.LB0254'|translate}} :</label>
                  </div>
                  <div class="col-sm-6" style="padding-top:10px">
                    <div class="col-12">
                      <input type="radio" name="type" value="1" formControlName="type"/> &nbsp; {{'psms.LB0257'|translate}} 
                    </div>
                    <div class="col-12" style="padding-top: 15px;">
                      <input type="radio" name="type" value="2" formControlName="type"/> &nbsp; {{'psms.LB0258'|translate}} 
                    </div>
                    <div class="col-12" style="padding-top: 15px;">
                      <input type="radio" name="type" value="3" formControlName="type"/> &nbsp; {{'psms.LB0259'|translate}}
                    </div>
                  </div>
                </div>
  
                <div class="text-center" style="padding-top: 15px;">
                  <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)=onForm()><i class="fa fa-print"> {{'psms.B0011'|translate}}</i></button>
                  <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)=onCancel()><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
</div>
