// $main-font-family: 'Roboto', sans-serif;
$main-font-family: 'Athiti', sans-serif;

$top-toolbar-height: 56px; 
$horizontal-menu-height: 64px; 
$footer-toolbar-height: 56px; 

$sidenav-width: 350px;
$compact-sidenav-width: 170px;
$mini-sidenav-width: 66px;