body {
    font-family: 'Sarabun' !important;
}

p.headline {
    margin-top: 1rem;
    font-size: 18px;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    font-family: 'Sarabun' !important;
}

.mat-expansion-panel-content {
    font: 400 16px/20px Roboto, 'Sarabun' !important
}

.mat-table {
    font-family: 'Sarabun' !important;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome, Sarabun !important;
    ;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-family: 'Sarabun' !important;
}

.mat-expansion-panel-header {
    font-family: 'Sarabun' !important;
}

.app.indigo-light .mat-header-cell {
    color: #FFFFFF !important;
    background: #0089ffb8;
    font-size: 18px;
    border-right: 1px solid #e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-cell,
.mat-footer-cell {
    font-size: 16px !important;
}

.app.indigo-light .mat-cell,
.app.indigo-light .mat-footer-cell {
    color: rgba(0, 0, 0, 0.87);
    border-right: 1px solid #e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
}

.sidenav-menu-outer {
    background: #ffffff !important;
    color: #343c49 !important;
}

.app.indigo-light .secondary-text-color {
    color: #343c49 !important;
}

.app.indigo-light .menu-item .mat-button .menu-title {
    color: #343c49 !important;
}

.app.indigo-light .menu-expand-icon {
    color: #343c49 !important;
}

.rp-page-title {
    background-color: #0089ffb8 !important;
}

.app.indigo-light .top-toolbar,
.app.indigo-light .landing-toolbar {
    background: #005cd6 !important;
}

.app.indigo-light .mat-toolbar.mat-primary {
    background: #005cd6 !important;
    color: white;
}

h3.secondary-text-color {
    color: #343c49;
}

.p-0 {
    padding: 0 !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.m-0 {
    margin: 0 !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.w-xs {
    min-width: 80px;
}

.w-sm {
    min-width: 95px;
}

.w-md {
    min-width: 110px;
}

.w-lg {
    min-width: 140px;
}

.center-page {
    float: none !important;
    margin: 0 auto !important;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}

.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-bold {
    font-weight: 600;
}

.font-normal {
    font-weight: normal;
}

.font-light {
    font-weight: 300;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.wrapper-md {
    padding: 20px;
}

.pull-in {
    margin-left: -20px;
    margin-right: -20px;
}

.b-0 {
    border: none !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.bx-shadow {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.bx-shadow-none {
    box-shadow: none !important;
}

.mx-box {
    max-height: 380px;
    min-height: 380px;
}

.thumb-sm {
    height: 36px;
    width: 36px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.thumb-xl {
    height: 120px;
    width: 120px;
}

.bg-transparent {
    background-color: transparent !important;
}

.slimScrollDiv {
    height: auto !important;
}


/* =============
   Widgets
============= */

.widget-box-one .widget-one-icon {
    position: absolute;
    right: 30px;
    font-size: 72px !important;
    top: 0;
    color: #f3f3f3;
    overflow: hidden;
    vertical-align: middle;
    line-height: 2 !important;
}

.widget-box-one .wigdet-one-content {
    position: relative;
}

.widget-box-two {
    text-align: right;
}

.widget-box-two p {
    font-size: 18px;
}

.widget-box-two .widget-two-icon {
    position: absolute;
    left: 30px;
    font-size: 36px !important;
    top: 30px;
    overflow: hidden;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 74px;
    border-radius: 50%;
}

.widget-box-two .wigdet-two-content {
    position: relative;
}

.widget-two-custom .widget-two-icon {
    color: #3f54da;
    border: 4px double #3f54da;
}

.widget-two-primary .widget-two-icon {
    color: #4489e4;
    border: 4px double #4489e4;
}

.widget-two-success .widget-two-icon {
    color: #32c861;
    border: 4px double #32c861;
}

.widget-two-warning .widget-two-icon {
    color: #ffa91c;
    border: 4px double #ffa91c;
}

.widget-two-info .widget-two-icon {
    color: #34d3eb;
    border: 4px double #34d3eb;
}

.widget-two-danger .widget-two-icon {
    color: #f96a74;
    border: 4px double #f96a74;
}

.widget-two-inverse .widget-two-icon {
    color: #36404c;
    border: 4px double #36404c;
}

.widget-two-purple .widget-two-icon {
    color: #5553ce;
    border: 4px double #5553ce;
}

.widget-two-pink .widget-two-icon {
    color: #ec6794;
    border: 4px double #ec6794;
}

.widget-two-default {
    background-color: #ffffff;
}

.widget-two-default .widget-two-icon {
    color: silver;
    border: 2px solid silver;
}

.widget-box-three img {
    height: 48px;
    width: 48px;
    line-height: 80px;
}

.widget-box-three .bg-icon {
    height: 80px;
    width: 80px;
    line-height: 76px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
    border: 1px dashed #98a6ad;
    background-color: #f3f3f3;
    margin-right: 20px;
}

.widget-box-three .bg-icon i {
    vertical-align: middle;
    font-size: 36px;
    color: #98a6ad;
}

.widget-user {
    position: relative;
}

.widget-user img {
    width: 60px;
    height: 60px;
}

.widget-box-four {
    position: relative;
}

.widget-box-four .widget-box-four-chart {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.widget-box-four .wigdet-four-content {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.widget-box-four h3 {
    font-size: 22px;
}


/* =============
   Buttons
============= */

.btn {
    border-radius: 2px;
    font-size: 14px;
    padding: 7px 14px;
    outline: none !important;
}

.btn-md {
    padding: 9px 18px;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 12px 20px !important;
    font-size: 18px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 10px !important;
    font-size: 14px;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px !important;
    font-size: 12px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.btn-custom,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
    color: #ffffff !important;
}

.btn-custom {
    background-color: #64c5b1;
    border-color: #64c5b1;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #51bea8 !important;
    border: 1px solid #51bea8 !important;
}

.btn-custom.focus,
.btn-custom:focus,
.btn-outline-custom.focus,
.btn-outline-custom:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(100, 197, 177, 0.3);
    box-shadow: 0 0 0 2px rgba(100, 197, 177, 0.3);
}

.btn-secondary {
    background-color: #ffffff;
    border-color: rgba(49, 58, 70, 0.2);
    color: #797979;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: rgba(49, 58, 70, 0.07) !important;
    border-color: rgba(49, 58, 70, 0.2) !important;
    color: #797979;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.1);
    box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.1);
}

.btn-primary {
    background-color: #4489e4 !important;
    border: 1px solid #4489e4 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #2e7be1 !important;
    border-color: #2e7be1 !important;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(68, 137, 228, 0.3);
    box-shadow: 0 0 0 2px rgba(68, 137, 228, 0.3);
}

.btn-success {
    background-color: #32c861 !important;
    border: 1px solid #32c861 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    background-color: #2db457 !important;
    border-color: #2db457 !important;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(50, 200, 97, 0.3);
    box-shadow: 0 0 0 2px rgba(50, 200, 97, 0.3);
}

.btn-info {
    background-color: #34d3eb !important;
    border: 1px solid #34d3eb !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.dropdown-toggle.btn-info {
    background-color: #1dcee9 !important;
    border-color: #1dcee9 !important;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(52, 211, 235, 0.3);
    box-shadow: 0 0 0 2px rgba(52, 211, 235, 0.3);
}

.btn-warning {
    background-color: #ffa91c !important;
    border: 1px solid #ffa91c !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning {
    background-color: #ff9f03 !important;
    border-color: #ff9f03 !important;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 169, 28, 0.3);
    box-shadow: 0 0 0 2px rgba(255, 169, 28, 0.3);
}

.btn-danger {
    background-color: #f96a74 !important;
    border: 1px solid #f96a74 !important;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open>.dropdown-toggle.btn-danger {
    background-color: #f8515d !important;
    border-color: #f8515d !important;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(249, 106, 116, 0.3);
    box-shadow: 0 0 0 2px rgba(249, 106, 116, 0.3);
}

.btn-inverse {
    background-color: #36404c !important;
    border: 1px solid #36404c !important;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open>.dropdown-toggle.btn-inverse {
    background-color: #2b333d !important;
    border-color: #2b333d !important;
}

.btn-inverse.focus,
.btn-inverse:focus,
.btn-outline-inverse.focus,
.btn-outline-inverse:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(54, 64, 76, 0.3);
    box-shadow: 0 0 0 2px rgba(54, 64, 76, 0.3);
}

.btn-purple {
    background-color: #5553ce !important;
    border: 1px solid #5553ce !important;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: #413fc8 !important;
    border-color: #413fc8 !important;
}

.btn-purple.focus,
.btn-purple:focus,
.btn-outline-purple.focus,
.btn-outline-purple:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(85, 83, 206, 0.3);
    box-shadow: 0 0 0 2px rgba(85, 83, 206, 0.3);
}

.btn-pink {
    background-color: #ec6794 !important;
    border: 1px solid #ec6794 !important;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #e95084 !important;
    border-color: #e95084 !important;
}

.btn-pink.focus,
.btn-pink:focus,
.btn-outline-pink.focus,
.btn-outline-pink:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(236, 103, 148, 0.3);
    box-shadow: 0 0 0 2px rgba(236, 103, 148, 0.3);
}


/* .btn-bordered {
    background-color: transparent !important;
} */

.btn-bordered.btn-secondary {
    background-color: #ffffff;
    border: 2px solid rgba(49, 58, 70, 0.15) !important;
}

.btn-bordered.btn-custom {
    color: #64c5b1 !important;
    border: 2px solid #64c5b1 !important;
}

.btn-bordered.btn-custom:hover,
.btn-bordered.btn-custom:focus,
.btn-bordered.btn-custom:active {
    background-color: #64c5b1;
    color: #ffffff !important;
    border: 2px solid #4abba4 !important;
}

.btn-bordered.btn-primary {
    /* color: #4489e4 !important; */
    border: 2px solid #4489e4 !important;
}

.btn-bordered.btn-primary:hover,
.btn-bordered.btn-primary:focus,
.btn-bordered.btn-primary:active {
    background-color: #4489e4;
    color: #ffffff !important;
    border: 2px solid #2575df !important;
}

.btn-bordered.btn-success {
    /* color: #32c861 !important; */
    border: 2px solid #32c861 !important;
}

.btn-bordered.btn-success:hover,
.btn-bordered.btn-success:focus,
.btn-bordered.btn-success:active {
    background-color: #32c861;
    color: #ffffff !important;
    border: 2px solid #2bab53 !important;
}

.btn-bordered.btn-info {
    /* color: #34d3eb !important; */
    border: 2px solid #34d3eb !important;
}

.btn-bordered.btn-info:hover,
.btn-bordered.btn-info:focus,
.btn-bordered.btn-info:active {
    background-color: #34d3eb;
    color: #ffffff !important;
    border: 2px solid #17cae5 !important;
}

.btn-bordered.btn-warning {
    /* color: #ffa91c !important; */
    border: 2px solid #ffa91c !important;
}

.btn-bordered.btn-warning:hover,
.btn-bordered.btn-warning:focus,
.btn-bordered.btn-warning:active {
    background-color: #ffa91c;
    color: #ffffff !important;
    border: 2px solid #f79a00 !important;
}

.btn-bordered.btn-danger {
    /* color: #f96a74 !important; */
    border: 2px solid #f96a74 !important;
}

.btn-bordered.btn-danger:hover,
.btn-bordered.btn-danger:focus,
.btn-bordered.btn-danger:active {
    background-color: #f96a74;
    color: #ffffff !important;
    border: 2px solid #f84854 !important;
}

.btn-bordered.btn-inverse {
    color: #36404c !important;
    border: 2px solid #36404c !important;
}

.btn-bordered.btn-inverse:hover,
.btn-bordered.btn-inverse:focus,
.btn-bordered.btn-inverse:active {
    background-color: #36404c;
    color: #ffffff !important;
    border: 2px solid #272e37 !important;
}

.btn-bordered.btn-purple {
    color: #5553ce !important;
    border: 2px solid #5553ce !important;
}

.btn-bordered.btn-purple:hover,
.btn-bordered.btn-purple:focus,
.btn-bordered.btn-purple:active {
    background-color: #5553ce;
    color: #ffffff !important;
    border: 2px solid #3a38c5 !important;
}

.btn-bordered.btn-pink {
    color: #ec6794 !important;
    border: 2px solid #ec6794 !important;
}

.btn-bordered.btn-pink:hover,
.btn-bordered.btn-pink:focus,
.btn-bordered.btn-pink:active {
    background-color: #ec6794;
    color: #ffffff !important;
    border: 2px solid #e8477e !important;
}

.btn-rounded {
    border-radius: 2em;
}


/* Card Box */

.card-box {
    padding: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.chart-legend .legend-labels {
    background: none !important;
}

.chart-legend .legend-label-text {
    line-height: 18px;
    font-size: 16px !important;
}

input[type=checkbox] {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
}

input[type=radio] {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
}

mat-card {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

mat-table {
    margin-top: 20px;
}

.loginpage {
    border: #df25d1 2px solid;
    border-radius: 10px;
    padding: 40px;
    min-height: 100vh -10%;
}

.rp-page-title {
    margin-bottom: 30px;
}

.user-block img {
    width: 120px !important;
    height: 120px !important;
    border: 3px solid #0085e4 !important;
}

.logo-icon {
    padding-right: 5px;
}

.app.indigo-light .mat-toolbar.mat-primary {
    color: #fff;
    font-size: 16px;
}

/* menu */

.menu-item .mat-button-wrapper {
    padding-left: 5px !important;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px !important;
    width: 30px !important;
}

.menu-item .mat-button .menu-icon {
    margin-right: 5px;
    padding: 3px !important;
    border-radius: 50%;
}

.menu-item .mat-button .menu-icon {
    margin-right: 12px;
    padding: 7px;
    border-radius: 50%;
}

.app.indigo-light .menu-item .mat-button.active-link .menu-icon {
    background: #303f9f;
    color: #fff;
}

.user-menu .user-info img {
    border: 3px solid #0085e4 !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {

    font-size: 16px !important;

}

@media (min-width: 320px) and (max-width: 1280px) {
    .app.indigo-light .mat-header-cell {

        border: 1px solid #e6e6e6;
    }
    .app.indigo-light .mat-cell,
    .app.indigo-light .mat-footer-cell {
        border: 1px solid #e6e6e6;
    }
    .mat-table {
    overflow-x: scroll;
    }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
}

/* mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 10%;
}

mat-cell:last-child,
mat-header-cell:last-child {
    flex: 0 0 10%;
} */


