<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6">
            {{'modeType.MACA11'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onSave2()"><i
                class="fa fa-floppy-o"> {{'button.save' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack('','','')"><i
              class="fa fa-arrow-circle-left"> {{'button.back' | translate}}</i></button>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered rp-page-title">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {{'psms.LB0087' | translate}} {{stu_code}} {{fullname}} &nbsp;&nbsp;{{'psms.LB0232' | translate}} {{class_room}}&nbsp;&nbsp; {{'psms.DT0015' | translate}} {{year_group_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-4 text-right">
                    <label class="labelField"> <samp class="text-danger">* {{'psms.LB0263' | translate}}</samp></label>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" (change)="onChoose($event)">                  
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>                        
                    </select> 
                </div>
            </div>
            <div style=" margin:25px 5px 5px 5px;">
                <mat-table [dataSource]="dataSource" class="table table-bordered table-striped">
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef fxFlex="5"> {{'psms.DT0101' | translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index;" fxFlex="5">
                            {{i+1}}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="header-align-right"> {{'psms.DT0102' | translate}} (Mode) 1:2:3</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="behaviours">
                        <mat-header-cell *matHeaderCellDef fxFlex="82"> {{'psms.DT0103' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="82">{{element.itemDesc}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="mat-cell-center">{{sumScore1()}}:{{sumScore2()}}:{{sumScore3()}}</mat-footer-cell>                 
                    </ng-container>
                    <ng-container matColumnDef="score">
                        <mat-header-cell *matHeaderCellDef fxFlex="13"> {{'psms.DT0104' | translate}} </mat-header-cell>
                        <mat-cell style=" margin-bottom: -10px;" *matCellDef="let element" fxFlex="13">
                            <select class="form-control" [(ngModel)]="element.score">
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 </option>                         
                            </select>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="mat-cell-center">{{checkSumScore()}}</mat-footer-cell>  
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>
                </mat-table>
            </div>
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div style=" margin:25px 5px 5px 5px;">
                <mat-table [dataSource]="dataSource2" class="table table-bordered table-striped">
                    <ng-container matColumnDef="col1">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0105' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.col1}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col2">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0106' | translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.col2}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="col3">
                        <mat-header-cell *matHeaderCellDef> {{'psms.DT0107' | translate}} </mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.col3}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>


</div>