.mat-row, .mat-header-row {  
    min-width: 1200px;  
    width: 100%;  
 }  
 
/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    font-size: 16px;
    background-color: #0089ffb8;
    opacity: 1 !important;
    border: 1px solid transparent;
    border-radius: 3rem;
}
