<div class="rp-page-title">{{'modeType.MADM04'|translate}}</div>
<div class="container-fluid">
    <div class="row m-t-20">
        <div class="col-lg-12">
            <mat-expansion-panel class="color-1"><br />
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title>
                        <i class="fa fa-search" aria-hidden="true"> {{'form.request' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="searchForm" autocomplete="off">
                    <div class="portlet light bordered">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2 text-right">
                            <label class="labelField ">{{'psms.LB0127'|translate}} :</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" formControlName="roleId" (change)="onSearch()">
                                <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                                <option *ngFor="let ele of roleList" [value]="ele.roleId">
                                    {{ele.roleName}}
                                </option>
                            </select> 
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
                            (click)="onSave()"><i class="fa fa-save"> {{'button.save' | translate}}</i></button>
                        <button type="button" (click)="onCancel()"
                            class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i class="fa fa-remove">{{'psms.B0006'|translate}}</i></button>
                    </div>
                   </div>
                </form>

            </mat-expansion-panel>
            <mat-card>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onActiveAll('Y')"><i class="fa fa-check"></i> {{'psms.B0017'|translate}}</button>&nbsp;
                        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)="onActiveAll('N')"><i class="fa fa-remove"></i> {{'psms.B0018'|translate}}</button>
                    </div>
                </div><br>
                <mat-tab-group animationDuration="500ms" (selectedTabChange)="onfilter($event)">
                    <mat-tab *ngFor="let item of labelTabs">
                        <ng-template mat-tab-label>{{item}}</ng-template>

                        <mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover" *ngIf="translate.currentLang == 'th'">
                            <ng-container matColumnDef="pageName">
                                <mat-header-cell *matHeaderCellDef fxFlex="65">{{'psms.DT0041'|translate}}</mat-header-cell>
                                <mat-cell  *matCellDef="let element" fxFlex="65"> ({{element.pageCode}}){{element.pageName}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageNameEn">
                                <mat-header-cell *matHeaderCellDef fxFlex="65" fxHide>{{'psms.DT0041'|translate}}</mat-header-cell>
                                <mat-cell  *matCellDef="let element" fxFlex="65" fxHide> ({{element.pageCode}}){{element.pageNameEn}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageGroupName">
                                <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0119'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">{{element.pageGroupName}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageGroupNameEn">
                                <mat-header-cell *matHeaderCellDef fxFlex="20" fxHide>{{'psms.LB0121'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20" fxHide>{{element.pageGroupNameEn}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="isView">
                                <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DL0012'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <mat-slide-toggle [checked]="element.isView == 'Y'"
                                        (change)="onActive(element,$event,'isView')"></mat-slide-toggle>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover" *ngIf="translate.currentLang == 'en'">
                            <ng-container matColumnDef="pageName">
                                <mat-header-cell *matHeaderCellDef fxFlex="65" fxHide>{{'psms.DT0041'|translate}}</mat-header-cell>
                                <mat-cell  *matCellDef="let element" fxFlex="65" fxHide> ({{element.pageCode}}){{element.pageName}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageNameEn">
                                <mat-header-cell *matHeaderCellDef fxFlex="65">{{'psms.DT0041'|translate}}</mat-header-cell>
                                <mat-cell  *matCellDef="let element" fxFlex="65"> ({{element.pageCode}}){{element.pageNameEn}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageGroupName">
                                <mat-header-cell *matHeaderCellDef fxFlex="20" fxHide>{{'psms.LB0119'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20" fxHide>{{element.pageGroupName}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="pageGroupNameEn">
                                <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0121'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20">{{element.pageGroupNameEn}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="isView">
                                <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.DL0012'|translate}}</mat-header-cell>
                                <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
                                    <mat-slide-toggle [checked]="element.isView == 'Y'"
                                        (change)="onActive(element,$event,'isView')"></mat-slide-toggle>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                    </mat-tab>

                </mat-tab-group>
                
                <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
                <div class="text-center">
                    <button *ngIf="pageSize != 0" type="button"
                        class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onSave()"><i
                            class="fa fa-save"> {{'button.save' | translate}}</i></button>
                </div>
            </mat-card>
        </div>
    </div>
</div>