<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-6" style="font-size:34px">
      {{'modeType.MT0009'|translate}}
    </div>
    <div class="col-lg-6 text-right mt-3">
      <a style="float: right;cursor: pointer" (click)="close()">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
        <div class="portlet light bordered">
          <div class="row">
            <div class="col-sm-3 mt-2 text-right">
              <label class="labelyear ">{{'psms.DT0004'|translate}} (TH) : </label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="firstnameTh" placeholder="-- {{'psms.LB0015'|translate}} (TH) --">
            </div>
            <div class="col-sm-2 mt-2 text-right">
              <label class="labelyear ">{{'psms.LB0016'|translate}} (TH) : </label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="lastnameTh" placeholder="-- {{'psms.LB0017'|translate}} (TH) --">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 mt-2 text-right">
              <label class="labelyear ">{{'psms.DT0004'|translate}} (EN) : </label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="firstnameEn" placeholder="-- {{'psms.LB0015'|translate}} (EN) --">
            </div>
            <div class="col-sm-2 mt-2 text-right">
              <label class="labelyear ">{{'psms.LB0016'|translate}} (EN) : </label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="lastnameEn" placeholder="-- {{'psms.LB0017'|translate}} (EN) --">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
              <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
            </button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()">
              <i class="fa fa-remove"> {{'psms.B0006'|translate}}</i>
            </button>
          </div>
        </div>
      </form>
      <mat-card>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="no1">
              <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0001'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center" fxFlex="10">
                {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef fxFlex="40"> {{'psms.DT0004'|translate}} - {{'psms.LB0016'|translate}} (TH)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="40"> {{element.fullname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullnameEn">
              <mat-header-cell *matHeaderCellDef fxFlex="38"> {{'psms.DT0004'|translate}} - {{'psms.LB0016'|translate}} (EN) </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="38">{{element.fullnameEn}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Status"> 
              <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0007'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
                  (click)="onSelect(element)" title="เลือกรายการ">
                  <i class="fa fa-check"></i>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'psms.LB0128'|translate}}</div>
          <mat-paginator [pageSizeOptions]="[5]" [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>