<div class="rp-page-title">{{'modeType.MGRA01'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupId"><!--yearGroupName-->
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                      {{ ele.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0232'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()"><!--className-->
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="4" selected>ป.1</option>
                    <option value="5" selected>ป.2</option>
                    <option value="6" selected>ป.3</option>
                    <option value="7" selected>ป.4</option>
                    <option value="8" selected>ป.5</option>
                    <option value="9" selected>ป.6</option>
                    <option value="10" selected>ม.1</option>
                    <option value="11" selected>ม.2</option>
                    <option value="12" selected>ม.3</option>
                    <option value="13" selected>ม.4</option>
                    <option value="14" selected>ม.5</option>
                    <option value="15" selected>ม.6</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId"><!--classRoom-->
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                      {{ ele.classRoom }} {{ ele.classRoomLnameTh }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0087'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="stuCode"pattern="[0-9]{1,2,3,4,5,6,7,8,9}" maxlength="5" onKeyUp="if(isNaN(this.value)){ Swal.fire(this.translate.intant('alert.only_number'),'','error').then(() => {this.close();}); this.value='';}"/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2"></div> 
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0171'|translate}} :</label>
                </div>
                <div class="col-sm-4" style="padding-top:10px">
                  <div class="Lang">
                    <input type="radio" name="langCode" value="1" formControlName="langCode"/> &nbsp; TH &nbsp; 
                    <input type="radio" name="langCode" value="2" formControlName="langCode"/> &nbsp; EN &nbsp;
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info">
                  <i class="fa fa-search"> {{'button.search'|translate}}</i>
                </button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)=onCancel()>
                  <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="stuNo">
            <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center">
              {{ element.stu_code }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.fullname }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.class_room }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0115'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="set_no">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0114'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.set_no}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="seq_no">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0056'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.seq_no}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="yearStatus">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">

              <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" title="{{'psms.B0005'|translate}}" (click)="onForm(element.class_room_member_id,element.stu_transcript_log_id,element.set_no,element.seq_no,element.stu_profile_id)">
                <i class="fa fa-save" aria-hidden="true"></i>
              </button>

              <button type="button"  class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary"title="{{'buttonTitle.BTT005'|translate}}"  *ngIf="element.set_no != null && element.seq_no != null" (click)="onFormPrint(element.stu_code,element.set_no,element.seq_no,element.class_lname_th,element.stu_transcript_log_id)">
                <i class="fa fa-print" aria-hidden="true" ></i>
               </button>

            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>  