<div class="rp-page-title">
  {{'modeType.MMST14'|translate}}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            <div class="portlet-title"><br /> 
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0162'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="name" placeholder="{{'placeholder.P00001' | translate}}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.DT0003'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="descTh" placeholder="{{'placeholder.P00001' | translate}}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0012'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="gender">
                    <option value="" selected>-- {{'psms.LB0013'|translate}} --</option>
                    <option *ngFor="let ele of genderList" [value]="ele.genderId">
                      {{ele.genderDescTh}}
                    </option>
                  </select>
                </div>
              </div><br />
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                    aria-hidden="true"> {{'psms.B0004'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove" aria-hidden="true"> {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>


      <mat-card>
        <div class="row">
          <div class="col-sm-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onPreviewPDF()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009'|translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010'|translate}}</i></button>
          </div>
          <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-success btn-bordered waves-effect waves-light" (click)="onForm('')"><i
                class="fa fa-plus-circle" aria-hidden="true"></i>
                {{'psms.B0023'|translate}}</button>
          </div>
        </div>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0162'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.name}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0003'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.desc_th}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gender">
              <mat-header-cell *matHeaderCellDef>{{'psms.LB0012'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.gender_desc_th}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="updatedUser">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0013'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.updated_user}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="updatedDate">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0014'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">
                {{_util.formatDateSQLToString(element.updated_date,true,'/')}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="titleStatus">
              <mat-header-cell *matHeaderCellDef>{{'psms.DT0007'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element">
                <button type="button" class="btn btn-warning btn-bordered waves-effect waves-light" title="{{'buttonTitle.BTT002' | translate}}"
                  (click)="onForm(element.title_id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                  (click)="onDelete(element)"><i class="fa fa-trash" aria-hidden="true "></i></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'psms.LB0128'|translate}}</div>
          <mat-paginator [pageSizeOptions]="[10] " [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>