th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 18;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}
