<div class="container-fluid"><br>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="row">

        <div class="col-lg-1"></div>
        <div class="col-lg-5 text-left">
          <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onBackPage()"><i
              class="fa fa-arrow-circle-left" aria-hidden="true"> {{'psms.B0015'|translate}}</i></button>
        </div>
        <div class="col-lg-5 text-right">
          <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
            (click)="printComponent('component1')"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" id="component1" style="margin-top: 19px;">
          <div class="col text-center bold"><br><br>
            <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br>
            <label>โรงเรียนพระมารดานิจจานุเคราะห์</label><br>
            <label>แบบประเมินพัฒนาการนักเรียนปฐมวัย</label><br>
            <label>ปีการศึกษา {{ yearGroupName }}</label><br>
            <label>ชื่อ {{ fullName }} </label> &nbsp; <label>ชั้นปฐมวัยปีที่ {{ classRoom }}
            </label> &nbsp; <label>ชื่อครูประจำชั้น {{ teacherName }} </label>
          </div><br>
          <div class="row">
            <table style="width:80%;">
              <tr class="center">
                <th rowspan="2"><label>วิชา/ วิชาพิเศษ</label></th>
                <th><label>คะแนน</label></th>
                <th colspan="3"><label>ภาคเรียนที่ 1</label></th>
                <th colspan="3"><label>ภาคเรียนที่ 2</label></th>
                <th rowspan="2"><label>เฉลี่ย <br> ตลอดปี</label></th>
              </tr>

              <tr class="center">
                <th><label>เต็ม</label></th>
                <th><label>สูงสุด</label></th>
                <th><label>ต่ำสุด</label></th>
                <th><label>คะแนน</label></th>

                <th><label>สูงสุด</label></th>
                <th><label>ต่ำสุด</label></th>
                <th><label>คะแนน</label></th>
              </tr>

              <ng-container *ngFor=" let item of dataSourceListTerm1; let i = index">
                <tr *ngIf="dataSourceListTerm1[i].subject_type === '1' || 
              dataSourceListTerm2 && dataSourceListTerm2[i]?.subject_type === '1'">
                  <td>
                    <label>{{ dataSourceListTerm1[i].subject_code }}</label>
                  </td>
                  <td class="center"><label>{{ dataSourceListTerm1[i].full_score_final }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm1[i].max_score }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm1[i].min_score }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm1[i].score_final }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm2 && dataSourceListTerm2[i]?.max_score }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm2 && dataSourceListTerm2[i]?.min_score }}</label></td>
                  <td class="center"><label>{{ dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final }}</label>
                  </td>
                  <td class="center">
                    <label>{{ dataSourceListTerm1[i].score_final + (dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final) }}</label>
                  </td>
                </tr>
              </ng-container>

              <tr>
                <th><label>รวมคะแนน</label></th>
                <th class="center"><label>{{ totalFullScoreArray }}</label></th>
                <th><label></label></th>
                <th><label></label></th>
                <th class="center"><label>{{ totalScoreFinalTerm1 }}</label></th>

                <th><label></label></th>
                <th><label></label></th>
                <th class="center"><label>{{ totalScoreFinalTerm2 }}</label></th>
                <th class="center"><label>{{ totalScoreFinalTerm1 + totalScoreFinalTerm2 }}</label></th>
              </tr>

              <tr>
                <th><label>ร้อยละ</label></th>
                <th><label></label></th>
                <th colspan="2"><label></label></th>
                <th class="center"><label>{{ totalScoreFinalTerm1.toFixed(2) }}</label></th>

                <th colspan="2"><label></label></th>
                <th class="center"><label>{{ totalScoreFinalTerm2.toFixed(2) }}</label></th>
                <th class="center"><label>{{ totalPercent.toFixed(2) }}</label></th>
              </tr>

              <tr>
                <th><label>ผลกาารประเมิน</label></th>
                <th class="center"><label>ผ่าน/ ไม่ผ่าน</label></th>
                <td colspan="3" class="center">
                  <input type="checkbox" *ngIf="totalScoreFinalTerm1 < 50" readonly>
                  <input type="checkbox" checked *ngIf="totalScoreFinalTerm1 >= 50" readonly>
                  ผ่าน &nbsp;
                  <input type="checkbox" checked *ngIf="totalScoreFinalTerm1 < 50" readonly>
                  <input type="checkbox" *ngIf="totalScoreFinalTerm1 >= 50" readonly>
                  ไม่ผ่าน
                </td>

                <td colspan="3" class="center">
                  <input type="checkbox" *ngIf="totalScoreFinalTerm2 < 50" readonly>
                  <input type="checkbox" checked *ngIf="totalScoreFinalTerm2 >= 50" readonly>
                  ผ่าน &nbsp;
                  <input type="checkbox" checked *ngIf="totalScoreFinalTerm2 < 50" readonly>
                  <input type="checkbox" *ngIf="totalScoreFinalTerm2 >= 50" readonly>
                  ไม่ผ่าน
                </td>
                <th><label class="center"></label></th>
              </tr>

              <tr>
                <th><label>จำนวนนักเรียน</label></th>
                <th colspan="4" class="center">{{ amountTerm1 }}<label></label></th>
                <th colspan="3" class="center"><label> {{ amountTerm2 }}</label></th>
                <th><label></label></th>
              </tr>

              <tr>
                <th><label>วิชาพิเศษ</label></th>
                <th colspan="8"><label></label></th>
              </tr>

              <ng-container *ngFor="let item of dataSourceListTerm1; let i = index">
                <tr *ngIf="dataSourceListTerm1[i].subject_type === '2' || 
            dataSourceListTerm2 && dataSourceListTerm2[i]?.subject_type === '2'">
                  <td><label>{{ dataSourceListTerm1[i].subject_code }}</label></td>
                  <td class="center"><label>ผ่าน/ ไม่ผ่าน</label></td>
                  <td colspan="3" class="center">
                    <input type="checkbox" *ngIf="dataSourceListTerm1[i].score_final < '20'" readonly>
                    <input type="checkbox" checked *ngIf="dataSourceListTerm1[i].score_final >= '20'" readonly>
                    ผ่าน &nbsp;
                    <input type="checkbox" checked *ngIf="dataSourceListTerm1[i].score_final < '20'" readonly>
                    <input type="checkbox" *ngIf="dataSourceListTerm1[i].score_final >= '20'" readonly>
                    ไม่ผ่าน
                  </td>

                  <td colspan="3" class="center">
                    <input type="checkbox" *ngIf="dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final < '20'"
                      readonly>
                    <input type="checkbox" checked
                      *ngIf="dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final >= '20'" readonly>
                    ผ่าน &nbsp;
                    <input type="checkbox" checked
                      *ngIf="dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final < '20'" readonly>
                    <input type="checkbox" *ngIf="dataSourceListTerm2 && dataSourceListTerm2[i]?.score_final >= '20'"
                      readonly>
                    ไม่ผ่าน
                  </td>
                  <td></td>
                </tr>
              </ng-container>

              <tr>
                <th colspan="2"><label>ลงชื่อครูประจำชั้น</label></th>
                <th colspan="7"><label></label></th>
              </tr>

              <tr>
                <th colspan="2"><label>ลงชื่อรองผู้อำนวยการฝ่าย</label></th>
                <th colspan="7"><label></label></th>
              </tr>

              <tr>
                <th colspan="2"><label>ลงชื่อผู้ปกครอง</label></th>
                <th colspan="7"><label></label></th>
              </tr>

            </table>

          </div><br>
        </div>
      </div>
    </div>
  </div>
</div>