<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6">
            {{headerType}} {{'modeType.MMST07'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
                (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                <mat-expansion-panel expanded><br>
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0019'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="catClass" (change)="ddlTbMstClass()"
                                        [ngClass]="{'error': validateValue == true &&  form.value.catClass == null || validateValue == true && form.value.catClass == ''}">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of catClassList" [value]="ele.catClassId">
                                            {{ele.lnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0106'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="classId"
                                        [ngClass]="{'error': validateValue == true &&  form.value.classId == null || validateValue == true && form.value.classId == ''}">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of classList" [value]="ele.class_id">
                                            {{ele.class_sname_th}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0048'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" formControlName="activityGroupId"
                                        (change)="ddlActivityGroup()"
                                        [ngClass]="{'error': validateValue == true &&  form.value.activityGroupId == null || validateValue == true && form.value.activityGroupId == ''}">
                                        <option value="" selected>--- {{'psms.LB0130'|translate}} ---</option>
                                        <option *ngFor="let ele of activityGroupList" [value]="ele.activityGroupId">
                                            {{ele.activityGroup}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.LB0112'|translate}}<span class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                        formControlName="activityName"
                                        [ngClass]="{'error': validateValue == true &&  form.value.activityName == null || validateValue == true && form.value.activityName == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0049'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                                        formControlName="location">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label class="labelField">{{'psms.LB0151'|translate}} :</label></div>
                                <div class="col-sm-2 mt-2">
                                    <input type="checkbox" formControlName="isactive">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.activityId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0013'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" readonly formControlName="updatedUser">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.activityId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label class="labelField">{{'psms.DT0014'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="updatedDate"
                                        value="{{updatedDate | date :'dd.MM.yyyy' :'+700' :'en-US'}}   {{updatedDate | date :'HH:mm:ss' :'+700' :'en-US'}}"
                                        readonly>
                                </div>
                            </div><br>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                                        class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                                    (click)="OnClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </div>
</div>