<div class="rp-page-title">
  {{'modeType.MSTU03'|translate}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br />
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="toYearGroup">
                    <option value="" selected>-- {{'psms.B0027' | translate}} --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.name">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0046' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="toClass">
                    <option value="" selected>-- {{'psms.B0027' | translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classSnameTh">
                      {{ele.classSnameTh}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0079' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="firstnameTh" placeholder="{{'placeholder.P00001' | translate}}"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0080' | translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" formControlName="lastnameTh" placeholder="{{'placeholder.P00001' | translate}}"/>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                  <i class="fa fa-search"> {{'button.search' | translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)=onCancel()><i
                    class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onPreviewPDF()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary"
              (click)="onExportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010' | translate}}</i></button>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef fxFlex="7">{{'psms.DT0001' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="7">
              {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="citizenNO">
            <mat-header-cell *matHeaderCellDef fxFlex="13">{{'psms.DT0002' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="13"> {{element.citizenId}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0003' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"> {{element.title}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="firstNameTh">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0004' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20"> {{element.firstnameTh}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastNameTh">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0005' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20"> {{element.lastnameTh}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.DT0006' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20"> {{element.toClass}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0007' | translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
              <button class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002' | translate}}" (click)="onForm(element)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>

      </mat-card> 

    </div>
  </div>
</div>