<div class="rp-page-title">{{'modeType.MTEC03'|translate}}</div>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-12">   
            <mat-expansion-panel> 
                <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
                    <mat-panel-title> 
                        <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header><br> 
                <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">  
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label> 
                                </div>
                                <div class="col-lg-3">
                                  <select class="form-control" formControlName="yearGroupName">
                                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                    <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.DT0019' | translate}} :</label>
                                </div>
                                <div class="col-lg-3"> 
                                  <select class="form-control" formControlName="catClassId" (change)="ddlClass()">
                                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                    <option *ngFor="let ele of catClassList" [value]="ele.catClassId">{{ele.lnameTh}}</option>                   
                                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-right">
                                  <label class="labelField">{{'psms.LB0232' | translate}} :</label>
                                </div>
                                <div class="col-lg-3">
                                  <select class="form-control" formControlName="className">
                                    <option value="" selected>-- {{'psms.LB0130' | translate}}--</option>
                                    <option *ngFor="let ele of classList" [value]="ele.classLnameTh">{{ele.classLnameTh}}</option>                   
                                  </select>
                                </div>
                            </div><br>   
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light  btn-info"><i class="fa fa-search"> {{'button.search' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-danger" (click)="onCancel()" ><i class="fa fa-remove"> {{'button.cancel' | translate}}</i></button>
                            </div>
                        </div> 
                    </div>
                </form> 
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row m-2"> 
        <div class="col-lg-12">
            <mat-card><br> 
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning" *ngIf="dataSource.data.length != 0" (click)="onSearchclass()"><i class="fa fa-check" aria-hidden="true"> {{'psms.B0035' | translate}}</i></button>
                        <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" *ngIf="searchForm.value.yearGroupName != ''" (click)="onSearchteacher()"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0033' | translate}}</i></button>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="yearGroupName" >
                        <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="20"> {{element.yearGroupName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fullname"> 
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="className">
                        <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.LB0232' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12"> {{element.className}} </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="leader">
                        <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0115' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="8"><i *ngIf="element.leader == true" class="fa fa-users" aria-hidden="true"></i></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedUser">
                        <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0013' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12"> {{element.updatedUser}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="updatedDate">
                        <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0014' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12"> {{util.transform(element.updatedDate,'')}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recordStatus">
                        <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0007' | translate}}</mat-header-cell>
                        <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">
                            <button class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}" (click)="onDelete(element.teacherClassId, element.fullname)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </mat-cell> 
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
                </mat-table>
                <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
                <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    </div>
</div> 