<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MMST09'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col-lg-12">
      <form [formGroup]="paramForm" (ngSubmit)="onSave()" autocomplete="off">
        <mat-expansion-panel expanded><br>
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 text-right">
                  <label class="labelField">{{'psms.LB0153'|translate}} <samp class="lbrequire"
                      *ngIf="paramForm.value.positionNameTh == ''">*</samp>:</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                    formControlName="positionNameTh"
                    [ngClass]="{'error': validateValue == true &&  paramForm.value.positionNameTh == null || validateValue == true && paramForm.value.positionNameTh == ''}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 text-right">
                  <label class="labelField">{{'psms.LB0154'|translate}} <samp class="lbrequire"
                      *ngIf="paramForm.value.positionNameEn == ''">*</samp>:</label>
                </div>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="{{'placeholder.P00001' | translate}}"
                    formControlName="positionNameEn"
                    [ngClass]="{'error': validateValue == true &&  paramForm.value.positionNameEn == null || validateValue == true && paramForm.value.positionNameEn == ''}">
                </div>
              </div>
              <div class=" col-lg-12 text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </div>
</div>