<div class="rp-page-title">ตารางแสดงผลการสอบ</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> ค้นหาข้อมูล </i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>

        <form>
          <div class="portlet light bordered"><br>
            <div class="portlet-title">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <label class="labelField "> ภาคเรียน/ปีการศึกษา :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- เลือกภาคเรียน/ปีการศึกษา --</option>
                    <option value="1">1/2563<option>
                    <option value="2">2/2563</option>
                    <option value="3">1/2562</option>
                    <option value="4">2/2562</option>
                    <option value="5">1/2561</option>
                    <option value="6">2/2561</option>
                    <option value="7">1/2560</option>
                    <option value="8">2/2560</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <label class="labelField "> ระดับชั้น :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- เลือกระดับชั้น --</option>
                    <option value="1">ป.1<option>
                    <option value="2">ป.2</option>
                    <option value="3">ป.3</option>
                    <option value="4">ป.4</option>
                    <option value="5">ป.5</option>

                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <label class="labelField "> ห้องเรียน :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- เลือกห้องเรียน --</option>
                    <option value="1">1<option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <label class="labelField "> วิชา :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control">
                    <option value="" selected>-- เลือกวิชา --</option>
                    <option value="1">ไทย<option>
                    <option value="2">คณิต</option>
                    <option value="3">วิทย์</option>
                    <option value="4">สังคม</option>
                    <option value="5">ประวัติศาสตร์</option>
                    <option value="6">ภาษาอังกฤษ</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> ค้นหา</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> ยกเลิก</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel> <!-- mat-expansion-panel -->

      <br>
      <div class="portlet light bordered">
        <div class="text-right">
          <button type="button" (click)="printComponent('print-area')" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
              class="fa fa-print"></i> พิมพ์</button>
        </div>

        <div class="portlet-title" id="print-area">
          <div class="row">
            <div class="col-lg-12" style="margin-top:30px;">
              <p class="text-center">ตารางแสดงผลการสอบกลางภาคเรียนที่ 2 ปีการศึกษา 2560</p>
              <p class="text-center">กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม (หน้าที่พลเมือง)</p>
             
            </div>
            <div class="col-md-12" style="margin-bottom:30px;">
              <div class="table-responsive  p-t-30">
                <table border="1" cellspacing="1" cellpadding="1" style="width: 100%;">
                  <tbody>
                      <tr class="text-center">
                          <td rowspan="2" colspan="1">วิชา</td>
                          <td rowspan="1" colspan="6">คะแนนเฉลี่ย ( X )</td>
                      </tr>
                      <tr class="text-center">
                          <td style="width: 14.2%;">ป.1</td>
                          <td style="width: 14.2%;">ป.2</td>
                          <td style="width: 14.2%;">ป.3</td>
                          <td style="width: 14.2%;">ป.4</td>
                          <td style="width: 14.2%;">ป.5</td>
                          <td style="width: 14.2%;">ป.6</td>
                      </tr>
                      <tr class="text-center">
                          <td>หน้าที่พลเมือง</td>
                          <td>
                              8.35
                          </td>
                          <td>
                              8.57
                          </td>
                          <td>
                             7.29
                          </td>
                          <td>
                              9.03
                          </td>
                          <td>
                             8.67
                          </td>
                          <td>
                              9.13
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
            </div>
            <div class="col-md-12" style="border: 3px solid #dddddd;margin-bottom: 20px; padding: 40px;" fxLayout="row" fxLayoutAlign="center center" >
              <ngx-charts-bar-vertical  [view]="view"  [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [legendTitle]="legendTitle" [yScaleMax]="yScaleMax" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [barPadding]="barPadding">
              </ngx-charts-bar-vertical>
            </div>
              
            <div class="col-md-12" style="border: 3px solid #dddddd;padding: 40px 20px;">
          
              <textarea  class="col-12" rows="5" style="border: none;"><b>จากตารางพบว่า</b> ค่าเฉลี่ยในการเรียน วิชาสังคมศึกษา หน้าที่พลเมือง <br></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>