<div class="rp-page-title">{{'modeType.MMST09'|translate}}</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br />
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
          <div class="portlet light bordered">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 mt-2 text-right">
                <label class="labelyear ">{{'psms.LB0153'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" formControlName="positionNameTh">
              </div>
            </div> 
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3 mt-2 text-right">
                <label class="labelyear ">{{'psms.LB0154'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" formControlName="positionNameEn">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                <i class="fa fa-search" aria-hidden="true"> {{'psms.B0004'|translate}}</i>
              </button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()">
                <i class="fa fa-remove"> {{'psms.B0006'|translate}}</i>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success"
              (click)="clickForm()"><i class="fa fa-plus-circle"> {{'psms.B0023'|translate}}</i></button>
          </div>
        </div>
        <div style=" margin:25px 5px 5px 5px;">
          <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef fxFlex="6">{{'psms.DT0001'|translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center" fxFlex="6">
                {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="positionNameTh">
              <mat-header-cell *matHeaderCellDef fxFlex="30">{{'psms.LB0153'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="30">{{element.positionNameTh}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="positionNameEn">
              <mat-header-cell *matHeaderCellDef fxFlex="30">{{'psms.LB0154'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="30">{{element.positionNameEn}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdUser">
              <mat-header-cell *matHeaderCellDef fxFlex="14">{{'psms.DT0013'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="14"> {{element.updatedUser}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdDate">
              <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0014'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                {{formatDateSQLToString(element.updatedDate ,true,'/')}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.DT0007'|translate}}</mat-header-cell>
              <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10">
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002' | translate}}"
                  (click)="onForm(element.positionCode,element.positionNameTh,element.positionNameEn,element.sc_code,element.positionId)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}"
                  (click)="onDelete(element)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
          </mat-table>
          <div *ngIf="pageSize==0 " class="text-center ">{{'psms.LB0128'|translate}}</div>
          <mat-paginator [pageSizeOptions]="[10] " [length]="pageSize " (page)="onSearch($event) " showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>