<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12" style="margin-top: 19px;">
          <div class="row">
              <div class="col-lg-12">
                
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="rp-page-title">
                      <div class="row">
                          <div class="col-lg-4">
                            เช็คเวลาเข้า-ออก โรงเรียนคุณครู
                          </div>

                      </div>
                  </div>
                   
                     
                        <form [formGroup]="FormGroup"  autocomplete="off">
                          <div class="portlet light bordered">
                                <div class="col-lg-12  text-center">
                                        <h1 class="labelField">โรงเรียนพระมารดานิจจานุเคราะห์</h1>
                                    </div><br>
                              <div class="col-lg-12  text-center">
                                  <h1 class="labelField">วันที่/เวลา : {{util.transform(today)}} {{time | date:'HH:mm:ss':'+07:00':'en-US'}} น.</h1>
                              </div><br>
                
                              <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <img *ngFor="let url of urls"  [src]="url" class="rounded mb-3" width="180">
                                    </div>
                                </div>

                                <div class="col-lg-12  text-center"   *ngIf="dataSucess == true" >
                                        <h1  style="color :green"> บันทึกข้อมูลสำเร็จ</h1>
                                    </div>
                           
                              <div class="row">
                                    <div class="col-sm-3"></div>
                                   <div class="col-sm-3 text-right">
                                     <label class="labelField"  >ชื่อ-นามสกุลคุณครู<samp class="lbrequire">*</samp> :</label>
                                   </div>
         
                                   <div class="col-sm-3">
                                    <label class="labelField">{{fullname}}</label>
                                   </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-3"></div>
                               <div class="col-sm-3 text-right">
                                 <label class="labelField"  >ตำแหน่งเครื่องอ่านบัตร/ประตู<samp class="lbrequire">*</samp> :</label>
                               </div>
     
                               <div class="col-sm-3">
                                <label class="labelField">{{doorName}}</label>
                               </div>
                           </div>

                               <div class="row">
                                <div class="col-sm-3"></div>
                               <div class="col-sm-3 text-right">
                                 <label class="labelField"  >วันที่/เวลา<samp class="lbrequire">*</samp> :</label>
                               </div>
     
                               <div class="col-sm-3">
                                     <label class="labelField"> {{checkTime | date:'dd/MM/yyyy':'+07:00':'en-US'}}  {{checkTime | date:'HH:mm:ss':'+07:00':'en-US'}}</label>
                               </div>
     
                           </div>
                           <div class="row">
                            <div class="col-sm-2"></div>
                           <div class="col-sm-3 text-right">
                             <label class="labelField"  >เลขบัตรคุณครู<samp class="lbrequire">*</samp> :</label>
                           </div>
 
                           <div class="col-sm-3">
                               <input type="text" id="teacher_id" name="teacher_id" class="form-control " (keyup.enter)="ddlTbMstTeacher()" formControlName="smartPurseId" maxlength="8"  onkeyup="this.value = this.value.toUpperCase();"   > 
                           </div>
 
                       </div>
                 
                          </div>

                    
                    </form>
                
             
          </div>
      </div>
  </div>
</div>
