<div class="rp-page-title">
    <div class="row">
        <div class="col-lg-6 mt-2">{{'psms.LB0256'|translate}}</div>
        <div class="col-lg-6 text-right">
            <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-success" (click)="onBack()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {{'button.back'|translate}}</button>
            <button class="btn btn-bordered waves-effect waves-light m-r-15 btn-primary" (click)="onPrint('activityprint')"><i class="fa fa-print" aria-hidden="true"></i> {{'psms.B0011'|translate}}</button>
        </div> 
    </div> 
</div>
<div class="container-fluid" id="activityprint">
    <mat-card style="width:80%; margin-left: 10%;">  
        <div class="row">
            <div class="col-lg-1"></div>   
            <div class="col-lg-10 text-center">
                <h2>{{'psms.LB0256'|translate}}</h2>
                <h5><p>{{'psms.LB0170'|translate}} {{yearGroupName.substr(0,1)}} {{'psms.DT0015'|translate}} {{yearGroupName.substr(2)}}</p></h5>
            </div>
        </div> 

        <div class="pagebreak">
            <h4>{{acgroupName1}}</h4>
            <div style="margin:5px 5px 5px 5px;" *ngFor="let ac1 of dataSourceAc1; let i = index;">
                <div *ngIf="dataSourceAc1Stu.data[i] != 0">
                    <div class="rp-page-title" style="margin-bottom:-20px;">
                        {{ac1}}
                    </div>
                    <mat-table [dataSource]="dataSourceAc1Tea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'psms.LB0232'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element" fxFlex="15">{{element.class}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSourceAc1Tea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    <mat-table [dataSource]="dataSourceAc1Stu.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoom">
                            <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.DT0008'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoomNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0033'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name1}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acLesson">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson1}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row> 
                    </mat-table>
                </div>
            </div><hr> 
        </div> 

        <div class="pagebreak">
            <h4>{{acgroupName2}}</h4>
            <div style="margin:5px 5px 5px 5px;" *ngFor="let ac2 of dataSourceAc2; let i = index;">
                <div *ngIf="dataSourceAc2Stu.data[i] != 0">
                    <div class="rp-page-title" style="margin-bottom:-20px;">
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                {{ac2}} 
                            </div>
                        </div> 
                    </div>
                    <mat-table [dataSource]="dataSourceAc2Tea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'psms.LB0232'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element" fxFlex="15">{{element.class}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSourceAc2Tea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    <mat-table [dataSource]="dataSourceAc2Stu.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoom">
                            <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.DT0008'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoomNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0033'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name2}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acLesson">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson2}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                </div>
            </div><hr>
        </div>

        <div class="pagebreak">
            <h4>{{acgroupName3}}</h4>
            <div style="margin:5px 5px 5px 5px;" *ngFor="let ac3 of dataSourceAc3; let i = index;">
                <div *ngIf="dataSourceAc3Stu.data[i] != 0">
                    <div class="rp-page-title" style="margin-bottom:-20px;">
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                {{ac3}} 
                            </div>
                        </div>
                    </div>
                    <mat-table [dataSource]="dataSourceAc3Tea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'psms.LB0232'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element" fxFlex="15">{{element.class}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSourceAc3Tea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    <mat-table [dataSource]="dataSourceAc3Stu.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoom">
                            <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.DT0008'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoomNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0033'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name3}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acLesson">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson3}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                </div>
            </div><hr>
        </div>

        <div class="pagebreak">
            <h4>{{acgroupName4}}</h4>
            <div style="margin:5px 5px 5px 5px;" *ngFor="let ac4 of dataSourceAc4; let i = index;">
                <div *ngIf="dataSourceAc4Stu.data[i] != 0">
                    <div class="rp-page-title" style="margin-bottom:-20px;">
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                {{ac4}} 
                            </div>
                        </div>
                    </div>
                    <mat-table [dataSource]="dataSourceAc4Tea.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'table.no'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element; let i = index" fxFlex="8"> {{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0090'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" style="background-color:#1ABC9C;">{{'psms.LB0232'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element" fxFlex="15">{{element.class}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTea"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTea; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSourceAc4Tea.data[i] == 0" class="text-center">{{'table.notFound'|translate}}</div>
                    <mat-table [dataSource]="dataSourceAc4Stu.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} </mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoom">
                            <mat-header-cell *matHeaderCellDef fxFlex="12" style="background-color:#1ABC9C;">{{'psms.DT0008'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.class_room}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="classRoomNo">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.LB0056'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.class_room_no}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstname_th}}<br>{{element.lastname_th}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acName">
                            <mat-header-cell *matHeaderCellDef style="background-color:#1ABC9C;">{{'psms.DT0033'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element">{{element.ac_name4}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acLesson">
                            <mat-header-cell *matHeaderCellDef fxFlex="8" style="background-color:#1ABC9C;">{{'psms.DT0091'|translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.ac_lesson4}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                </div>
            </div><hr>
        </div>

    </mat-card>
</div>

    