<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
            <br/>
            <div class="row">
              <div class="col-lg-12" ><label><B> กระทรวงศึกษาธิการ แบบรายงานผู้สำเร็จการศึกษาตามหลักสูตรแกนกลางการศึกษาขั้นพื้นฐาน ระดับประฐมศึกษา </B></label></div>
            </div>
            <br/><br/>
            <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%" >
              <tbody>
                  <tr>
                      <td colspan="11"></td>
                      <td>หน้าที่ : 1</td>
                  </tr>
                  <tr>
                      <td colspan="2"><label>สำเร็จการศึกษาภาคเรียนที่</label></td>
                      <td><label>{{term}}</label></td>
                      <td colspan="2"><label>ปีการศึกษา</label></td>
                      <td><label>{{year}}</label></td>
                      <td colspan="2"><label>โรงเรียน</label></td>
                      <td><label>{{schoolName}}</label></td>
                  </tr>
                  <tr>
                      <td colspan="2"><label>ตำบล/แขวง</label></td>
                      <td><label>{{subDistrict}}</label></td>
                      <td colspan="2"><label>อำเภอ/เขต</label></td>
                      <td><label>{{district}}</label></td>
                      <td colspan="2"><label>จังหวัด</label></td>
                      <td><label>{{province}}</label></td>
                      <td colspan="2"><label>สำนักงานพื้นที่เขตการศึกษา</label></td>
                      <td><label>ประถามศึกษากรุงเทพมหานคร</label></td>
                  
                  </tr>
              </tbody>
          </table>
            <br/>
                  <table class="result-table" align="center" border="1" style="padding: 10px;" width="100%">
                      <thead>
                          <tr class="text-center">
                              <th rowspan="2"><label>ลำดับที่</label></th>
                              <th><label>เลขประจำตัวนักเรียน</label></th>
                              <th><label>ชุดที่ ปฟ.1 : ป</label></th>
                              <th><label>ชื่อนักเรียน</label></th>
                              <th><label>วันที่เดือน</label></th>
                              <th><label>ชื่อ - ชื่อสกุลบิดา</label></th>
                              <th rowspan="2"><label>ผลการประเมิน<br/>รายวิชาพื้นฐาน</label></th>
                              <th rowspan="2"><label>ผลการประเมิน<br/>การอ่าน<br/>คิดวิเคราะห์<br/>และเเขียน</label></th>
                              <th rowspan="2"><label>ผลการประเมิน<br/>คุณลักษณะ<br/>อันพึงประสงค์</label></th>
                              <th rowspan="2"><label>ผลการประเมิน<br/>กิจกรรมพัฒนา<br/>ผู้เรียน</label></th>
                              <th rowspan="2"><label>หมายเหตุ</label></th>
                          </tr>
                          <tr class="text-center">
                            <th><label>เลขประจำตัวประชาชน</label></th>
                            <th><label>เลขที่ ปพ.1 : ป</label></th>
                            <th><label>ชื่อสกุลนักเรียน</label></th>
                            <th><label>ปีเกิด</label></th>
                            <th><label>ชื่อ - ชื่อสกุลมารดา</label></th>
                          </tr>
                      </thead>

                        <tbody>
                          <tr *ngFor="let element of dataList; let i = index">
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-center"><p>{{element.stu_code}}</p><p>{{element.citizen_id}}</p></td>
                            <td class="text-center"><p>{{element.seq_no}}</p><p>{{element.set_no}}</p></td>
                            <td><p>{{element.desc}}{{element.firstname_th}}</p><p>{{element.lastname_th}}</p></td>
                            <td class="text-center">{{element.dob}}</td>
                            <td><p>{{element.father_title}}{{element.father_firstname_th}} {{element.father_lastname_th}}</p><p>{{element.mother_title}}{{element.mother_firstname_th}} {{element.mother_lastname_th}}</p></td>
                            <td class="text-center"></td>
                            <td class="text-center">8</td>
                            <td class="text-center">9</td>
                            <td class="text-center">10</td>
                            <td>11</td>
                          </tr>
                        </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>