<div class="rp-page-title">
    <div class="row">
        <div class="col-sm-6">
            {{headerType}} {{'modeType.MMST08'|translate}}
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack()"><i
                    class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 19px;">
            <mat-card>
                <form [formGroup]="form" (ngSubmit)="onSave()">
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br />

                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.LB0050'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <select class="form-control" formControlName="nameClassId"
                                        [ngClass]="{'error': validateValue == true &&  form.value.nameClassId == null || validateValue == true && form.value.nameClassId == ''}">
                                        <option value="" selected>-- {{'psms.LB0050'|translate}} --</option>
                                        <option *ngFor="let ele of classList" [value]="ele.classId">
                                            {{ele.classSnameTh}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.LB0090'|translate}}<samp class="text-danger">*</samp> :</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="classRoom"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.classRoom == null || validateValue == true && form.value.classRoom == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0008'|translate}}<samp class="text-danger">*</samp>
                                        :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="classRoomSnameTh"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.classRoomSnameTh == null || validateValue == true && form.value.classRoomSnameTh == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>หลักสูตรภาษาอังกฤษ :</label></div>
                                <div class="col-sm-2">
                                    <input type="checkbox" formControlName="isEp">
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0013'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="updatedUser" value="{{updatedUser}}"
                                        readonly>
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 text-right"><label>{{'psms.DT0014'|translate}} :</label></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="updatedDate"
                                        value="{{updatedDate}} {{updatedDateTime | date :'HH:mm:ss' :'+700' :'en-US'}}"
                                        readonly>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i class="fa fa-floppy-o"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" (click)="onCancel()"class="btn btn-bordered waves-effect waves-light btn-danger"><i class="fa fa-remove">{{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>