<div class="rp-page-title">
  {{'modeType.MTEC01'|translate}}
</div>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>  
        </mat-expansion-panel-header> 
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" >
          <div class="portlet light bordered"> 
            <div class="portlet-title">
              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2 mt-2 text-right">
                      <label>{{'psms.LB0079' | translate}} :</label>
                  </div>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" formControlName="firstnameTh" />
                  </div>
                  <div class="col-sm-2 mt-2 text-right">
                      <label>{{'psms.LB0080' | translate}} :</label>
                  </div> 
                  <div class="col-sm-3">
                      <input type="text" class="form-control" formControlName="lastnameTh" />
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 mt-2 text-right">
                  <label class="labelField">{{'psms.LB0093' | translate}} :</label>
                </div>
                <div class="col-lg-3"> 
                  <select class="form-control" formControlName="classId"  >
                    <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classLnameTh}}</option> 
                  </select>
              </div>
              <div class="col-sm-2 mt-2 text-right">
                  <label class="labelField">{{'psms.LB0094' | translate}} :</label>
                </div>
                <div class="col-lg-3"> 
                  <select class="form-control"  formControlName="departmentId" >
                    <option value="" selected>--- {{'psms.LB0130' | translate}} ---</option>
                    <option *ngFor="let ele of departmentList" [value]="ele.departmentId">{{ele.name}}</option> 
                </select>
              </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"><i
                    class="fa fa-remove" (click)="onCancle()" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
              </div>
            </div>
          </div> 
        </form>
      </mat-expansion-panel>
        <mat-card>
        <div class="row">
            <div class="col-lg-6">
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"  (click)="onReportPreview()"><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"   (click)="onReportPDF()" ><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009' | translate}}</i></button>
            <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"  (click)="onReportXls()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010' | translate}}</i></button>
            </div> 
            <div class="col-lg-6 text-right" >
                <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onForm('','add')"><i class="fa fa-plus-circle"> {{'button.add' | translate}}</i></button>
            </div>
        </div>
            <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                <ng-container matColumnDef="no">
                    <mat-header-cell *matHeaderCellDef>{{'table.no' | translate}}</mat-header-cell>
                    <mat-cell  *matCellDef="let i = index;" class="mat-cell-center"> {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} </mat-cell> 
                </ng-container>
                <ng-container matColumnDef="teacherCardId" >
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0064' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.teacher_card_id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fullname">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
                </ng-container> 
                <ng-container matColumnDef="departmentName">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0065' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.department_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="classRoomId"> 
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0008' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center"  > {{element.class_room_sname_th}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="updatedUser">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0066' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.updated_user}}</mat-cell>
                </ng-container>
                    <ng-container matColumnDef="updatedDate">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0067' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{util.transform(element.updated_date,'')}} </mat-cell>
                </ng-container> 
                <ng-container matColumnDef="licenseNo">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0068' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.license_no}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="licenseExpired">
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0069' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{util.transform(element.license_expired,'')}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="startWorkDate"> 
                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0070' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{countDob(element.start_work_date)}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="recordStatus">
                    <mat-header-cell *matHeaderCellDef>{{'table.actions' | translate}}</mat-header-cell>
                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                        <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-warning" title="{{'buttonTitle.BTT002' | translate}}" (click)="onForm(element.teacher_id,'edit')">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="element.recordStatus != 'D'" class="btn btn-bordered waves-effect waves-light btn-danger" title="{{'buttonTitle.BTT003' | translate}}" (click)="onDelete(element)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-bordered waves-effect waves-light btn-primary" title="{{'buttonTitle.BTT005' | translate}}"  (click)="onReport(element.teacher_id)">
                                <i class="fa fa-print" aria-hidden="true"></i>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedNo = row.no"> </mat-row>
            </mat-table>
            <div *ngIf="pageSize == 0" class="text-center">{{'table.notFound' | translate}}</div>
            <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
  </div>
</div>