.app.indigo-light .mat-header-cell {
 
    border: 1px solid #e6e6e6;
}
.app.indigo-light .mat-cell,
.app.indigo-light .mat-footer-cell {
    border: 1px solid #e6e6e6;
}
.mat-table {
overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
width: 100%;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}

.mat-row,
.mat-header-row {
display: table-row;
}