<div class="rp-page-title"> {{'modeType.MACA15'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"><br />
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="portlet-title"><br>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0047'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">
                      {{ele.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0232'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.classId">
                      {{ele.classSnameTh}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                      {{ele.classRoom}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"><i
                    class="fa fa-search"> {{'button.search'|translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger"
                  (click)="onCancel()"><i class="fa fa-remove"> {{'button.cancel'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-card>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="classRoomNo">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0056'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.class_room_no}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.stu_code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left"> {{element.fullname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button *ngIf="element.recordStatus != 'D'"
              title="{{'buttonTitle.BTT011'|translate}}" 
              class="btn btn-bordered waves-effect waves-light btn-primary"
                (click)="onForm(element.class_room_member_id,element.cat_class_id)">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound'|translate}}</div>
      </mat-card>
    </div>
  </div>
</div>