<div class="rp-page-title">{{'modeType.MACA12'|translate}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078' | translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2  text-right">
                  <label class="labelField">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} :</label>
                </div>
                <div class="col-lg-3">
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of yearGroupList" [value]="ele.yearGroupId">{{ele.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text-right"> 
                  <label class="labelField">{{'psms.LB0083' | translate}} :</label>
                </div>
                <div class="col-lg-3">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.class_id">{{ele.class_sname_th}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text-right">
                  <label class="labelField">{{'psms.LB0084' | translate}} :</label>
                </div>
                <div class="col-lg-3">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                    <option *ngFor="let ele of classroomList" [value]="ele.class_room_id">{{ele.class_room}}
                    </option>
                  </select>
                </div>
              </div><br>
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"
                    aria-hidden="true"> {{'button.search' | translate}}</i></button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                  (click)="onClear()"><i class="fa fa-remove" aria-hidden="true"> {{'button.cancel' | translate}}</i></button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card>
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onSave()"><i
              class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no.">
            <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="mat-cell-center" fxFlex="8">
              {{element.classRoomNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="yearGroupName">
            <mat-header-cell *matHeaderCellDef fxFlex="16">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="16">{{element.yearGroupName}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.LB0087' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12"> {{element.stuCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left"> {{element.fullname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.LB0084' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="10"> {{element.classRoom}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ratwResult">
            <mat-header-cell *matHeaderCellDef fxFlex="15">
              <select class="form-control mt-2" [(ngModel)]="headerAll" (change)="selectedAll($event.target.value)">
                <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>
                <option value="0">ดี </option>
                <option value="1">ดีเยี่ยม</option>
                <option value="2">ผ่าน </option>
                <option value="3">ไม่ผ่าน</option>
              </select>
            </mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="15">
              <select class="form-control mt-2" [(ngModel)]="element.ratwResult" (change)="selectedHeader()">
                <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>
                <option value="0">ดี </option>
                <option value="1">ดีเยี่ยม</option>
                <option value="2">ผ่าน </option>
                <option value="3">ไม่ผ่าน</option>
              </select>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound' | translate}}</div>
      </mat-card>
    </div>
  </div>
</div>