.hiddenInput {
    display: none;
    visibility: hidden;
}
.mat-step-header {
    overflow: hidden;
    outline: 0;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    background-color: #eee;
}

input:read-only.error { 
    border: #FF0000 1 px solid;
    background: #FFEBEF;
    color: #480000; 
 
}

input.error {
    border: #FF0000 1 px solid;
    background: #FFEBEF;
    color: #480000; 
}

select.error {
    border: #FF0000 1 px solid;
    background: #FFEBEF;
    color: #480000; 
}

.btwLine{
    position: relative;top: -25px;
    background-color: #fff;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-right: 15px;
}