<div class="rp-page-title">
    <div class="row">
        <div class="col-lg-6">
            {{headerType}} {{'modeType.MMST02'|translate}}
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-bordered waves-effect waves-light btn-success"
                (click)="onBackPage()"><i class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-12">
            <form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
                <mat-expansion-panel expanded><br>
                    <div class="portlet light bordered">
                        <div class="portlet-title"><br>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="subjectTypeCode" class="labelField">{{'psms.DT0017'|translate}}<span
                                            class="lbrequire">*</span> :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="subjectTypeCode"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.subjectTypeCode == null || validateValue == true && form.value.subjectTypeCode == ''}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="name" class="labelField">{{'psms.DT0018'|translate}}<span class="lbrequire">*</span>
                                        :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" formControlName="name"
                                        placeholder="{{'placeholder.P00001' | translate}}"
                                        [ngClass]="{'error': validateValue == true &&  form.value.name == null || validateValue == true && form.value.name == ''}">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.subjectTypeId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="name" class="labelField">{{'psms.DT0013'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" value="{{updatedUser}}" disabled>
                                </div>
                            </div>
                            <div class="row" *ngIf="form.value.subjectTypeId != ''">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2 text-right">
                                    <label for="name" class="labelField">{{'psms.DT0014'|translate}} :</label>
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control"
                                        value="{{util.transform(updatedDate,'')}} {{updatedDate | date: 'HH:mm': '+07:00': 'en-US'}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center" *ngIf="form.value.subjectTypeId == ''">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                                        class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                                    (click)="onClear()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                            <div class="col-lg-12 text-center" *ngIf="form.value.subjectTypeId != ''">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                                        class="fa fa-save"> {{'psms.B0005'|translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger"
                                    (click)="loadData()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </div>
</div>