<div class="rp-page-title">{{'modeType.MTEC04'|translate}}</div>
<div class="container-fluid">
    <div class="row">  
        <div class="col-lg-3"> 
            <mat-card> 
                <div class="portlet light bordered"> 
                    <div class="portlet-title">
                        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                            <div class="col-sm-12 text-center">
                                <label>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</label>
                            </div>
                            <select class="form-control" formControlName="yearGroupName">
                                <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                                <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                            </select><br>
                            <div class="col-sm-12 text-center">
                                <label>{{'psms.DT0019' | translate}}</label>
                            </div>  
                            <select multiple class="form-control" formControlName="catClassId" style="height:200px" (change)="catClassName()">
                                <option *ngFor="let ele of catClassList" [value]="ele.catClassId">{{ele.lnameTh}}</option>                   
                            </select><br>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                            </div>
                        </form>  
                    </div> 
                </div> 
            </mat-card>    
        </div> 
        <div class="col-lg-9">   
            <mat-card>
                <div class="rp-page-title text-center">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} {{searchForm.value.yearGroupName}}&nbsp;&nbsp;{{_catClassName}}</div>
                <div style="margin:25px 5px 5px 5px;" *ngFor="let itemDepartment of departmentList; let i = index;">
                    <div class="rp-page-title" style="margin-bottom:-20px;">
                        <div class="row"> 
                            <div class="col-lg-7 text-left mt-2"> 
                                {{itemDepartment.name}}
                            </div>
                            <div class="col-lg-5 text-right" *ngIf="addTeacher == true">
                                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-warning" *ngIf="dataSource.data[i] != 0" (click)="onSearchdepartment(itemDepartment.name)"><i class="fa fa-check" aria-hidden="true"> {{'psms.B0034' | translate}}</i></button>
                                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"  (click)="onSearchteacher(itemDepartment.name)"><i class="fa fa-plus-circle" aria-hidden="true"> {{'psms.B0033' | translate}}</i></button>
                            </div>
                        </div>
                    </div> 
                    <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                        <ng-container matColumnDef="yearGroupName">
                            <mat-header-cell *matHeaderCellDef fxFlex="20">{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="20"> {{element.year_group_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.fullname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="leader">
                            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.LB0115' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="10"><i *ngIf="element.leader == true" class="fa fa-users" aria-hidden="true"></i></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="manage"> 
                            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'table.actions' | translate}}</mat-header-cell>
                            <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">
                                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" title="{{'buttonTitle.BTT003' | translate}}" (click)="onDelete(element.teacher_department_id, element.fullname)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </mat-cell> 
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                    </mat-table>
                    <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                </div> 
            </mat-card>
        </div>
    </div>
</div>