<div class="rp-page-title">{{'modeType.MSTU07'|translate}}</div> 
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1"
        ><br />
        <mat-expansion-panel-header
          collapsedHeight="40px"
          expandedHeight="40px"
          class="color-1"
        >
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="portlet light bordered">
          <div class="portlet-title">
            <form
              [formGroup]="searchForm"
              (ngSubmit)="onSearch(0)"
              autocomplete="off"> 
              
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0106'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select
                    class="form-control"
                    formControlName="classId"
                    (change)="ddlClassRoom()"
                  >
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option
                      *ngFor="let ele of classList"
                      [value]="ele.classSnameTh"
                    >
                      {{ ele.classSnameTh }}
                    </option></select
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" formControlName="classRoomId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option
                      *ngFor="let ele of classRoomList"
                      [value]="ele.classRoom"
                    >
                      {{ ele.classRoom }} {{ ele.classRoomSnameTh }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0087'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="stuCode"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0079'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FirstnameTh"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">{{'psms.LB0080'|translate}} :</label>
                </div>
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="LastnameTh"
                  />
                </div>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-bordered waves-effect waves-light m-r-15 btn-info"
                >
                  <i class="fa fa-search"> {{'button.search'|translate}}</i>
                </button>
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-danger" (click)=onCancel()>
                  <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-card>
        
        <mat-table
          [dataSource]="dataSource"
          class="table-responsive table table-bordered table-striped table-hover"
        >
         
          <ng-container matColumnDef="stuNo">
            <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
            <mat-cell
              *matCellDef="let element; let i = index"
              class="mat-cell-center"
            >
            {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} 
            </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.stu_code }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0089'|translate}}-{{'psms.LB0016'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.fullname }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{ element.class_room }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{'psms.LB0115'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center">
              {{print_card_status}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="yearStatus">
            <mat-header-cell *matHeaderCellDef>{{'table.actions'|translate}}</mat-header-cell>
            <mat-cell class="mat-cell-center" *matCellDef="let element">
              <button
                type="button"
                title="{{'buttonTitle.BTT005'|translate}}" 
                class="btn btn-bordered waves-effect waves-light btn-info"
                (click)="onForm(element.stu_profile_id)"
              >
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
        <mat-paginator
          [pageSizeOptions]="[10]"
          [length]="pageSize"
          (page)="onSearch($event)"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
