// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
@import url('https://fonts.googleapis.com/css?family=Athiti:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/theme";
@import "app/theme/styles/gradients";
@import "app/theme/styles/rtl";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "app/theme/styles/style2.css";
.rp-container,
.rp-content {
    background-color: #fafafa;
}

.rp-header {
    width: 100%;
    background-color: #465983;
}

.rp-container {
    width: 100%;
}

.rp-sidebar {
    width: 220px;
    min-height: 800px;
    background-color: #8399cb;
    float: left;
}

.rp-sidebar .rp-user-info {
    padding: 14px 8px;
    background-color: #afbcbe;
    font-size: 12px;
}

.rp-user-info .rp-label {
    color: #3a475a;
    font-weight: bold;
}

.rp-user-info .rp-value {
    color: #666;
}

.rp-sidebar .rp-menu-header {
    padding: 4px;
    background-color: #49496f;
    color: #fefefe;
    text-align: center;
}

.rp-sidebar .mat-expansion-panel {
    border-radius: 0;
}

.rp-sidebar .mat-expansion-panel-header {
    padding: 2px 10px !important;
    border: 1px solid #4f81ab;
    background-color: #4f81ab;
}

.rp-sidebar .mat-expansion-panel-header:hover {
    background-color: #598db8 !important;
}

.rp-sidebar .mat-expansion-panel-header-title {
    color: #fefefe !important;
}

.rp-sidebar .mat-expansion-panel-body {
    padding: 0;
}

.rp-user-info-bar {
    padding: 8px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.rp-menu {
    padding: 0px;
}

.rp-menu .rp-menu-expand {
    font-size: 12px;
}

.rp-menu .rp-menu-item {
    padding: 4px 4px 4px 18px;
    background-color: #90a7d8;
    color: #eee;
    border: 1px solid #8399cb;
    font-size: 12px;
}

.rp-menu .rp-menu-item:hover {
    background-color: #9fb3df;
    cursor: pointer;
}

.rp-content {
    padding: 0px 20px;
}

.rp-page-title {
    padding: 10px 20px;
    background-color: #283593;
    font-size: 18px;
    color: white;
}

.rp-form-label-input {
    margin-bottom: 5px;
}

.rp-form-label-input .fl-1 {
    width: 300px;
    vertical-align: top;
}

.rp-form-label-input .pl-1 {
    padding-left: 150px;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.rp-form-row {
    background-color: #fff;
    border: 1px solid #ddd;
}

.rp-btn-default {
    background-color: #a2a0a2;
    color: #fafafa;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.ml-1 {
    margin-left: 4px;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.ml-2 {
    margin-left: 8px;
}

.mat-expansion-panel.color-1 {
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

.mat-expansion-panel-header.color-1 {
    background-color: #fff;
}

.alert {
    padding: 5px 8px !important;
    margin-bottom: auto !important;
}

.form-control {
    margin-bottom: 10px;
}

.form-control.txt_red {
    color: #FF0000;
}

.form-control.txt_green {
    color: #00bf5f;
}

.form-control.txt_blue {
    color: #0000ff;
}

.txt_red {
    color: #FF0000;
}

.txt_green {
    color: #00bf5f;
}

.txt_blue {
    color: #0000ff
}

table.dataTable thead {
    background-color: #eee;
    // font-size: 14px;
}

.rp-panel-action {
    margin: 0px;
    padding: 10px 14px 0px 5px;
}


/***/

.portlet.light.bordered {
    border-width: 1.5px !important;
    border-style: solid !important;
    border-color: rgb(231, 236, 241) !important;
    border-image: initial !important;
}

.portlet.light {
    background-color: rgb(255, 255, 255);
    padding: 12px 20px 15px;
}

.portlet.bordered {
    border-left: 2px solid rgb(230, 233, 236) !important;
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    border-radius: 4px;
}


/***/

.labelField {
    padding-top: 10px;
}

.fontRed {
    color: red;
}

.borderFeildTB {
    border: 1px dashed black;
}


/* SELECT TAG*/

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.lbrequire {
    color: red;
}