<div class="rp-page-title">
  <div class="row">
    <div class="col-lg-10" style="font-size:20px">
      {{'modeType.MTEC06'|translate}}
    </div>
  </div>
</div>
<div class="portlet light bordered">
  <div mat-dialog-content>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-lg-12">
          <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)">
            <div class="portlet light bordered"><br>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField">{{'psms.LB0083'|translate}} :</label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classList" [value]="ele.class_id"> {{ele.class_sname_th}}</option>
                  </select>
                </div>
                <div class="col-sm-2 text-right">
                  <label class="labelField ">
                    {{'psms.LB0170'|translate}}/{{'psms.LB0047'|translate}} : 
                  </label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" formControlName="yearGroupId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of yearList" [value]="ele.yearGroupId">
                      {{ele.name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField">{{'psms.LB0084'|translate}} :</label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" formControlName="classRoomId" (change)="ddlSubject()">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of classRoomList" [value]="ele.class_room_id">
                      {{ ele.class_room }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2 text-right mt-2">
                  <font color="red">*{{'psms.LB0240'|translate}} </font>&nbsp;
                  <input type="checkbox" formControlName="checkDate" (change)="clearSearchDate()"> &nbsp;:
                </div>
                <div class="col-sm-2" *ngIf="searchForm.value.checkDate == true">
                  <div class="input-group">
                    <input [matDatepicker]="picker" class="form-control" formControlName="searchDate" [ngModel] ="date">
                    <div class="input-group-button">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <img matDatepickerToggleIcon src="../assets/img/icon/Calendar2.png">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right">
                  <label class="labelField">{{'psms.LB0241'|translate}} :</label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" formControlName="classRoomSubjectId">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option *ngFor="let ele of subjectList" [value]="ele.class_room_subject_id">
                      {{ele.subject_name_th}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2 text-right">
                  <label class="labelField">{{'psms.LB0242'|translate}} :</label>
                </div>
                <div class="col-sm-2">
                  <div>
                    <input class="form-control" placeholder="{{userName}}" disabled>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info">
                  <i class="fa fa-search" aria-hidden="true"> {{'button.search'|translate}}</i>
                </button>
                <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()">
                  <i class="fa fa-remove"> {{'button.cancel'|translate}}</i>
                </button>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="searchForm.value.checkDate == true">
            <div class="col-lg-3">
              <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                (click)="onPreviewPDF()" ><i class="fa fa-print" aria-hidden="true"> {{'psms.B0011'|translate}}</i></button > 
              <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                (click)="onExportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"> {{'psms.B0009'|translate}}
                </i></button>
              <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
                (click)="onExportExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"> {{'psms.B0010'|translate}}
                </i></button>
            </div>
            <div class="col-lg-9 text-right">
              <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
                (click)="onSave()"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
            </div>
          </div>
          <div class="row" *ngIf="searchForm.value.checkDate != true">
              <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-bordered waves-effect waves-light m-r-15 btn-success"
                  (click)="onSave()"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
              </div>
            </div>
          <div style=" margin:25px 5px 5px 5px;">
            <mat-table [dataSource]="dataSource"
              class="table-responsive table table-bordered table-striped table-hover">
              <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef>{{'table.no'|translate}}</mat-header-cell>
                <mat-cell class="mat-cell-center " *matCellDef="let element">{{element.classRoomNo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="stuCode">
                <mat-header-cell *matHeaderCellDef>{{'psms.LB0087'|translate}}</mat-header-cell>
                <mat-cell class="mat-cell-center " *matCellDef="let element">{{element.stuCode}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef class="col-lg-4">{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element" class="col-lg-4">{{element.fullname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dateTaken">
                <mat-header-cell *matHeaderCellDef>{{'psms.DT0074'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element.dateTaken == null ? null:util.transform(element.dateTaken)}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef class="col-lg-2">
                  <select class="form-control mt-2" (change)=onChooseReason($event) >
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="มาเรียน">มาเรียน</option>
                    <option value="ไม่มาเรียน">ไม่มาเรียน</option>
                    <option value=">ลา">ลา</option>
                  </select>
                </mat-header-cell>
                <mat-cell class="mat-cell-center mt-2 col-lg-2" *matCellDef="let element">
                  <select class="form-control " [(ngModel)]="element.reason">
                    <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                    <option value="มาเรียน" >มาเรียน</option>
                    <option value="ไม่มาเรียน">ไม่มาเรียน</option>
                    <option value=">ลา">ลา</option>
                  </select>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="remark">
                <mat-header-cell *matHeaderCellDef>{{'psms.DT0075'|translate}}</mat-header-cell>
                <mat-cell class="mat-cell-center " *matCellDef="let element">
                  <input type="text" class="form-control mt-2" [(ngModel)]="element.remark" (change)=onRemark($event)>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
            </mat-table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>