<br>
<div class="row">
  <div class="col-lg-6"></div>
  <div class="col-lg-6 text-right">
    <button type="button" class="btn btn-bordered waves-effect waves-light  btn-primary"
      (click)="printComponent('component1')"><i class="fa fa-print" aria-hidden="true"> พิมพ์</i></button>
  </div>
</div><br>
<div id="component1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="portlet light">
          <div class="portlet-title">
            <br>
            <div class="text-center">
              <img src="https://pramandapsms.com/assets/img/app/logo_Pramanda.gif" alt="" width="90" height="90"><br>
              <label class="bold">โรงเรียนพระมารดานิจจานุเคราะห์</label><br>
            </div><br>
            <div class="row">
              <div class="col-lg-1"><label class="labelField">ชั้น</label></div>
              <div class="col-lg-1"><label class="labelField">{{classRoom}}</label></div>
              <div class="col-lg-2"><label class="labelField">(เลขที่ {{classRoomNo}})</label></div>
            </div>
            <div class="row">
              <div class="col-lg-1"><label class="labelField">ชื่อ</label></div>
              <div class="col-lg-2"><label class="labelField">{{firstnameTh}}</label></div>
              <div class="col-lg-1"><label class="labelField">สกุล</label></div>
              <div class="col-lg-2"><label class="labelField">{{lastnameTh}}</label></div>
              <div class="col-lg-2"><label class="labelField">เลขประจำตัว</label></div>
              <div class="col-lg-3"><label class="labelField">{{stuCode}}</label></div>
            </div><br>

            <table class="table table-bordered table-striped table-hover" width="100%">
              <tr>
                <th class="text-center align" rowspan="2"><label class="labelField">ข้อ</label></th>
                <th class="text-center align" rowspan="2"><label class="labelField">ตัวบ่งชี้ในการประเมิณ</label></th>
                <th class="text-center" colspan="3"><label class="labelField">ปีการศึกษา {{yearGroupName}}</label></th>
              </tr>
              <tr>
                <th class="text-center"><label class="labelField">ครั้งที่ 1</label></th>
                <th class="text-center"><label class="labelField">ครั้งที่ 2</label></th>
                <th class="text-center"><label class="labelField">สรุป</label></th>
              </tr>
              <tbody *ngFor="let key of keys; let l = index ">
                <tr>
                  <td class="text-center"><label class="labelField">{{l+1}}</label></td>
                  <td><label class="labelField">{{key}}</label></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let element of groups[key]; let i = index ">
                  <td></td>
                  <td><label class="labelField">{{i+1}}.{{element.description}}</label></td>
                  <td class="text-center"><label class="labelField">{{element.score1}}</label></td>
                  <td class="text-center"><label class="labelField">{{element.score2}}</label></td>
                  <td><label class="labelField">{{element.sumScore}}</label></td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="dataSource.data.length == 0" class="text-center">ไม่พบข้อมูล</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>