<!-- <app-content-header icon="dashboard" desc="Welcome to Dashboard !" [hideBreadcrumb]="true" [hasBgImage]="true" [class]="'py-3'"></app-content-header> -->
<div class="p-2">
    <app-info-cards></app-info-cards>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
            <app-analytics></app-analytics>
        </div>
    </div>

    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="45" class="p-1">
            <app-disk-space></app-disk-space>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="55" class="p-1">
            <app-todo></app-todo>
        </div>
    </div>

</div>