<div class="rp-page-title">
  <div class="row"> 
      <div class="col-lg-10" style="font-size:34px">  
        {{'modeType.MACA16'|translate}} ({{_activityName}})
      </div>   
      <div class="col-lg-2 text-right mt-3"> 
          <a style="float: right;cursor: pointer" (click)="close()"> 
              <mat-icon>clear</mat-icon>
          </a> 
      </div>           
  </div>   
</div>
<div class="portlet light bordered">
    <div mat-dialog-content> 
        <div class="row m-2">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-bordered waves-effect waves-light  btn-success" (click)="onSave()" [disabled]="checkStu == false"><i class="fa fa-save"> {{'button.save'|translate}}</i></button>
                    </div>
                </div>  
                <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef  fxFlex="8"><input type="checkbox" [(ngModel)]="headerSelected" name="list_header" (change)="checkAll()" /></mat-header-cell>
                        <mat-cell  *matCellDef="let element" class="mat-cell-center"  fxFlex="8"><input type="checkbox" [(ngModel)]="element.isSelected" name="list_column" (change)="isAllSelected()" /></mat-cell> 
                    </ng-container>
                    <ng-container matColumnDef="classRoomNo"> 
                        <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="8"> {{element.class_room_no}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fullname">
                        <mat-header-cell *matHeaderCellDef fxFlex="60">{{'psms.DT0004'|translate}}-{{'psms.DT0005'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="60"> {{element.fullname}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="classRoom">
                        <mat-header-cell *matHeaderCellDef>{{'psms.DT0008'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.class_room}} </mat-cell> 
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="dataSource.data.length == 0" class="text-center">{{'table.notFound'|translate}}</div>
            </div>
        </div>
    </div>
</div>


