<div class="rp-page-title">{{'modeType.MACA07'|translate}}</div>
<div class="container-fluid"> 
    <div class="row">    
        <div class="col-lg-3"> 
            <mat-card>
                <div class="portlet light bordered">   
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="col-sm-12 text-center"> 
                            <label>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</label> 
                        </div> 
                        <select class="form-control" formControlName="yearGroupName"> 
                            <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                            <option *ngFor="let ele of yearGroupList" [value]="ele.name">{{ele.name}}</option>                   
                        </select>
                        <div class="col-sm-12 text-center">
                            <label>{{'psms.LB0232' | translate}}</label>
                        </div>  
                        <select multiple class="form-control" formControlName="classId" style="height:200px" (change)="ddlActivityGroup()">
                            <option *ngFor="let ele of classList" [value]="ele.classId">{{ele.classSnameTh}}</option>                   
                        </select>
                        <div class="col-sm-12 text-center"> 
                            <label>{{'psms.DT0048' | translate}}</label> 
                        </div>  
                        <select class="form-control" formControlName="activityGroupId"> 
                            <option value="" selected>-- {{'psms.LB0130' | translate}} --</option>
                            <option *ngFor="let ele of activityGroupList" [value]="ele.activityGroupId">{{ele.activityGroup}}</option>                   
                        </select>
                        <br>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search" aria-hidden="true"> {{'button.search' | translate}}</i></button>
                        </div> 
                    </form>    
                </div>      
            </mat-card>     
        </div>    
        <div class="col-lg-9">   
            <mat-card>
                <div class="rp-page-title text-center" style="margin-bottom:-20px; margin:0px 5px 5px 5px;">
                    {{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}} {{searchForm.value.yearGroupName}}
                </div>
                <!---------- บันทึก แนะแนว ---------->
                <div class="row" *ngIf="_activityGroupId == 1 && checkSearch == true || _activityGroupId == 5 && checkSearch == true" style="margin:10px 0px 5px 5px;">
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-bordered waves-effect waves-light btn-success btn-sm" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
                    </div>
                    <div class="col-lg-4 text-right">
                        <label class="labelField"><font color="red">* {{'psms.LB0260' | translate}} :</font></label>
                    </div>
                    <div class="col-lg-3 text-right">
                        <select class="form-control" [(ngModel)]="activity1All" (change)="selectedAc1All($event.target.value)"> 
                            <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>                          
                            <option value="true">ผ่าน </option>               
                            <option value="false">ไม่ผ่าน</option>             
                        </select> 
                    </div> 
                </div>

                <!---------- บันทึก ลูกเสือ ---------->
                <div class="row" *ngIf="_activityGroupId == 2 && checkSearch == true || _activityGroupId == 6 && checkSearch == true" style="margin:10px 0px 5px 5px;">
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-bordered waves-effect waves-light btn-success btn-sm" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
                    </div>
                    <div class="col-lg-4 text-right">
                        <label class="labelField"><font color="red">* {{'psms.LB0260' | translate}} :</font></label>
                    </div>
                    <div class="col-lg-3 text-right">
                        <select class="form-control" [(ngModel)]="activity2All" (change)="selectedAc2All($event.target.value)"> 
                            <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>                          
                            <option value="true">ผ่าน </option>               
                            <option value="false">ไม่ผ่าน</option>             
                        </select> 
                    </div>
                </div>

                <!---------- บันทึก ชุมนุม ---------->
                <div class="row" *ngIf="_activityGroupId == 3 && checkSearch == true || _activityGroupId == 7 && checkSearch == true" style="margin:10px 0px 5px 5px;">
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-bordered waves-effect waves-light btn-success btn-sm" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
                    </div>
                    <div class="col-lg-4 text-right">
                        <label class="labelField"><font color="red">* {{'psms.LB0260' | translate}} :</font></label>
                    </div>
                    <div class="col-lg-3 text-right">
                        <select class="form-control" [(ngModel)]="activity3All" (change)="selectedAc3All($event.target.value)"> 
                            <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>                          
                            <option value="true">ผ่าน </option>               
                            <option value="false">ไม่ผ่าน</option>             
                        </select> 
                    </div> 
                </div>

                <!---------- บันทึก จิตอาสา ---------->
                <div class="row" *ngIf="_activityGroupId == 4 && checkSearch == true || _activityGroupId == 8 && checkSearch == true" style="margin:10px 0px 5px 5px;"> 
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-bordered waves-effect waves-light btn-success btn-sm" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"> {{'button.save' | translate}}</i></button>
                    </div>
                    <div class="col-lg-4 text-right">
                        <label class="labelField"><font color="red">* {{'psms.LB0260' | translate}} :</font></label>
                    </div>
                    <div class="col-lg-3 text-right">
                        <select class="form-control" [(ngModel)]="activity4All" (change)="selectedAc4All($event.target.value)"> 
                            <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>                          
                            <option value="true">ผ่าน </option>               
                            <option value="false">ไม่ผ่าน</option>             
                        </select> 
                    </div>
                </div>
 
                <div style="margin:0px 5px 5px 5px;" *ngFor="let itemActivity of dataSourceActivity; let i = index;">
                    <!---------- แนะแนว || พละ ---------->
                    <div *ngIf="dataSource.data[i] != 0">
                        <div *ngIf="_activityGroupId == 1 || _activityGroupId == 5"> 
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemActivity.activityName}} 
                                    </div>
                                </div> 
                            </div>
                            <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                                <ng-container matColumnDef="yearGroupName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.yearGroupName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoom">
                                    <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.classRoom}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoomNo">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.classRoomNo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fullname">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstnameTh}}<br>{{element.lastnameTh}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0048' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.activity1name}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0261' | translate}}</mat-header-cell> 
                                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                                        <select class="form-control mt-2" [(ngModel)]="element.activity1result" (change)="selectedAc1Header()">
                                        <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>  
                                        <option value="true">ผ่าน </option>               
                                        <option value="false">ไม่ผ่าน</option>               
                                        </select>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acLesson">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.DT0091' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.activity1lesson}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                        </div>
                    </div>

                    <!---------- ลูกเสือเนตรนารี || คอมพิวเตอร์ ---------->
                    <div *ngIf="dataSource.data[i] != 0">
                        <div *ngIf="_activityGroupId == 2 || _activityGroupId == 6">
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemActivity.activityName}}
                                    </div>
                                </div>
                            </div>
                            <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                                <ng-container matColumnDef="yearGroupName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.yearGroupName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoom">
                                    <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.classRoom}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoomNo">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.classRoomNo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fullname">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstnameTh}}<br>{{element.lastnameTh}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0048' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.activity2name}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0261' | translate}}</mat-header-cell> 
                                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                                        <select class="form-control mt-2" [(ngModel)]="element.activity2result" (change)="selectedAc2Header()">
                                        <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>  
                                        <option value="true">ผ่าน </option>               
                                        <option value="false">ไม่ผ่าน</option>               
                                        </select>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acLesson">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.DT0091' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.activity2lesson}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                        </div>
                    </div>

                    <!---------- ชุมนุม || ดนตรี ---------->
                    <div *ngIf="dataSource.data[i] != 0">
                        <div *ngIf="_activityGroupId == 3 || _activityGroupId == 7">
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemActivity.activityName}}
                                    </div>
                                </div>
                            </div>
                            <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                                <ng-container matColumnDef="yearGroupName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.yearGroupName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoom">
                                    <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.classRoom}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoomNo">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.classRoomNo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fullname">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstnameTh}}<br>{{element.lastnameTh}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acName"> 
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0048' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.activity3name}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0261' | translate}}</mat-header-cell> 
                                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                                    <select class="form-control mt-2" [(ngModel)]="element.activity3result" (change)="selectedAc3Header()">
                                        <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>  
                                        <option value="true">ผ่าน </option>               
                                        <option value="false">ไม่ผ่าน</option>               
                                    </select>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acLesson">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.DT0091' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.activity3lesson}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                        </div>
                    </div>

                    <!---------- กิจกรรมเพื่อสังคม || conversation ---------->
                    <div *ngIf="dataSource.data[i] != 0">
                        <div *ngIf="_activityGroupId == 4 || _activityGroupId == 8">
                            <div class="rp-page-title" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-lg-7 mt-2">
                                        {{itemActivity.activityName}}
                                    </div>
                                </div>
                            </div> 
                            <mat-table [dataSource]="dataSource.data[i]" class="table-responsive table table-bordered table-striped table-hover">
                                <ng-container matColumnDef="yearGroupName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0170' | translate}}/{{'psms.DT0015' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element"> {{element.yearGroupName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoom">
                                    <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="12">{{element.classRoom}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="classRoomNo">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.LB0056' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.classRoomNo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fullname">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0004' | translate}} - {{'psms.DT0005' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.title}}{{element.firstnameTh}}<br>{{element.lastnameTh}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acName">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.DT0048' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-left" *matCellDef="let element">{{element.activity4name}} </mat-cell>
                                </ng-container> 
                                <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef>{{'psms.LB0261' | translate}}</mat-header-cell> 
                                    <mat-cell class="mat-cell-center" *matCellDef="let element">
                                        <select class="form-control mt-2" [(ngModel)]="element.activity4result" (change)="selectedAc4Header()">
                                        <option value="undefined" disabled selected>-- {{'psms.LB0130' | translate}} --</option>  
                                        <option value="true">ผ่าน </option>               
                                        <option value="false">ไม่ผ่าน</option>               
                                        </select>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="acLesson">
                                    <mat-header-cell *matHeaderCellDef fxFlex="8">{{'psms.DT0091' | translate}}</mat-header-cell>
                                    <mat-cell class="mat-cell-center" *matCellDef="let element" fxFlex="8">{{element.activity4lesson}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                            </mat-table>
                            <div *ngIf="dataSource.data[i] == 0" class="text-center">{{'table.notFound' | translate}}</div>
                        </div>
                    </div>
                </div><br>

            </mat-card>
        </div>
    </div>
</div>