<div class="rp-page-title">
  <div class="row">
    <div class="col-sm-6">
      {{headerType}} {{'modeType.MMST16'|translate}}
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-bordered waves-effect waves-light btn-success" (click)="onBack()"><i
          class="fa fa-arrow-circle-left"> {{'psms.B0015'|translate}}</i></button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSave()">
          <div class="portlet light bordered">
            <div class="portlet-title"><br />

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.LB0163'|translate}}<samp class="text-danger">*</samp>
                    :</label></div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="scoreName"
                    placeholder="{{'placeholder.P00001' | translate}}"
                    [ngClass]="{'error': validateValue == true && form.value.scoreName == null || validateValue == true && form.value.scoreName == ''}">

                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0052'|translate}}
                    :</label></div>
                <div class="col-sm-5">
                  <input [readonly]="form.value.iscatclass1 == true" type="text" class="form-control"
                    formControlName="fullScore1" placeholder="{{'placeholder.P00001' | translate}}"
                    (keypress)="onNumber($event)" maxlength="2">

                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0053'|translate}}
                    :</label></div>
                <div class="col-sm-5">
                  <input [readonly]="form.value.iscatclass1 == true" type="text" class="form-control"
                    formControlName="fullScoreMidterm" placeholder="{{'placeholder.P00001' | translate}}"
                    (keypress)="onNumber($event)" maxlength="2">

                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0054'|translate}}
                    :</label></div>
                <div class="col-sm-5">
                  <input [readonly]="form.value.iscatclass1 == true" type="text" class="form-control"
                    formControlName="fullScore2" placeholder="{{'placeholder.P00001' | translate}}"
                    (keypress)="onNumber($event)" maxlength="2">

                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0055'|translate}}<samp class="text-danger">*</samp>
                    :</label></div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="fullScoreFinal"
                    placeholder="{{'placeholder.P00001' | translate}}" (keypress)="onNumber($event)" maxlength="2"
                    [ngClass]="{'error': validateValue == true && form.value.fullScoreFinal == null || validateValue == true && form.value.fullScoreFinal == ''}">

                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0056'|translate}}
                    :</label></div>
                <div class="col-sm-5">
                  <input *ngIf="form.value.iscatclass1 == false" type="text" class="form-control"
                    formControlName="fullScoreTotal"
                    value="{{parseNum(form.value.fullScore1)+parseNum(form.value.fullScoreMidterm)+parseNum(form.value.fullScore2)+parseNum(form.value.fullScoreFinal)}}"
                    readonly>
                  <input *ngIf="form.value.iscatclass1 == true" type="text" class="form-control"
                    formControlName="fullScoreTotal" readonly>

                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0058'|translate}}
                    :</label></div>
                <div class="col-sm-5">
                  <input type="checkbox" formControlName="iscatclass1" (change)="changeScore($event)">

                </div>
              </div>
              <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0013'|translate}} :</label></div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="updatedUser" value="{{updatedUser}}" readonly>
                </div>
              </div>
              <div class="row" [ngClass]="{'hiddenInput ': mode =='เพิ่มข้อมูล'}">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-right"><label>{{'psms.DT0014'|translate}} :</label></div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="updatedDate"
                    value="{{updatedDate}} {{updatedDateTime | date :'HH:mm:ss' :'+700' :'en-US'}}" readonly>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-bordered waves-effect waves-light btn-success"><i
                    class="fa fa-floppy-o"> {{'psms.B0005'|translate}}</i></button>
                <button type="button" (click)="onCancel()" class="btn btn-bordered waves-effect waves-light btn-danger"><i
                    class="fa fa-remove">{{'psms.B0006'|translate}}</i></button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>