<div class="rp-page-title">{{'modeType.MREP02'|translate}}</div>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12" style="margin-top: 19px;">
      <mat-expansion-panel class="color-1">  
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px" class="color-1">
          <mat-panel-title>
            <i class="fa fa-search" aria-hidden="true"> {{'psms.LB0078'|translate}}</i>
          </mat-panel-title>
        </mat-expansion-panel-header><br />
        <form [formGroup]="searchForm" (ngSubmit)="onSearch(0)" autocomplete="off">
          <div class="portlet light bordered">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 mt-2 text-right">
                <label class="labelyear ">{{'psms.LB0170' | translate}}/{{'psms.LB0047'|translate}} :</label>
              </div> 
              <div class="col-sm-4">
                <select class="form-control" formControlName="yearGroupName">
                  <option value="" selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of yearList" [value]="ele.name">
                    {{ ele.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField ">{{'psms.LB0050'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classId" (change)="ddlClassRoom()">
                  <option value="" required selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of classList" [value]="ele.classId">
                    {{ ele.classLnameTh }}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField ">{{'psms.LB0084'|translate}} :</label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="classRoomId">
                  <option value="" required selected>-- {{'psms.LB0130'|translate}} --</option>
                  <option *ngFor="let ele of classRoomList" [value]="ele.classRoomId">
                    {{ ele.classRoom }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2 text-right">
                <label class="labelField ">{{'psms.LB0171'|translate}} :</label>
              </div>
              <div class="col">
                <div class="eradio">
                  <mat-radio-group formControlName="chooseLang">
                    <mat-radio-button color="primary" [value]="1" checked>TH</mat-radio-button>
                    <mat-radio-button color="primary" [value]="2">EN</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>   
            </div> 
 
            <div class="text-center">
              <button type="submit" class="btn btn-bordered waves-effect waves-light btn-info"><i class="fa fa-search"> {{'psms.B0004'|translate}}</i></button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-danger" (click)="onCancel()"><i class="fa fa-remove"> {{'psms.B0006'|translate}}</i></button> 
            </div>  
          </div> 
        </form>
      </mat-expansion-panel>
  
      <mat-card>
        <div class="row">
          <div class="col-lg-8" *ngIf="chechchooseTerm == true">
              <mat-radio-group [(ngModel)]="chooseTerm">
                <mat-radio-button color="primary" value="1">{{'psms.LB0172'|translate}}</mat-radio-button>
                <mat-radio-button color="primary" value="2">{{'psms.LB0173'|translate}}</mat-radio-button>
                <mat-radio-button color="primary" value="3" *ngIf="classRoomList && classRoomList[0]?.classRoomSnameTh.substring(0,1) != 'ม' || classRoomList[0].classRoomSnameTh == null "> {{'psms.LB0174'|translate}} </mat-radio-button>
              </mat-radio-group>
          </div>
          <div class="col-lg-4 text-right" *ngIf="chechchooseTerm == true">
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary" (click)=" onReportPDF()" [disabled]="selectlist == false"><i class="fa fa-print"> {{'psms.B0028'|translate}}</i></button>
              <button type="button" class="btn btn-bordered waves-effect waves-light btn-primary" (click)=" onReportXLS()" [disabled]="selectlist == false"><i class="fa fa-file-excel-o"> {{'psms.B0029'|translate}}</i></button>
          </div> 
        </div>
        <mat-table [dataSource]="dataSource" class="table-responsive table table-bordered table-striped table-hover">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef fxFlex="3"><input type="checkbox" [(ngModel)]="headerSelected" name="list_header" (change)="checkAll()" /></mat-header-cell>
            <mat-cell  *matCellDef="let element" class="mat-cell-center" fxFlex="3"><input type="checkbox" [(ngModel)]="element.isSelected" name="list_column" (change)="isAllSelected()" /></mat-cell> 
        </ng-container> 
          <ng-container matColumnDef="classRoomNo">
            <mat-header-cell *matHeaderCellDef fxFlex="10">{{'psms.LB0056'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="mat-cell-center" fxFlex="10">
              {{element.class_room_no}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stuCode">
            <mat-header-cell *matHeaderCellDef fxFlex="15">{{'psms.LB0087'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="15">
              {{ element.stu_code }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstNameTh">
            <mat-header-cell *matHeaderCellDef>{{'psms.DT0004'|translate}} - {{'psms.DT0005'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-left">
              {{ element.fullname }}
            </mat-cell> 
          </ng-container>   

          <ng-container matColumnDef="classRoom">
            <mat-header-cell *matHeaderCellDef fxFlex="12">{{'psms.DT0008'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-cell-center" fxFlex="12">
              {{ element.class_room }}
            </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="pageSize == 0" class="text-center">{{'psms.LB0128'|translate}}</div>
        <mat-paginator [pageSizeOptions]="[10]" [length]="pageSize" (page)="onSearch($event)" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>